<template>
  <div class="app animated fadeIn">
    <fullscreen ref="fullscreen" @change="fullscreenChange">
    <AppHeader class="bg-dark" style="height: 60px;" fixed>

        <!-- MOBILE HEADER -->
        <SidebarToggler class="d-lg-none" display="md" mobile />
        <b-link class="navbar-brand d-lg-none" to="#">
        <img class="navbar-brand-full" src="img/brand/logo.png" width="89" height="25" alt="CoreUI Logo">
        <img class="navbar-brand-minimized" src="img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">
        </b-link>
        <b-navbar-nav class="ml-auto d-lg-none">
        <DefaultHeaderDropdownAccnt/>
      </b-navbar-nav>
      <!-- <AsideToggler class="d-lg-none" mobile /> -->
      <b-nav-item class="d-lg-none">
        <b-button title="Portfolio" variant="dark" style="margin-top: -25px;" to="/home/portfolio_list"> <i class="fa fa-folder-open-o fa-lg" to="/home/portfolio"></i> </b-button>
      </b-nav-item>
      <!-- MOBILE HEADER ENDS -->


      <!-- DESKTOP HEADER -->
      <div v-if="this.bar == null" class="brand-card-body ml-2 mb-2 d-md-down-none" style="width:100%;"> 
           
            <div>
              <div class="text-uppercase font-weight-bold font-xs float-left ml-3 text-light"> AUD/USD </div> <span class="float-right mr-3 text-light"> -- </span><br>
              <div class="h6 text-warning mb-0 mt-1 float-left ml-3"> --  <small class="ml-1"> -- </small> </div>
            </div>
            <div>
              <div class="text-uppercase font-weight-bold font-xs float-left ml-3 text-light"> Gold </div> <span class="float-right mr-3 text-light"> -- </span><br>
              <div class="h6 text-warning mb-0 mt-1 float-left ml-3"> --  <small class="ml-1"> -- </small> </div>              
            </div>
            <div>
              <div class="text-uppercase font-weight-bold font-xs float-left ml-3 text-light"> Silver </div> <span class="float-right mr-3 text-light"> -- </span><br>
              <div class="h6 text-warning mb-0 mt-1 float-left ml-3"> --  <small class="ml-1"> -- </small> </div>
            </div>
            <div>
              <div class="text-uppercase font-weight-bold font-xs float-left ml-3 text-light"> JPY/USD </div> <span class="float-right mr-3 text-light"> -- </span><br>
              <div class="h6 text-warning mb-0 mt-1 float-left ml-3"> --  <small class="ml-1"> -- </small> </div> 
            </div>
            <div>
              <div class="text-uppercase font-weight-bold font-xs float-left ml-3 text-light"> Nasdaq US </div> <span class="float-right mr-3 text-light"> -- </span><br>
              <div class="h6 text-warning mb-0 mt-1 float-left ml-3"> --  <small class="ml-1"> -- </small> </div>
            </div>
            <div>
              <div class="text-uppercase font-weight-bold font-xs float-left ml-3 text-light"> Nasdaq Global </div> <span class="float-right mr-3 text-light"> -- </span><br>
              <div class="h6 text-warning mb-0 mt-1 float-left ml-3"> --  <small class="ml-1"> -- </small> </div> 
            </div>
            <div>
              <div class="text-uppercase font-weight-bold font-xs float-left ml-3 text-light"> Nasdaq Asia </div> <span class="float-right mr-3 text-light"> -- </span><br>
              <div class="h6 text-warning mb-0 mt-1 float-left ml-3"> --  <small class="ml-1"> -- </small> </div> 
            </div>
            <div class="my-div">
              <div class="text-uppercase font-weight-bold font-xs float-left ml-3 text-light"> Nasdaq India </div> <span class="float-right mr-3 text-light"> -- </span><br>
              <div class="h6 text-warning mb-0 mt-1 float-left ml-3"> --  <small class="ml-1"> -- </small> </div> 
            </div>           
          </div>


        <div v-else class="brand-card-body ml-2 mb-2 mt-2 d-md-down-none" style="width:100%;"> 
           
            <div>
              <div class="text-uppercase font-weight-bold font-xs float-left ml-3 text-light"> AUD/USD </div> <span class="float-right mr-3 text-info"> {{this.bar[0].AUD_USD_D}} </span><br>
              <div v-if="this.bar[1].AUD_USD_D_Change > 0" class="h6 text-success mb-0 mt-1 float-left ml-3"> <i class="icon-arrow-up mr-2 "></i>{{this.bar[2].AUD_USD_D_PChange}}%  <small class="ml-1"> {{this.bar[1].AUD_USD_D_Change}} </small> </div>
              <div v-else class="h6 text-danger mb-0 mt-1 float-left ml-3"> <i class="icon-arrow-down mr-2 "></i>{{this.bar[2].AUD_USD_D_PChange}}%  <small class="ml-1"> {{this.bar[1].AUD_USD_D_Change}} </small> </div>
            </div>
            <div>
              <div class="text-uppercase font-weight-bold font-xs float-left ml-3 text-light"> Gold </div> <span class="float-right mr-3 text-info"> {{this.bar[3].GOLD_USD_D}} </span><br>
              <div v-if="this.bar[4].GOLD_USD_D_Change > 0" class="h6 text-success mb-0 mt-1 float-left ml-3"> <i class="icon-arrow-up mr-2 "></i>{{this.bar[5].GOLD_USD_D_PChange}}%  <small class="ml-1"> {{this.bar[4].GOLD_USD_D_Change}} </small> </div>
              <div v-else class="h6 text-danger mb-0 mt-1 float-left ml-3"> <i class="icon-arrow-down mr-2 "></i>{{this.bar[5].GOLD_USD_D_PChange}}%  <small class="ml-1"> {{this.bar[4].GOLD_USD_D_Change}} </small> </div>
            </div>
            <div>
              <div class="text-uppercase font-weight-bold font-xs float-left ml-3 text-light"> Silver </div> <span class="float-right mr-3 text-info"> {{this.bar[6].SLVR_USD_D}} </span><br>
              <div v-if="this.bar[7].SLVR_USD_D_Change > 0" class="h6 text-success mb-0 mt-1 float-left ml-3"> <i class="icon-arrow-up mr-2 "></i>{{this.bar[8].SLVR_USD_D_PChange}}%  <small class="ml-1"> {{this.bar[7].SLVR_USD_D_Change}} </small> </div>
              <div v-else class="h6 text-danger mb-0 mt-1 float-left ml-3"> <i class="icon-arrow-down mr-2 "></i>{{this.bar[8].SLVR_USD_D_PChange}}%  <small class="ml-1"> {{this.bar[7].SLVR_USD_D_Change}} </small> </div> 
            </div>
            <div>
              <div class="text-uppercase font-weight-bold font-xs float-left ml-3 text-light"> JPY/USD </div> <span class="float-right mr-3 text-info"> {{this.bar[9].USD_JPY_D}} </span><br>
              <div v-if="this.bar[10].USD_JPY_D_Change > 0" class="h6 text-success mb-0 mt-1 float-left ml-3"> <i class="icon-arrow-up mr-2 "></i>{{this.bar[11].USD_JPY_D_PChange}}%  <small class="ml-1"> {{this.bar[10].USD_JPY_D_Change}} </small> </div>
              <div v-else class="h6 text-danger mb-0 mt-1 float-left ml-3"> <i class="icon-arrow-down mr-2 "></i>{{this.bar[11].USD_JPY_D_PChange}}%  <small class="ml-1"> {{this.bar[10].USD_JPY_D_Change}} </small> </div>
            </div>
            <div>
              <div class="text-uppercase font-weight-bold font-xs float-left ml-3 text-light"> Nasdaq US </div> <span class="float-right mr-3 text-info"> {{this.bar[12].NASDAQ}} </span><br>
              <div v-if="this.bar[13].NASDAQ_Change > 0" class="h6 text-success mb-0 mt-1 float-left ml-3"> <i class="icon-arrow-up mr-2 "></i>{{this.bar[14].NASDAQ_PChange}}%  <small class="ml-1"> {{this.bar[13].NASDAQ_Change}} </small> </div>
              <div v-else class="h6 text-danger mb-0 mt-1 float-left ml-3"> <i class="icon-arrow-down mr-2 "></i>{{this.bar[14].NASDAQ_PChange}}%  <small class="ml-1"> {{this.bar[13].NASDAQ_Change}} </small> </div>
            </div>
            <div>
              <div class="text-uppercase font-weight-bold font-xs float-left ml-3 text-light"> Nasdaq Global </div> <span class="float-right mr-3 text-info"> {{this.bar[15].NQGI}} </span><br>
              <div v-if="this.bar[16].NQGI_Change > 0" class="h6 text-success mb-0 mt-1 float-left ml-3"> <i class="icon-arrow-up mr-2 "></i>{{this.bar[17].NQGI_PChange}}%  <small class="ml-1"> {{this.bar[16].NQGI_Change}} </small> </div>
              <div v-else class="h6 text-danger mb-0 mt-1 float-left ml-3"> <i class="icon-arrow-down mr-2 "></i>{{this.bar[17].NQGI_PChange}}%  <small class="ml-1"> {{this.bar[16].NQGI_Change}} </small> </div> 
            </div>
            <div>
              <div class="text-uppercase font-weight-bold font-xs float-left ml-3 text-light"> Nasdaq Asia </div> <span class="float-right mr-3 text-info"> {{this.bar[18].NQASIA}} </span><br>
              <div v-if="this.bar[19].NQASIA_Change > 0" class="h6 text-success mb-0 mt-1 float-left ml-3"> <i class="icon-arrow-up mr-2 "></i>{{this.bar[20].NQASIA_PChange}}%  <small class="ml-1"> {{this.bar[19].NQASIA_Change}} </small> </div>
              <div v-else class="h6 text-danger mb-0 mt-1 float-left ml-3"> <i class="icon-arrow-down mr-2 "></i>{{this.bar[20].NQASIA_PChange}}%  <small class="ml-1"> {{this.bar[19].NQASIA_Change}} </small> </div> 
            </div>
            <div class="my-div">
              <div class="text-uppercase font-weight-bold font-xs float-left ml-3 text-light"> Nasdaq India </div> <span class="float-right mr-3 text-info"> {{this.bar[21].NQIN}} </span><br>
              <div v-if="this.bar[22].NQIN_Change > 0" class="h6 text-success mb-0 mt-1 float-left ml-3"> <i class="icon-arrow-up mr-2 "></i>{{this.bar[23].NQIN_PChange}}%  <small class="ml-1"> {{this.bar[22].NQIN_Change}} </small> </div>
              <div v-else class="h6 text-danger mb-0 mt-1 float-left ml-3"> <i class="icon-arrow-down mr-2 "></i>{{this.bar[23].NQIN_PChange}}%  <small class="ml-1"> {{this.bar[22].NQIN_Change}} </small> </div>
            </div>           
          </div>
       
    </AppHeader>


     <AppHeader class="header bg-secondary" style="margin-top: 60px;" fixed>
       <div class="container-fluid">
         <SidebarToggler class="d-lg-none" display="md" mobile />
       <b-link class="navbar-brand" to="#">
         <img class="navbar-brand-full" src="img/brand/second.svg" width="125" height="33" alt="CoreUI Logo">
         <img class="navbar-brand-minimized" src="img/brand/sygnet.svg" width="30" height="30" alt="CoreUI Logo">
       </b-link>
       <SidebarToggler class="d-md-down-none" display="lg" style="margin-left: -6px;"/>
       <Breadcrumb :list="list" style="border: none; padding :0; background-color: transparent;" class="mt-3 ml-1"/>
            
       <b-navbar-nav class="ml-auto">

              <b-nav-form class="mr-3">
                <!-- <v-select size="sm" class="bg-white mr-sm-2" id="basicText2" v-model="selected_stock" :options="options" @change="stock_all()" placeholder="Select stock" style="width: 500px;"></v-select> -->
                

              <b-form-group >
                <v-select size="sm" class="vselect" v-model="selected_stock" :options="options" single-line placeholder="Search company name" style="width: 500px;" v-on:input="temp_function(`${selected_stock.value}`)">
                    <template slot="option" slot-scope="option">
                          <span> {{ option.label }} <span class="float-right text-muted"> ( {{ option.value }} ) </span> </span>
                    </template>
                  </v-select>
              </b-form-group>
                <!-- <b-button size="sm" class="my-2 ml-2 my-sm-0" type="submit" variant="primary" :to="{ name: 'Stock', params: { name: selected_stock }}"><i class="fa fa-search fa-sm"></i></b-button> -->
              </b-nav-form>

              <b-navbar-nav class="ml-auto">
                <b-nav-item class="d-md-down-none">
                  <i v-if="fullscreen == false" class="icon-size-fullscreen icons font-2xl d-block mt-0 ml-1 mr-3" @click="toggleFullScreen" ></i>
                  <i v-else class="icon-size-actual icons font-2xl d-block mt-0 ml-1 mr-3" @click="toggleFullScreen" ></i>
                </b-nav-item>
                <b-nav-item-dropdown text="Market" class="mr-1 ml-1" right>
                  <b-dropdown-item :to="{ name: 'Home'}">All</b-dropdown-item>
                  <b-dropdown-item :to="{ name: 'IN'}">Indian</b-dropdown-item>
                  <b-dropdown-item :to="{ name: 'US'}">American</b-dropdown-item>
                </b-nav-item-dropdown>
                <b-nav-item class="d-md-down-none">
                  <DefaultHeaderDropdownMssgs/>
                </b-nav-item>
                <!-- <b-nav-item class="d-md-down-none">
                  <DefaultHeaderDropdownNotif/>
                </b-nav-item> -->
                <!-- <b-nav-item class="d-md-down-none">
                  <DefaultHeaderDropdownTasks/>
                </b-nav-item> -->
                <b-nav-item class="d-md-down-none">
                  <!-- <b-button variant="light" to="/home/portfolio"> <i class="cui-cart icons font-2xl d-block"></i> </b-button> -->
                  <PortfolioCart/>
                </b-nav-item>
                
                  <c-switch size="sm" class="ml-3 mr-3" v-model="tgle"  @change="check()" color="info" label outline="alt" variant="pill" v-bind="labelIcon" />

                <DefaultHeaderDropdownAccnt/>
                <!-- <AsideToggler class="d-none d-lg-block" style="border:none;" /> -->
              </b-navbar-nav>
            </b-navbar-nav>
       </div>
     </AppHeader>
    

    <div v-bind:class="{ tool: tgle }" class="app-body">
      <AppSidebar style="margin-top: 55px;" fixed>
        <SidebarHeader/>
        <SidebarForm/>
        <SidebarNav :navItems="nav"></SidebarNav>
        <SidebarFooter/>
        <SidebarMinimizer/>
      </AppSidebar>
      <main class="main" style="margin-top: 80px;">

      <!-- <Breadcrumb :list="list" style="border: none; padding :0; background-color: transparent;" class="ml-3 mt-2"/>  -->
      <!-- <Breadcrumb :list="list"/> -->
        <!-- MOBILE BREADCRUM -->
        <Breadcrumb :list="list" class="d-lg-none" style="border: none;" />
        
        <div  style="padding: 0 15px;">
      
          <router-view></router-view>
          <hr class="mt-2 mb-4">

          <!-- FOOTER DESKTOP -->
          <div class="d-md-down-none">
              <b-card class="bg-secondary" style="border:none;">
                <blockquote class="card-blockquote">
                  <div class="container brand-card-body">
                      <div>
                        Stock&nbsp;List:
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'A' }}">A</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'B' }}"> B</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'C' }}"> C </b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'D' }}"> D</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'E' }}"> E</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'F' }}"> F</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'G' }}"> G</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'H' }}"> H</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'I' }}"> I</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'J' }}"> J</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'K' }}"> K</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'L' }}"> L</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'M' }}"> M</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'N' }}"> N</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'O' }}"> O</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'P' }}"> P</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'Q' }}"> Q</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'R' }}"> R</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'S' }}"> S</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'T' }}"> T</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'U' }}"> U</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'V' }}"> V</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'W' }}"> W</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'X' }}"> X</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'Y' }}"> Y</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'Z' }}"> Z</b-link>
                        </div>
                        <div>
                        <b-link :to="{ name: 'Stock List By Name', params: { name: 'others' }}"> Others</b-link>
                        </div>

                    </div>
                  <hr class="mb-4">
                    <p>© Copyright  2018 Finflock.com, &nbsp; All Rights Reserved. <span class="float-right"> Follow us on social media:
                        <b-button to="/info" size="sm" variant="facebook icon" class="btn-brand mr-2 ml-4"><i class="fa fa-facebook"></i></b-button>
                        <b-button to="/info" size="sm" variant="google-plus icon" class="btn-brand mr-2"><i class="fa fa-google-plus"></i></b-button>
                        <b-button href="https://www.linkedin.com/company/finflock-systems-pvt-ltd/?originalSubdomain=in" size="sm" variant="linkedin icon" class="btn-brand mr-2"><i class="fa fa-linkedin"></i></b-button>
                        <b-button to="/info" size="sm" variant="youtube icon" class="btn-brand mr-2"><i class="fa fa-youtube"></i></b-button>
                        <b-button to="/info" size="sm" variant="twitter icon" class="btn-brand mr-2"><i class="fa fa-twitter"></i></b-button>
                        </span>
                    </p>
                    <hr class="my-4">
                    <footer>
                    <div class="brand-card-body">
                        <div style="border-right: 1px solid black;">
                        <b-link to="/info">About Us</b-link>
                        </div>
                        <div style="border-right: 1px solid black;">
                        <b-link to="/info"> Terms & Conditions</b-link>
                        </div>
                        <div style="border-right: 1px solid black;">
                        <b-link to="/info"> Privacy Policy </b-link>
                        </div>
                        <div style="border-right: 1px solid black;">
                        <b-link to="/info"> Disclaimer</b-link>
                        </div>
                        <div style="border-right: 1px solid black;">
                        <b-link to="/info"> Sitemap</b-link>
                        </div>
                        <div style="border-right: 1px solid black;">
                        <b-link to="/info"> Notices</b-link>
                        </div>
                        <div style="border-right: 1px solid black;">
                        <b-link to="/info"> Contact Us</b-link>
                        </div>
                        <div style="border-right: 1px solid black;">
                        <b-link to="/info"> Blog</b-link>
                        </div>
                        <div style="border-right: 1px solid black;">
                        <b-link to="/info"> Careers</b-link>
                        </div>
                        <div style="border-right: 1px solid black;">
                        <b-link to="/info"> FAQ</b-link>
                        </div>
                        <div>
                        <b-link to="/info"> Media</b-link>
                        </div>
                    </div>
                    <div class="text-center text-muted mt-3" style="margin-bottom: -20px;">
                        <div>   <span class="mr-2">Telephone:&nbsp; 9116464696728</span>    <span class="ml-2">Email:&nbsp; info@finflock.com</span>  </div>
                        <div>Address:&nbsp; 33 Gold St, New York, NY 10038, USA</div>
                    </div>
                    </footer>
                </blockquote>
                </b-card>
            </div>

            <!-- FOOTER MOBILE  -->
            <div class="d-lg-none">
                <b-card class="bg-secondary text-center" style="border:none;">
                    <p>© Copyright  2019 Finflock.com, &nbsp; All Rights Reserved. </p>
                    <hr >
                    <p> Follow us on social media:
                        <b-button to="/info" size="sm" variant="facebook icon" class="btn-brand mr-2 ml-4"><i class="fa fa-facebook"></i></b-button>
                        <b-button to="/info" size="sm" variant="google-plus icon" class="btn-brand mr-2"><i class="fa fa-google-plus"></i></b-button>
                        <b-button href="https://www.linkedin.com/company/finflock-systems-pvt-ltd/?originalSubdomain=in" size="sm" variant="linkedin icon" class="btn-brand mr-2"><i class="fa fa-linkedin"></i></b-button>
                        <!-- <b-button size="sm" variant="youtube icon" class="btn-brand mr-2"><i class="fa fa-youtube"></i></b-button> -->
                        <b-button to="/info" size="sm" variant="twitter icon" class="btn-brand mr-2"><i class="fa fa-twitter"></i></b-button>
                    </p>
                    <hr >
                    <div class="brand-card-body font-xs">
                        <div style="border-right: 1px solid black;">
                        <b-link to="/info">About Us</b-link>
                        </div>
                        <!-- <div style="border-right: 1px solid black;">
                        <b-link to="/info"> Terms & Conditions</b-link>
                        </div> -->
                        <div style="border-right: 1px solid black;">
                        <b-link to="/info"> Privacy Policy </b-link>
                        </div>
                        <!-- <div style="border-right: 1px solid black;">
                        <b-link to="/info"> Disclaimer</b-link>
                        </div> -->
                        <!-- <div style="border-right: 1px solid black;">
                        <b-link to="/info"> Sitemap</b-link>
                        </div> -->
                        <!-- <div style="border-right: 1px solid black;">
                        <b-link to="/info"> Notices</b-link>
                        </div> -->
                        <div style="border-right: 1px solid black;">
                        <b-link to="/info"> Contact Us</b-link>
                        </div>
                        <div style="border-right: 1px solid black;">
                        <b-link to="/info"> Blog</b-link>
                        </div>
                        <!-- <div style="border-right: 1px solid black;">
                        <b-link to="/info"> Careers</b-link>
                        </div> -->
                        <!-- <div style="border-right: 1px solid black;">
                        <b-link to="/info"> FAQ</b-link>
                        </div> -->
                        <!-- <div>
                        <b-link to="/info"> Media</b-link>
                        </div> -->
                    </div>
                    <hr >
                    <div class="text-center text-muted">
                        <!-- <div>    -->
                        <div><b>Telephone:</b> &nbsp; 9116464696728</div>   
                        <div class="mt-1"> <b> Email:</b> &nbsp; info@finflock.com</div> 
                        <!-- </div> -->
                        <div  class="mt-1"> <b> Address:</b> &nbsp; 33 Gold St, New York, NY 10038, USA</div>
                    </div>
                </b-card>
            </div>
          <back-to-top text="Back to top" visibleoffset="400" bottom="50px" right="0px"></back-to-top>
        </div>
      </main>
      <AppAside fixed>
        <!--aside-->
        <DefaultAside/>
      </AppAside>
    </div>

    
    <TheFooter fixed v-if="this.gainers != null" >
      <marquee-text
          :duration="45"
          :repeat="20"
          class="py-2 text-white"
        >
     
          <span v-if="this.gain_count > 0"> {{ this.gainers[0].symbol }}  <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.gainers[0].ltp }} </span>    <span class="badge badge-success ml-1" style="font-size: 100%;"> <i class="icon-arrow-up"></i> {{ this.gainers[0].Change }} %</span>  &nbsp;&nbsp; </span>
          <span v-if="this.lose_count > 0"> {{ this.losers[0].symbol }}   <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.losers[0].ltp }} </span>      <span class="badge badge-danger ml-1" style="font-size: 100%;"> <i class="icon-arrow-down"></i>  {{ this.losers[0].Change }} %</span>   &nbsp;&nbsp; </span>
          <span v-if="this.gain_count > 1"> {{ this.gainers[1].symbol }}  <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.gainers[1].ltp }} </span>    <span class="badge badge-success ml-1" style="font-size: 100%;"> <i class="icon-arrow-up"></i>  {{ this.gainers[1].Change }} %</span>  &nbsp;&nbsp; </span>
          <span v-if="this.lose_count > 1"> {{ this.losers[1].symbol }}   <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.losers[1].ltp }} </span>       <span class="badge badge-danger ml-1" style="font-size: 100%;"> <i class="icon-arrow-down"></i>  {{ this.losers[1].Change }} %</span>    &nbsp;&nbsp; </span>
          <span v-if="this.gain_count > 2"> {{ this.gainers[2].symbol }}  <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.gainers[2].ltp }} </span>    <span class="badge badge-success ml-1" style="font-size: 100%;"> <i class="icon-arrow-up"></i>  {{ this.gainers[2].Change }} %</span>  &nbsp;&nbsp; </span>
          <span v-if="this.lose_count > 2"> {{ this.losers[2].symbol }}   <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.losers[2].ltp }} </span>       <span class="badge badge-danger ml-1" style="font-size: 100%;"> <i class="icon-arrow-down"></i>  {{ this.losers[2].Change }} %</span>    &nbsp;&nbsp; </span>
          <span v-if="this.gain_count > 3"> {{ this.gainers[3].symbol }}  <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.gainers[3].ltp }} </span>      <span class="badge badge-success ml-1" style="font-size: 100%;"> <i class="icon-arrow-up"></i>  {{ this.gainers[3].Change }} %</span>  &nbsp;&nbsp; </span>
          <span v-if="this.lose_count > 3"> {{ this.losers[3].symbol }}   <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.losers[3].ltp }} </span>      <span class="badge badge-danger ml-1" style="font-size: 100%;"> <i class="icon-arrow-down"></i>  {{ this.losers[3].Change }} %</span>   &nbsp;&nbsp; </span>
          <span v-if="this.gain_count > 4"> {{ this.gainers[4].symbol }}  <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.gainers[4].ltp }} </span>      <span class="badge badge-success ml-1" style="font-size: 100%;"> <i class="icon-arrow-up"></i>  {{ this.gainers[4].Change }} %</span>  &nbsp;&nbsp; </span>
          <span v-if="this.lose_count > 4"> {{ this.losers[4].symbol }}   <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.losers[4].ltp }} </span>      <span class="badge badge-danger ml-1" style="font-size: 100%;"> <i class="icon-arrow-down"></i>  {{ this.losers[4].Change }} %</span>   &nbsp;&nbsp; </span>
          <span v-if="this.gain_count > 5"> {{ this.gainers[5].symbol }}  <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.gainers[5].ltp }} </span>      <span class="badge badge-success ml-1" style="font-size: 100%;"> <i class="icon-arrow-up"></i>  {{ this.gainers[5].Change }} %</span>  &nbsp;&nbsp; </span>
          <span v-if="this.lose_count > 5"> {{ this.losers[5].symbol }}   <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.losers[5].ltp }} </span>      <span class="badge badge-danger ml-1" style="font-size: 100%;"> <i class="icon-arrow-down"></i>  {{ this.losers[5].Change }} %</span>   &nbsp;&nbsp; </span>
          <span v-if="this.gain_count > 6"> {{ this.gainers[6].symbol }}  <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.gainers[6].ltp }} </span>      <span class="badge badge-success ml-1" style="font-size: 100%;"> <i class="icon-arrow-up"></i>  {{ this.gainers[6].Change }} %</span>  &nbsp;&nbsp; </span>
          <span v-if="this.lose_count > 6"> {{ this.losers[6].symbol }}   <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.losers[6].ltp }} </span>      <span class="badge badge-danger ml-1" style="font-size: 100%;"> <i class="icon-arrow-down"></i>  {{ this.losers[6].Change }} %</span>   &nbsp;&nbsp; </span>
          <span v-if="this.gain_count > 7"> {{ this.gainers[7].symbol }}  <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.gainers[7].ltp }} </span>      <span class="badge badge-success ml-1" style="font-size: 100%;"> <i class="icon-arrow-up"></i>  {{ this.gainers[7].Change }} %</span>  &nbsp;&nbsp; </span>
          <span v-if="this.lose_count > 7"> {{ this.losers[7].symbol }}   <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.losers[7].ltp }} </span>      <span class="badge badge-danger ml-1" style="font-size: 100%;"> <i class="icon-arrow-down"></i>  {{ this.losers[7].Change }} %</span>   &nbsp;&nbsp; </span>
          <span v-if="this.gain_count > 8"> {{ this.gainers[8].symbol }}  <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.gainers[8].ltp }} </span>      <span class="badge badge-success ml-1" style="font-size: 100%;"> <i class="icon-arrow-up"></i>  {{ this.gainers[8].Change }} %</span>  &nbsp;&nbsp; </span>
          <span v-if="this.lose_count > 8"> {{ this.losers[8].symbol }}   <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.losers[8].ltp }} </span>      <span class="badge badge-danger ml-1" style="font-size: 100%;"> <i class="icon-arrow-down"></i>  {{ this.losers[8].Change }} %</span>   &nbsp;&nbsp; </span>
          <span v-if="this.gain_count > 9"> {{ this.gainers[9].symbol }}  <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.gainers[9].ltp }} </span>      <span class="badge badge-success ml-1" style="font-size: 100%;"> <i class="icon-arrow-up"></i>  {{ this.gainers[9].Change }} %</span>  &nbsp;&nbsp; </span>
          <span v-if="this.lose_count > 9"> {{ this.losers[9].symbol }}   <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.losers[9].ltp }} </span>      <span class="badge badge-danger ml-1" style="font-size: 100%;"> <i class="icon-arrow-down"></i>  {{ this.losers[9].Change }} %</span>   &nbsp;&nbsp; </span>
          <span> {{ this.gainers[0].symbol }}  <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.gainers[0].ltp }} </span>      <span class="badge badge-success ml-1" style="font-size: 100%;"> <i class="icon-arrow-up"></i>  {{ this.gainers[0].Change }} %</span>  &nbsp;&nbsp; </span>
          <span> {{ this.losers[0].symbol }}   <span class="badge badge-info ml-1" style="font-size: 100%;"> {{ this.losers[0].ltp }} </span>      <span class="badge badge-danger ml-1" style="font-size: 100%;"> <i class="icon-arrow-down"></i>  {{ this.losers[0].Change }} %</span>   &nbsp;&nbsp; </span>
        </marquee-text>
      </TheFooter>
    </fullscreen>
  </div>
</template>

<script>

import nav from '@/_navUS'
import { Header as AppHeader, SidebarToggler, Sidebar as AppSidebar, SidebarFooter, SidebarForm, SidebarHeader, SidebarMinimizer, SidebarNav, Aside as AppAside, AsideToggler, Footer as TheFooter, Breadcrumb } from '@coreui/vue'
import DefaultAside from '../../containers/DefaultAside'
import DefaultHeaderDropdown from '../../containers/DefaultHeaderDropdown'
import DefaultHeaderDropdownNotif from '../../containers/DefaultHeaderDropdownNotif'
import DefaultHeaderDropdownAccnt from '../../containers/DefaultHeaderDropdownAccnt'
import DefaultHeaderDropdownMssgs from '../../containers/DefaultHeaderDropdownMssgs'
import DefaultHeaderDropdownTasks from '../../containers/DefaultHeaderDropdownTasks'
import PortfolioCart from '../../containers/PortfolioCart'
import MarqueeText from '../MarqueeText.vue'
import axios from 'axios';
import { Switch as cSwitch } from '@coreui/vue'
import Fullscreen from "vue-fullscreen/src/component.vue"
import vSelect from 'vue-select'


export default {
  name: 'DefaultContainer',
  components: {
    AsideToggler,
    AppHeader,
    AppSidebar,
    AppAside,
    TheFooter,
    Breadcrumb,
    DefaultAside,
    DefaultHeaderDropdown,
    DefaultHeaderDropdownMssgs,
    DefaultHeaderDropdownNotif,
    DefaultHeaderDropdownTasks,
    DefaultHeaderDropdownAccnt,
    PortfolioCart,
    SidebarForm,
    SidebarFooter,
    SidebarToggler,
    SidebarHeader,
    SidebarNav,
    SidebarMinimizer,
    MarqueeText,
    cSwitch,
    Fullscreen,
    vSelect
  },
  data () {
    return {
      posts : [],
      gainers: [],
      gain_count: null,
      losers: [],
      lose_count: null,
      bar: [],
      tgle: null,
      tgle_color: null,
      nav: nav.items,
      labelIcon: {
        dataOn: '\u2713',
        dataOff: '\u2715'
      },
      fullscreen: false,
      options: null,
      optionsmkc: null,
      selected_stock: null,
      ex: "tptptptptp"
      
    }
  },
  computed: {
    name () {
      return this.$route.name
    },
    list () {
      return this.$route.matched.filter((route) => route.name || route.meta.label )
    },
    icon (icon) {
      return icon
    }
  },
  beforeCreate: function () {
    if (!this.$session.exists()) {
      this.$router.replace({ name: "Login" });
    }
  },
  created() {
    this.cookieCheck();
    this.nse_cookieCheck();
    axios.get(this.$cookies.get('api_url')+'screener/?name=gainers')
    // axios.get(this.$cookies.get('nse_api_url')+'screener/?name=gainers')
    .then(response => {
      this.posts = response.data,
      this.gainers = this.posts,
      this.gain_count = Object.keys(this.gainers).length
      // alert(count);
              
        })
    .catch(e => {
      this.gainers = null;

    }) ,
    axios.get(this.$cookies.get('api_url')+'screener/?name=losers')
    // axios.get(this.$cookies.get('nse_api_url')+'screener/?name=losers')
    .then(response => {
      this.posts = response.data,
      this.losers = this.posts,
      this.lose_count = Object.keys(this.losers).length
              
        })
    .catch(e => {
      this.losers = null;

    }),

    // axios.get('/api/top_bar/')
    axios.get(this.$cookies.get('api_url')+'top_bar/')
    .then(response => {
      this.posts = response.data,
      this.bar = this.posts
              
        })
    .catch(e => {
      // this.errors.push(e)
      this.bar = null;

    }),
    axios.get(this.$cookies.get('api_url')+'IN_Symbols/')
    // axios.get(this.$cookies.get('nse_api_url')+'IN_Symbols/')
    .then(response => {
      this.posts = response.data,
      this.options = [{ value: null, label: 'Please select a symbol' }] ,
      this.options = this.options.concat(this.posts)
      // this.optionsmkc = this.posts
      
      // this.options.push({ value: null, label: 'Please select an option' })
              
        })
    .catch(e => {
      this.errors.push(e)

    })
    // axios.get('http://192.168.1.6:8000/api/Get_CSS/?username=Jai')
    // .then(response => {
    //   this.posts = response.data,
    //   this.tgle = this.posts[2].Fieldvalue
              
    //     })
    // .catch(e => {
    //   this.errors.push(e)

    // })

  },
        // mounted() {
        //     if(!this.$parent.authenticated) {
        //         this.$router.replace({ name: "Login" });
        //     }
        // },
        methods: {

            cookieCheck() {
                if (this.$cookies.isKey('api_url') == false) {
                    // this.$cookies.set('api_url','http://127.0.0.1:8000/api/');
                    this.$cookies.set('api_url','https://www.finflock.com/api/');
                }
            },
            nse_cookieCheck() {
                if (this.$cookies.isKey('nse_api_url') == false) {
                    this.$cookies.set('nse_api_url','https://www.travelolot.com/api/');
                }
            },
            logout() {
                // this.$parent.authenticated = false;
                this.$session.destroy();
                this.$router.replace({ name: "Login" });
            },
            check() {
              if( this.tgle == false ) {
                  axios.get(this.$cookies.get('api_url')+'Put_CSS/?username=Jai&fieldname=bg-color&fieldvalue=light')
                  .then(response => {
                    this.posts = response.data
                          
                      })
                  .catch(e => {
                    // alert(this.tgle_color);

                  })
              } else {
                
                  axios.get(this.$cookies.get('api_url')+'Put_CSS/?username=Jai&fieldname=bg-color&fieldvalue=dark')
                  .then(response => {
                    this.posts = response.data
                          
                      })
                  .catch(e => {
                    // alert(this.tgle_color);

                  })
              }
            },
            toggleFullScreen () {
              this.$refs['fullscreen'].toggle()
            },
            fullscreenChange (fullscreen) {
              this.fullscreen = fullscreen
            }

        }
}
</script>

<style lang="scss">

  .header {
    height: 50px;
  }

  .app-footer {
    background-color: #222325;
  }

  .img-avatar{
    height: 35px;
  }
  /* .b-card {
    padding: 0 15px;
  } */
  .tool{
  @import '../../assets/scss/style_dark';
    color: #e4e7ea;
    background-color: #2f353a;
  }
  .tool .img-avatar {
    height: 35px;
  }
  // .tool .navbar {
  //   background-color: rgb(58, 65, 73);
  //   border-bottom: 1px solid rgb(35, 40, 44);
  // }

//   @media (max-width: 180px) {
//     .my-div{
//         display: none;
//     }
// }
// @media (max-width: 180px) {
//     .my-div {
//         display: none;
//     }
// }
::-webkit-scrollbar {
    width: 6px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: 	#20a8d8;
    outline: 	#20a8d8 solid 1px;
}



</style>

