<template>
      <div class="animated fadeIn">
          
        <b-card>
          <div slot="header">
            <strong>Fundamental Analysis </strong> <small>Form</small>
          </div>
          <b-form>
          <b-row>
            <b-col sm="5">
          <b-form-group
            label="Market :"
            label-for="basicText1"
            :label-cols="3"
            :horizontal="true">
                <b-form-select id="basicText1" v-model="marketInput" @change="onChange()"
                  :plain="true"
                  :options="['American','Indian']"
                  >
                </b-form-select>
          </b-form-group>
            </b-col>

            <b-col sm="1">
            &nbsp;
            </b-col>

          <b-col sm="5">
          <b-form-group
            label="Stock Name :"
            label-for="basicText2"
            :label-cols="3"
            :horizontal="true">
            <v-select class="vslct" id="basicText2" v-model="selected" :options="options" placeholder="Select stock"></v-select>
          </b-form-group>
            </b-col>
            
            <b-col sm="1">
            &nbsp;
            </b-col>

          </b-row>
          </b-form>
            <div slot="footer" class="float-right">
            <b-button type="submit" v-on:click="onSubmit" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
            &nbsp;
            <b-button type="reset" v-on:click="reset" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
          </div>


        </b-card>


    <b-row>
        <b-col lg="4">
        <b-card >
          <div slot="header">
            Stock Summary
          </div>
          <b-tabs v-model="tabIndex[0]">
            <b-tab active>
              <template slot="title">
                <i class="icon-calculator"></i> {{tabs[0]}}
              </template>
              <br> {{bsum}}
            </b-tab>
            <b-tab>
              <template slot="title">
                <i class="icon-chart"></i> {{tabs[1]}}
              </template>
              <br>{{fsum}}
            </b-tab>

          </b-tabs>
        </b-card>
      </b-col><!--/.col-->
      <b-col lg="8">
                <b-card>
          <div slot="header">
            Fundamental Charts
          </div>
          <b-tabs>
            <b-tab title="Price" active>
              <clip-loader v-if="this.chart_loading == 0" :color="color" style="margin: 13% 50% 13% 50%;"> </clip-loader>
               <highcharts v-else class="stock" :constructor-type="'stockChart'" style="height:315px;" height="335" :options="stockOptions"></highcharts>
            </b-tab>
            <b-tab title="P:E" >
              <highcharts class="stock" :constructor-type="'stockChart'" style="height:315px;" height="335" :options="stockOptions_pe"></highcharts>
            </b-tab>
            <b-tab title="P:BV">
              <highcharts class="stock" :constructor-type="'stockChart'" style="height:315px;" height="335" :options="stockOptions_pb"></highcharts>
            </b-tab>
            <b-tab title="P:S">
              <highcharts class="stock" :constructor-type="'stockChart'" style="height:315px;" height="335" :options="stockOptions_ps"></highcharts>
            </b-tab>
          </b-tabs>
        </b-card>
      </b-col><!--/.col-->

    </b-row><!--/.row-->

    <b-row>
      <b-col lg="4">
        <c-table caption="<i class='fa fa-align-justify'></i> Balance Sheet Statement"></c-table>
      </b-col><!--/.col-->
            <b-col lg="4">
        <c-table caption="<i class='fa fa-align-justify'></i> Cash Flow Statement"></c-table>
      </b-col><!--/.col-->
            <b-col lg="4">
        <c-table caption="<i class='fa fa-align-justify'></i> Income Statement"></c-table>
      </b-col><!--/.col-->
    </b-row>
    
  </div>
</template>

<script>
import vSelect from 'vue-select'
import cTable from './fund_analysis_table.vue'
import axios from 'axios';
import ClipLoader from 'vue-spinner/src/ClipLoader.vue'

export default {
  name: 'tables',
  timers: {
    log: { time: 2000, autostart: true }
  },
  components: {cTable, vSelect, ClipLoader},
  
    data () {
    return {
        tabIndex: [0, 0],
        bsum: '',
        fsum: '',
        posts: 0,
        selected: null,
        color: '#20a8d8',
        marketInput: 'American',
        chart_loading: 0,
        options: [],
        tabs: [
        'Business Summary',
        'Financial Summary'
      ],
        stockOptions: {
        rangeSelector: {
            selected: 6
        },
        title: {
            text: 'Stock Price'
        },
        plotOptions: {
        series: {
            shadow: {
            width: 15,
            offsetY: 10,
            opacity: 0.007
            }
          }
        },

        tooltip: {
    
            valueDecimals: 2,
        },

        series: []
 
      },
      stockOptions_pe: {
        rangeSelector: {
            selected: 6
        },
        plotOptions: {
        series: {
            shadow: {
            width: 15,
            offsetY: 10,
            opacity: 0.007
            }
          }
        },
        title: {
            text: 'Price:Earning'
        },

        tooltip: {
    
            valueDecimals: 2,
        },

        series: []
 
      },
      stockOptions_pb: {
        rangeSelector: {
            selected: 6
        },
        title: {
            text: 'Price:Book Value'
        },
        plotOptions: {
        series: {
            shadow: {
            width: 15,
            offsetY: 10,
            opacity: 0.007
            }
          }
        },

        tooltip: {
    
            valueDecimals: 2,
        },

        series: []
 
      },
      stockOptions_ps: {
        rangeSelector: {
            selected: 6
        },
        title: {
            text: 'Price:Sales'
        },
        plotOptions: {
        series: {
            shadow: {
            width: 15,
            offsetY: 10,
            opacity: 0.007
            }
          }
        },

        tooltip: {
    
            valueDecimals: 2,
        },

        series: []
 
      }
    }
  },
    methods: {
    onChange: function () {
        if(this.marketInput == 'American') {
            axios.get('https://www.finflock.com/api/IN_Symbols/')
            .then(response => {
            this.posts = response.data,
            this.options = this.posts
                
                })
            .catch(e => {
            this.errors.push(e)

            })
        }
        else if(this.marketInput == 'Indian') {
            axios.get('https://www.finflock.com/api/US_Symbols/')
            .then(response => {
            this.posts = response.data,
            this.options = this.posts
                
                })
            .catch(e => {
            this.errors.push(e)

            })
        }
        else {
          alert("yeet");
        }

    
  
  },
    reset: function () {
        this.selected=''
    },
    onSubmit: function () {
    axios.get(this.$cookies.get('api_url')+'?select=Business_Summary&fro='+this.marketInput+'_Fundamentals_Snapshots&where=Company_Symbol-%27'+this.selected.value+'%27')
    .then(response => {
      this.posts = response.data,
      this.bsum = this.posts[0].Business_Summary
              
        })
    .catch(e => {
      this.errors.push(e)

    }),
        axios.get(this.$cookies.get('api_url')+'?select=Financial_Summary&fro='+this.marketInput+'_Fundamentals_Snapshots&where=Company_Symbol-%27'+this.selected.value+'%27')
    .then(response => {
      this.posts = response.data,
      this.fsum = this.posts[0].Financial_Summary
              
        })
    .catch(e => {
      this.errors.push(e)

    }),

    axios.get(this.$cookies.get('api_url')+'?select=*&fro='+this.marketInput+'_PE_PB_PS_Timeseries&where=Symbol-%27'+this.selected.value+'%27')
    .then(response => {
      this.posts = response.data;
      var data = this.posts;

      this.stockOptions.series = [{
				name: this.posts[0].Symbol,
				data: (function(){
					var newData = [];
					var elem;
					for (var i=0; i < data.length; i++) {
					elem = data[i];
            newData.push([Date.parse(elem.Date), parseFloat(elem.Close)]);
            // newData.push([Date.parse(elem[0]), elem[1]]);
					}
					return newData;
				}())
        }] ;

      this.stockOptions_pe.series = [{
				name: this.posts[0].Symbol,
				data: (function(){
					var newData = [];
					var elem;
					for (var i=0; i < data.length; i++) {
					elem = data[i];
            newData.push([Date.parse(elem.Date), parseFloat(elem.PE)]);
            // newData.push([Date.parse(elem[0]), elem[1]]);
					}
					return newData;
				}())
        }] ;
        
        this.stockOptions_pb.series = [{
				name: this.posts[0].Symbol,
				data: (function(){
					var newData = [];
					var elem;
					for (var i=0; i < data.length; i++) {
					elem = data[i];
            newData.push([Date.parse(elem.Date), parseFloat(elem.PB)]);
            // newData.push([Date.parse(elem[0]), elem[1]]);
					}
					return newData;
				}())
        }] ;
        
        this.stockOptions_ps.series = [{
				name: this.posts[0].Symbol,
				data: (function(){
					var newData = [];
					var elem;
					for (var i=0; i < data.length; i++) {
					elem = data[i];
            newData.push([Date.parse(elem.Date), parseFloat(elem.PS)]);
            // newData.push([Date.parse(elem[0]), elem[1]]);
					}
					return newData;
				}())
				}] ;
      // this.$emit("flag", 1);
        
        })
    .catch(e => {
      // this.errors.push(e)
      alert("asdfghjk");

    })
    },
    log () {
    this.chart_loading = 1;
    }
},


  created() {
    axios.get(this.$cookies.get('api_url')+`?select=Business_Summary&fro=American_Fundamentals_Snapshots&where=Company_Symbol-%27AAPL%27`)
    .then(response => {
      this.posts = response.data,
      this.bsum = this.posts[0].Business_Summary
              
        })
    .catch(e => {
      this.errors.push(e)

    }),
        axios.get(this.$cookies.get('api_url')+`?select=Financial_Summary&fro=American_Fundamentals_Snapshots&where=Company_Symbol-%27AAPL%27`)
    .then(response => {
      this.posts = response.data,
      this.fsum = this.posts[0].Financial_Summary
              
        })
    .catch(e => {
      this.errors.push(e)

    }),

    axios.get(this.$cookies.get('api_url')+'US_Symbols/')
    .then(response => {
      this.posts = response.data,
      this.options = this.posts
              
        })
    .catch(e => {
      this.errors.push(e)

    }),
    axios.get(this.$cookies.get('api_url')+'?select=*&fro=American_PE_PB_PS_Timeseries&where=Symbol-%27AAPL%27')
    .then(response => {
      this.posts = response.data;
      var data = this.posts;

      this.stockOptions.series = [{
				name: this.posts[0].Symbol,
				data: (function(){
					var newData = [];
					var elem;
					for (var i=0; i < data.length; i++) {
					elem = data[i];
            newData.push([Date.parse(elem.Date), parseFloat(elem.Close)]);
            // newData.push([Date.parse(elem[0]), elem[1]]);
					}
					return newData;
				}())
        }] ;

      this.stockOptions_pe.series = [{
				name: this.posts[0].Symbol,
				data: (function(){
					var newData = [];
					var elem;
					for (var i=0; i < data.length; i++) {
					elem = data[i];
            newData.push([Date.parse(elem.Date), parseFloat(elem.PE)]);
            // newData.push([Date.parse(elem[0]), elem[1]]);
					}
					return newData;
				}())
        }] ;
        
        this.stockOptions_pb.series = [{
				name: this.posts[0].Symbol,
				data: (function(){
					var newData = [];
					var elem;
					for (var i=0; i < data.length; i++) {
					elem = data[i];
            newData.push([Date.parse(elem.Date), parseFloat(elem.PB)]);
            // newData.push([Date.parse(elem[0]), elem[1]]);
					}
					return newData;
				}())
        }] ;
        
        this.stockOptions_ps.series = [{
				name: this.posts[0].Symbol,
				data: (function(){
					var newData = [];
					var elem;
					for (var i=0; i < data.length; i++) {
					elem = data[i];
            newData.push([Date.parse(elem.Date), parseFloat(elem.PS)]);
            // newData.push([Date.parse(elem[0]), elem[1]]);
					}
					return newData;
				}())
				}] ;
       
        })
    .catch(e => {
      this.errors.push(e)
    })

  }

}
</script>

<style>
/* .vslct{
  background-color: #515B65;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  border-radius: 5px;
    border: 1px solid black;
} */
</style>


