<template>
  <div  class="animated fadeIn">
    <!-- <b-card>
      <div slot="header">
            <strong>American Data </strong> 
          </div> -->
    <!-- User Interface controls -->
    <b-row class="mb-3">
      <b-col md="3" class="my-1">
        <b-form-group horizontal label="Filter :" class="mb-0">
          <b-input-group>
            <b-form-input v-model="filter" placeholder="Type to Search" />
            <b-input-group-append>
              <b-btn :disabled="!filter" @click="filter = ''" variant="primary">Clear</b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
      <b-col md="3" class="my-1">
        <b-form-group
            label="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Ratio :"
            label-for="basicText2"
            :label-cols="3"
            :horizontal="true">
                <!-- <b-form-select id="basicText2" v-model="ratioInput"
                  :plain="true"
                  :options="['SREV','ATCA','LLTD','NINC','SGRP']"
                  value="SREV">
                </b-form-select> -->
                <b-input-group>
                <select id="basicText2" class="form-control" v-model="ratioInput">
                    <option value="SREV">Total Revenue</option>
                    <option value="ATOT">Total Assets</option>
                    <option value="LLTD">Total Debt</option>
                    <option value="NINC">Net Income</option>
                    <option value="SGRP">Gross Profit</option>
                </select>
                
                <b-input-group-append>
              <b-button  type="submit" v-on:click="comp" variant="primary"> Submit</b-button>
            </b-input-group-append>
            </b-input-group>
          </b-form-group>
      </b-col>
      
      <b-col md="3" class="my-1">
        <b-form-group
            label="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sector :"
            label-for="basicText3"
            :label-cols="3"
            :horizontal="true" >

            <b-input-group>
                <select id="basicText3" class="form-control" v-model="sectorInput" @change="onChange()">
                    <option value="Technology">Technology</option>
                    <option value="Health Care">Health Care</option>
                    <option value="Consumer Services">Consumer Services</option>
                    <option value="Capital Goods">Capital Goods</option>
                    <option value="Finance">Finance</option>
                    <option value="Miscellaneous">Miscellaneous</option>
                    <option value="Energy">Energy</option>
                    
                </select>
                
                <b-input-group-append>
              <b-btn :disabled="!filter" @click="filter = ''" variant="primary">Clear</b-btn>
            </b-input-group-append>
            </b-input-group>                          

          </b-form-group>
      </b-col>

      <b-col md="3" class="my-1">
<b-row>
        <b-col md="6"> 
        <b-form-group>

            <b-input-group>
                <select id="basicText3" class="form-control" v-model="buysell" @change="buysellChange()">
                    <option value="">Buy & Sell</option>
                    <option value="Buy">Buy</option>
                    <option value="Sell">Sell</option>
                                        
                </select>
                
                <b-input-group-append>
              <b-btn :disabled="!filter" @click="filter = ''" variant="primary">Clear</b-btn>
            </b-input-group-append>
            </b-input-group>                          

          </b-form-group>
        </b-col>
        <b-col md="4">
        <b-form-group horizontal label="Records:" class="mb-0" style="width:190%;">
          <b-form-select style="width:40%;" :options="pageOptions" v-model="perPage" />
        </b-form-group>
        </b-col>
        <b-col md="2">
          <i class="icon-settings icons font-2xl d-block mt-2"   variant="primary" @click="primaryModal = true"></i>
          <!-- <b-button type="button" variant="primary" @click="primaryModal = true">L</b-button> -->
        </b-col>
        </b-row>


      </b-col>
    </b-row>

    <b-modal title="Settings" class="modal-primary" v-model="primaryModal" @ok="primaryModal = false">
      <p>Check the preferrered column names.</p>
      <hr>
      <b-form-checkbox-group id="basicInlineCustomCheckboxes">
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" v-model="op1" class="custom-control-input" id="customInChk1" >
                <label class="custom-control-label" for="customInChk1">Symbol</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" v-model="op2" class="custom-control-input" id="customInChk2" >
                <label class="custom-control-label" for="customInChk2">Company Name</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" v-model="op3" class="custom-control-input" id="customInChk3" >
                <label class="custom-control-label" for="customInChk3">Sector</label>
              </div>
            </b-form-checkbox-group>
    </b-modal>
    
          <b-form-group class="mb-3" style="margin-top: -10px;"
            description="Select the columns that you want in the table."
            label="Select columns :"
            label-for="basicName"
            :label-cols="1"
            :horizontal="true">
            <multiselect style="margin-top: -5px;" id="basicName" v-model="fields" :options="options" :multiple="true" label="label" track-by="label"></multiselect>
          </b-form-group>

    <!-- Main table element -->
    <b-table show-empty
             
             responsive="lg"
             :items="items"
             :fields="fields"
             :current-page="currentPage"
             :per-page="perPage"
             :filter="filter"
             :sort-by.sync="sortBy"
             :sort-desc.sync="sortDesc"
             :sort-direction="sortDirection"
             @filtered="onFiltered"
             :outlined="outlined"
             :hover="hover"
             :fixed="fixed"
             :bordered="bordered"
    >
      <template slot="name" slot-scope="row">{{row.value.first}} {{row.value.last}}</template>
      <template slot="Signal" slot-scope="data">
        <b-badge :variant="getBadge(data.item.Signal)">{{data.item.Signal}}</b-badge>
      </template>
      <template slot="isActive" slot-scope="row">{{row.value?'Yes :)':'No :('}}</template>
      <template slot="spark" slot-scope="data"><callout-chart-example chartId="callout-chart-01" :data="[data.item.Dec_2012, data.item.Dec_2013, data.item.Dec_2014, data.item.Dec_2015, data.item.Dec_2016, data.item.Dec_2017]" variant="info" style="height: 30px; width: 80px;" /></template>
      <!-- <template slot="spark" slot-scope="data"><callout-chart-example chartId="callout-chart-01" :data="[35, 23, 56, 22, 97, 23, 64]" variant="info" style="height: 30px; width: 80px;" /></template> -->
      <template slot="actions" slot-scope="row">
        <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
        <b-button size="sm" @click.stop="info(row.item, row.index, $event.target)" class="mr-1">
          Info modal
        </b-button>
        <b-button size="sm" @click.stop="row.toggleDetails">
          {{ row.detailsShowing ? 'Hide' : 'Show' }} Details
        </b-button>
      </template>
      <template slot="row-details" slot-scope="row">
        <b-card>
          <ul>
            <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value}}</li>
          </ul>
        </b-card>
      </template>
    </b-table>
  
    <b-row>
      <b-col md="6" class="my-1">
        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
      </b-col>
    </b-row>
  <!-- </b-card> -->
 
    <!-- Info modal -->
    <b-modal id="modalInfo" @hide="resetModal" :title="modalInfo.title" ok-only>
      <pre>{{ modalInfo.content }}</pre>
    </b-modal>

<!-- <b-col sm="2"> -->
                  <!-- <Callout variant="success"> -->
                    <!-- <small class="text-muted">Organic</small><br> -->
                    <!-- <strong class="h4">49,123</strong> -->
                    <!-- <div class="chart-wrapper" :style="{ top: '-20px'}"> -->
                      <!-- <callout-chart-example chartId="callout-chart-04" :data= "spark" variant="#4dbd74" width="80" height="30" /> -->
                    <!-- </div> -->
                  <!-- </Callout> -->
                <!-- </b-col> -->
                <!-- <br><br><br> -->
               
            <!-- {{this.buysell}}     -->
            <!-- {{this.nik[0].SparkLine[0]}} <br><br> -->
            <!-- {{this.spark}} -->
            

  </div>
</template>

<script>
import axios from 'axios';
import CalloutChartExample from './dashboard/CalloutChartExample'
import { Callout } from '@coreui/vue'
import vSelect from 'vue-select'
import Multiselect from 'vue-multiselect'
const items = [
  { isActive: true, age: 40, status: 'Buy', name: { first: 'Dickerson', last: 'Macdonald' } },
  { isActive: false, age: 21, status: 'Buy', name: { first: 'Larsen', last: 'Shaw' } },
  {
    isActive: false,
    age: 9,
    status: 'Sell',
    name: { first: 'Mini', last: 'Navarro' },
    // _rowVariant: 'success'
  },
  { isActive: false, age: 89, status: 'Sell', name: { first: 'Geneva', last: 'Wilson' } },
  { isActive: true, age: 38, status: 'Buy', name: { first: 'Jami', last: 'Carney' } },
  { isActive: false, age: 27, status: 'Sell', name: { first: 'Essie', last: 'Dunlap' } },
  { isActive: true, age: 40, status: 'Buy', name: { first: 'Thor', last: 'Macdonald' } },
  {
    isActive: true,
    age: 87,
    status: 'Sell',
    name: { first: 'Larsen', last: 'Shaw' },
    // _cellVariants: { age: 'danger', isActive: 'warning' }
  },
  { isActive: false, age: 26, status: 'Buy', name: { first: 'Mitzi', last: 'Navarro' } },
  { isActive: false, age: 22, status: 'Buy', name: { first: 'Genevieve', last: 'Wilson' } },
  { isActive: true, age: 38, status: 'Sell', name: { first: 'John', last: 'Carney' } },
  { isActive: false, age: 29, status: 'Sell', name: { first: 'Dick', last: 'Dunlap' } }
]

export default {
  components: {
    Callout,
    CalloutChartExample,
    vSelect,
    Multiselect
  },
  data () {
    return {
      primaryModal: false,
      ratioInput: 'SREV',
      sectorInput: 'Technology',
      items: items,
      op1: false,
      op2: false,
      op3: false,
      nik: [],
      fields: [      
        { key: 'Symbol', label: 'Symbol', sortable: true },
        { key: 'Name', label: 'Company Name', sortable: true },
        { key: 'Sector', label: 'Sector', sortable: true },
        { key: 'MarketCap', label: 'MarketCap', sortable: true, tdClass: 'text-primary' },
        { key: 'Dec_2012', label: 'Dec 2012', sortable: true },
        { key: 'Dec_2013', label: 'Dec 2013', sortable: true },
        { key: 'Dec_2014', label: 'Dec 2014', sortable: true },
        { key: 'Dec_2015', label: 'Dec 2015', sortable: true },
        { key: 'Dec_2016', label: 'Dec 2016', sortable: true },
        { key: 'Dec_2017', label: 'Dec 2017', sortable: true },
        { key: 'Prediction', label: 'Prediction', sortable: true, tdClass: 'text-success' },
        { key: 'Signal', label: 'Signal', formatter: "BUY" },
        // { key: 'actions', label: 'Actions' }
        { key: 'spark', label: 'Sparkline' }
                
      ],
      options: [      
        { key: 'Symbol', label: 'Symbol', sortable: true },
        { key: 'Name', label: 'Company Name', sortable: true },
        { key: 'Sector', label: 'Sector', sortable: true },
        { key: 'MarketCap', label: 'MarketCap', sortable: true, tdClass: 'text-primary' },
        { key: 'Dec_2012', label: 'Dec 2012', sortable: true },
        { key: 'Dec_2013', label: 'Dec 2013', sortable: true },
        { key: 'Dec_2014', label: 'Dec 2014', sortable: true },
        { key: 'Dec_2015', label: 'Dec 2015', sortable: true },
        { key: 'Dec_2016', label: 'Dec 2016', sortable: true },
        { key: 'Dec_2017', label: 'Dec 2017', sortable: true },
        { key: 'Prediction', label: 'Prediction', sortable: true, tdClass: 'text-success' },
        { key: 'Signal', label: 'Signal' },
        { key: 'actions', label: 'Actions' },
        { key: 'spark', label: 'Sparkline' }
        
                
      ],
      fixed: false,
      outlined: false,
      bordered: false,
      hover: true,
      currentPage: 1,
      perPage: 10,
      totalRows: items.length,
      pageOptions: [ 5, 10, 15 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      modalInfo: { title: '', content: '' },
      buysell: "",
      // spark: [ "462.974000", "677.442000", "1097.856000", "1530.310000", "891.959000", "4849.153000" ]
      // spark: [ "3", "6", "5", "9", "11", "2" ]
    }
  },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    }
  },
  methods: {
    info (item, index, button) {
      this.modalInfo.title = `Row index: ${index}`
      this.modalInfo.content = JSON.stringify(item, null, 2)
      this.$root.$emit('bv::show::modal', 'modalInfo', button)
    },
    resetModal () {
      this.modalInfo.title = ''
      this.modalInfo.content = ''
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    getBadge (status) {
      return status === 'BUY' ? 'success'
          : status === 'SELL' ? 'danger' : 'primary'
    },
    comp: function () {

      let repoUrlChart = 'https://www.finflock.com/api/LR_Compare/?name='+this.ratioInput ;
    axios.get(repoUrlChart)
    .then(response => {
      this.posts = response.data,
      this.items = this.posts
              
        })
    .catch(e => {
      this.errors.push(e)

    })
    
    },
    onChange: function () {
      this.filter = this.sectorInput
    },
    buysellChange: function () {
      this.filter = this.buysell
    }
  },
  created() {
    axios.get('https://www.finflock.com/api/LR_Compare/?name=ATOT')
    .then(response => {
      this.posts = response.data,
      this.items = this.posts
      // this.$parent.$parent.flag = 1;
      // this.spark = [this.items[0].Dec_2012,this.items[0].Dec_2013,this.items[0].Dec_2014,this.items[0].Dec_2015,this.items[0].Dec_2016,this.items[0].Dec_2017]
              
        })
    .catch(e => {
      this.errors.push(e)

    })
  }
  // mounted() {
  //   this.$parent.$parent.flag = 0;
  // }
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>