<template>
<rotate-loader v-if="this.loading == 0" style="margin: 15% 50% 15% 50%;"> </rotate-loader>
  <div v-else class="animated fadeIn">
    <!-- {{this.news.articles[1]}} -->
    <!-- {{this.$parent.$parent.ex}} -->
    <!-- {{this.$parent.$parent.options}} -->
    <section class="mb-2 ml-1">  <span class="text-value" style="font-family: Trebuchet MS,Arial,sans-serif;">  Nifty Indices </span> <i class="icon-arrow-right icons font-1xl "></i></section>
    <b-row>
      <b-col sm="6" lg="3">
        <b-card no-body class="bg-github">
          <b-card-body class="pb-0">
            <h4 class="mb-1">₹ {{nifty1}} <span class="float-right font-sm mt-1" style="font-weight: 400;"> Nifty 50 </span> </h4> 
          </b-card-body>
          <card-line1-chart-example chartId="card-chart-01" class="chart-wrapper" style="height:70px;" :height="70"/>
        </b-card>
      </b-col>
      <b-col sm="6" lg="3">
        <b-card no-body class="bg-vimeo">
          <b-card-body class="pb-0">
            <h4 class="mb-0">₹ {{nifty2}} <span class="float-right font-sm mt-1" style="font-weight: 400;"> Nifty Auto </span> </h4>
          </b-card-body>
          <card-line2-chart-example chartId="card-chart-02" class="chart-wrapper" style="height:70px;" :height="70"/>
        </b-card>
      </b-col>
      <b-col sm="6" lg="3">
        <b-card no-body class="bg-openid">
          <b-card-body class="pb-0">
            <h4 class="mb-0">₹ {{nifty3}} <span class="float-right font-sm mt-1" style="font-weight: 400;"> Nifty IT </span> </h4>
          </b-card-body>
          <card-line3-chart-example chartId="card-chart-03" class="chart-wrapper" style="height:70px;" height="70"/>
        </b-card>
      </b-col>
      <b-col sm="6" lg="3">
        <b-card no-body class="bg-instagram">
          <b-card-body class="pb-0">
            <h4 class="mb-0">₹ {{nifty4}} <span class="float-right font-sm mt-1" style="font-weight: 400;"> Nifty Bank </span> </h4>
          </b-card-body>
          <card-bar-chart-example chartId="card-chart-04" class="chart-wrapper" style="height:70px;" height="70"/>
        </b-card>
      </b-col>
    </b-row>

    <b-row>
      <b-col sm="6" lg="3">
        <b-card no-body class="bg-green">
          <b-card-body class="pb-0">
            <h4 class="mb-0">₹ {{nifty5}} <span class="float-right font-sm mt-1" style="font-weight: 400;"> Nifty Media </span> </h4>
          </b-card-body>
          <card-line5-chart-example chartId="card-chart-05" class="chart-wrapper" style="height:70px;" :height="70"/>
        </b-card>
      </b-col>
      <b-col sm="6" lg="3">
        <b-card no-body class="bg-cyan">
          <b-card-body class="pb-0">
            <h4 class="mb-0">₹ {{nifty6}} <span class="float-right font-sm mt-1" style="font-weight: 400;"> Nifty Metal </span> </h4>
          </b-card-body>
          <card-line6-chart-example chartId="card-chart-06" class="chart-wrapper" style="height:70px;" :height="70"/>
        </b-card>
      </b-col>
      <b-col sm="6" lg="3">
        <b-card no-body class="bg-vine">
          <b-card-body class="pb-0">
            <h4 class="mb-0">₹ {{nifty7}} <span class="float-right font-sm mt-1" style="font-weight: 400;"> Nifty 200 </span> </h4>
          </b-card-body>
          <card-line7-chart-example chartId="card-chart-07" class="chart-wrapper" style="height:70px;" height="70"/>
        </b-card>
      </b-col>
      <b-col sm="6" lg="3">
        <b-card no-body class="bg-red">
          <b-card-body class="pb-0">
            <h4 class="mb-0">₹ {{nifty8}} <span class="float-right font-sm mt-1" style="font-weight: 400;"> Nifty 500 </span> </h4>
          </b-card-body>
          <card-line8-chart-example chartId="card-chart-08" class="chart-wrapper" style="height:70px;" height="70"/>
        </b-card>
      </b-col>
    </b-row>

  
    <!-- <b-card>
      <b-row>
        <b-col sm="5">
          <h4 id="traffic" class="card-title mb-0">Stock Price</h4>
          <div class="small text-muted">October 2018</div>
        </b-col>
        <b-col sm="7" class="d-none d-md-block">
 
          <b-form-group class="float-right">
            <b-input-group>
              <b-form-input v-model="message" type="text" placeholder="Symbol"></b-form-input>
             
              <b-input-group-append>
                <b-button v-on:click="ohlc" variant="primary">Submit</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
     
      <highcharts class="chart-wrapper" :constructor-type="'stockChart'" :options="stockOptions"></highcharts>
 
    </b-card> -->

    <div class="mb-2 ml-1">  <span class="text-value" style="font-family: Trebuchet MS,Arial,sans-serif;">  Market Summary </span> <i class="icon-arrow-right icons font-1xl "></i></div>

    <b-row>
      <b-col md="3" sm="6">
          <!-- <div slot="header">
            Indices
          </div> -->
        <!-- <div class="brand-card"> -->
            <b-card-header class="font-lg" style="border: 1px black;">Currencies</b-card-header>
          
          <highcharts class="stock" :constructor-type="'stockChart'" style="height:250px; " height="250" :options="stockWidget_currencies"></highcharts>
          <b-list-group v-if="this.currencies != null">
              <b-list-group-item button type="submit" v-on:click="currency1">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs">USD / AUD  <span class="h6 float-right"> {{this.currencies[0].USD_AUD}}</span> </div>
                            <div v-if="this.currencies[1].USD_AUD_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.currencies[2].USD_AUD_PChange}}%  <small>{{this.currencies[1].USD_AUD_Change}}</small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.currencies[2].USD_AUD_PChange}}%  <small>{{this.currencies[1].USD_AUD_Change}}</small> </div>
                        </b-card-body>
        </b-list-group-item>
             <b-list-group-item button type="submit" v-on:click="currency2">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs"> USD / JPY <span class="h6 float-right">  {{this.currencies[3].USD_JPY}} </span> </div>
                            <div v-if="this.currencies[4].USD_JPY_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.currencies[5].USD_JPY_PChange}}%  <small class="ml-1"> {{this.currencies[4].USD_JPY_Change}} </small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.currencies[5].USD_JPY_PChange}}%  <small class="ml-1"> {{this.currencies[4].USD_JPY_Change}} </small> </div>
                        </b-card-body>
        </b-list-group-item>
        <b-list-group-item button type="submit" v-on:click="currency3">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs"> USD / CNY <span class="h6 float-right">  {{this.currencies[6].USD_CNY}} </span> </div>
                            <div v-if="this.currencies[7].USD_CNY_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.currencies[8].USD_CNY_PChange}}%  <small class="ml-1"> {{this.currencies[7].USD_CNY_Change}} </small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.currencies[8].USD_CNY_PChange}}%  <small class="ml-1"> {{this.currencies[7].USD_CNY_Change}} </small> </div>
                        </b-card-body>
        </b-list-group-item>
        <b-list-group-item button type="submit" v-on:click="currency4">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs"> USD / INR <span class="h6 float-right">  {{this.currencies[9].USD_INR}} </span> </div>
                            <div v-if="this.currencies[10].USD_INR_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.currencies[11].USD_INR_PChange}}%  <small class="ml-1"> {{this.currencies[10].USD_INR_Change}} </small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.currencies[11].USD_INR_PChange}}%  <small class="ml-1"> {{this.currencies[10].USD_INR_Change}} </small> </div>
                        </b-card-body>
        </b-list-group-item>
        <b-list-group-item button type="submit" v-on:click="currency5">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs"> USD / EUR <span class="h6 float-right">  {{this.currencies[12].USD_EUR}} </span> </div>
                            <div v-if="this.currencies[13].USD_EUR_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.currencies[14].USD_EUR_PChange}}%  <small class="ml-1"> {{this.currencies[13].USD_EUR_Change}} </small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.currencies[14].USD_EUR_PChange}}%  <small class="ml-1"> {{this.currencies[13].USD_EUR_Change}} </small> </div>
                        </b-card-body>
        </b-list-group-item>
            </b-list-group>
        <!-- </div> -->
      </b-col>

      <b-col md="3" sm="6">
          <!-- <div slot="header">
            Indices
          </div> -->
        <!-- <div class="brand-card"> -->
            <b-card-header class="font-lg" style="border: 1px black;">Futures</b-card-header>
          
          <highcharts class="stock" :constructor-type="'stockChart'" style="height:250px; border: 1px black;" height="250" :options="stockWidget_futures"></highcharts>
          <b-list-group v-if="this.futures != null">
              <b-list-group-item button type="submit" v-on:click="futures1">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs">Gold mini  <span class="h6 float-right">₹ {{this.futures[0].Gold_Mini}}</span> </div>
                            <div v-if="this.futures[1].Gold_Mini_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.futures[2].Gold_Mini_PChange}}%  <small>{{this.futures[1].Gold_Mini_Change}}</small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.futures[2].Gold_Mini_PChange}}%  <small>{{this.futures[1].Gold_Mini_Change}}</small> </div>
                        </b-card-body>
        </b-list-group-item>
             <b-list-group-item button type="submit" v-on:click="futures2">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs"> Aluminium mini <span class="h6 float-right">₹  {{this.futures[3].Aluminium_Mini}} </span> </div>
                            <div v-if="this.futures[4].Aluminium_Mini_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.futures[5].Aluminium_Mini_PChange}}%  <small class="ml-1"> {{this.futures[4].Aluminium_Mini_Change}} </small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.futures[5].Aluminium_Mini_PChange}}%  <small class="ml-1"> {{this.futures[4].Aluminium_Mini_Change}} </small> </div>
                        </b-card-body>
        </b-list-group-item>
        <b-list-group-item button type="submit" v-on:click="futures3">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs"> Silver mini <span class="h6 float-right">₹  {{this.futures[6].Silver_Mini}} </span> </div>
                            <div v-if="this.futures[7].Silver_Mini_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.futures[8].Silver_Mini_PChange}}%  <small class="ml-1"> {{this.futures[7].Silver_Mini_Change}} </small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.futures[8].Silver_Mini_PChange}}%  <small class="ml-1"> {{this.futures[7].Silver_Mini_Change}} </small> </div>
                        </b-card-body>
        </b-list-group-item>
        <b-list-group-item button type="submit" v-on:click="futures4">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs"> Lead mini <span class="h6 float-right">₹  {{this.futures[9].Lead_Mini}} </span> </div>
                            <div v-if="this.futures[10].Lead_Mini_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.futures[11].Lead_Mini_PChange}}%  <small class="ml-1"> {{this.futures[10].Lead_Mini_Change}} </small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.futures[11].Lead_Mini_PChange}}%  <small class="ml-1"> {{this.futures[10].Lead_Mini_Change}} </small> </div>
                        </b-card-body>
        </b-list-group-item>
        <b-list-group-item button type="submit" v-on:click="futures5">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs"> Copper mini <span class="h6 float-right">₹  {{this.futures[12].Copper_Mini}} </span> </div>
                            <div v-if="this.futures[13].Copper_Mini_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.futures[14].Copper_Mini_PChange}}%  <small class="ml-1"> {{this.futures[13].Copper_Mini_Change}} </small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.futures[14].Copper_Mini_PChange}}%  <small class="ml-1"> {{this.futures[13].Copper_Mini_Change}} </small> </div>
                        </b-card-body>
        </b-list-group-item>
            </b-list-group>
        <!-- </div> -->
      </b-col>

      <b-col md="3" sm="6">

            <b-card-header class="font-lg"> Mutual Funds </b-card-header>
          
          <highcharts class="stock" :constructor-type="'stockChart'" style="height:250px; border: 1px black;" height="250" :options="stockWidget_mutual"></highcharts>
          <b-list-group v-if="this.mutual != null">
              <b-list-group-item button type="submit" v-on:click="mutual1">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs">IDBI  <span class="h6 float-right">₹ {{this.mutual[0].IDBI}}</span> </div>
                            <div v-if="this.mutual[1].IDBI_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.mutual[2].IDBI_PChange}}%  <small>{{this.mutual[1].IDBI_Change}}</small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.mutual[2].IDBI_PChange}}%  <small>{{this.mutual[1].IDBI_Change}}</small> </div>
                        </b-card-body>
        </b-list-group-item>
             <b-list-group-item button type="submit" v-on:click="mutual2">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs"> ICICI <span class="h6 float-right">₹  {{this.mutual[3].ICICI}} </span> </div>
                            <div v-if="this.mutual[4].ICICI_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.mutual[5].ICICI_PChange}}%  <small class="ml-1"> {{this.mutual[4].ICICI_Change}} </small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.mutual[5].ICICI_PChange}}%  <small class="ml-1"> {{this.mutual[4].ICICI_Change}} </small> </div>
                        </b-card-body>
        </b-list-group-item>
        <b-list-group-item button type="submit" v-on:click="mutual3">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs"> TATA <span class="h6 float-right">₹  {{this.mutual[6].TATA}} </span> </div>
                            <div v-if="this.mutual[7].TATA_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.mutual[8].TATA_PChange}}%  <small class="ml-1"> {{this.mutual[7].TATA_Change}} </small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.mutual[8].TATA_PChange}}%  <small class="ml-1"> {{this.mutual[7].TATA_Change}} </small> </div>
                        </b-card-body>
        </b-list-group-item>
        <b-list-group-item button type="submit" v-on:click="mutual4">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs"> Aditya Birla <span class="h6 float-right">₹  {{this.mutual[9].Aditya_Birla}} </span> </div>
                            <div v-if="this.mutual[10].Aditya_Birla_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.mutual[11].Aditya_Birla_PChange}}%  <small class="ml-1"> {{this.mutual[10].Aditya_Birla_Change}} </small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.mutual[11].Aditya_Birla_PChange}}%  <small class="ml-1"> {{this.mutual[10].Aditya_Birla_Change}} </small> </div>                            
                        </b-card-body>
        </b-list-group-item>
        <b-list-group-item button type="submit" v-on:click="mutual5">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs"> HDFC <span class="h6 float-right">₹  {{this.mutual[12].HDFC}} </span> </div>
                            <div v-if="this.mutual[13].HDFC_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.mutual[14].HDFC_PChange}}%  <small class="ml-1"> {{this.mutual[13].HDFC_Change}} </small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.mutual[14].HDFC_PChange}}%  <small class="ml-1"> {{this.mutual[13].HDFC_Change}} </small> </div>                            
                        </b-card-body>
        </b-list-group-item>
          </b-list-group>
      </b-col>

      <b-col md="3" sm="6">
            <b-card-header class="font-lg"> ETF </b-card-header>
          <highcharts class="stock" :constructor-type="'stockChart'" style="height:250px; border: 1px black;" height="250" :options="stockWidget_etf"></highcharts>
        <b-list-group v-if="this.etf != null">
        <b-list-group-item button type="submit" v-on:click="etf1">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs">SBI Gold  <span class="h6 float-right">₹ {{this.etf[0].SBI_Gold}}</span> </div>
                            <div v-if="this.etf[1].SBI_Gold_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.etf[2].SBI_Gold_PChange}}%  <small>{{this.etf[1].SBI_Gold_Change}}</small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.etf[2].SBI_Gold_PChange}}%  <small>{{this.etf[1].SBI_Gold_Change}}</small> </div>
                        </b-card-body>
        </b-list-group-item>
             <b-list-group-item button type="submit" v-on:click="etf2">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs"> Kotak Mamc <span class="h6 float-right">₹  {{this.etf[3].Kotak_Mamc}} </span> </div>
                            <div v-if="this.etf[4].Kotak_Mamc_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.etf[5].Kotak_Mamc_PChange}}%  <small class="ml-1"> {{this.etf[4].Kotak_Mamc_Change}} </small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.etf[5].Kotak_Mamc_PChange}}%  <small class="ml-1"> {{this.etf[4].Kotak_Mamc_Change}} </small> </div>                            
                        </b-card-body>
        </b-list-group-item>
        <b-list-group-item button type="submit" v-on:click="etf3">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs"> SBI Nifty50 <span class="h6 float-right">₹  {{this.etf[6].SBI_Nifty50}} </span> </div>
                            <div v-if="this.etf[7].SBI_Nifty50_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.etf[8].SBI_Nifty50_PChange}}%  <small class="ml-1"> {{this.etf[7].SBI_Nifty50_Change}} </small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.etf[8].SBI_Nifty50_PChange}}%  <small class="ml-1"> {{this.etf[7].SBI_Nifty50_Change}} </small> </div>                            
                        </b-card-body>
        </b-list-group-item>
        <b-list-group-item button type="submit" v-on:click="etf4">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs"> ICICI Sensex <span class="h6 float-right">₹  {{this.etf[9].ICICI_Sensex}} </span> </div>
                            <div v-if="this.etf[10].ICICI_Sensex_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.etf[11].ICICI_Sensex_PChange}}%  <small class="ml-1"> {{this.etf[10].ICICI_Sensex_Change}} </small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.etf[11].ICICI_Sensex_PChange}}%  <small class="ml-1"> {{this.etf[10].ICICI_Sensex_Change}} </small> </div>                            
                        </b-card-body>
        </b-list-group-item>
        <b-list-group-item button type="submit" v-on:click="etf5">
                        <b-card-body class="p-0 clearfix">
                            <div class="text-uppercase font-weight-bold font-xs"> Axis Gold <span class="h6 float-right">₹  {{this.etf[12].Axis_Gold}} </span> </div>
                            <div v-if="this.etf[13].Axis_Gold_Change > 0" class="h5 text-success mb-0 mt-2"> <i class="icon-arrow-up mr-2 "></i>{{this.etf[14].Axis_Gold_PChange}}%  <small class="ml-1"> {{this.etf[13].Axis_Gold_Change}} </small> </div>
                            <div v-else class="h5 text-danger mb-0 mt-2"> <i class="icon-arrow-down mr-2 "></i>{{this.etf[14].Axis_Gold_PChange}}%  <small class="ml-1"> {{this.etf[13].Axis_Gold_Change}} </small> </div>                            
                        </b-card-body>
        </b-list-group-item>
        </b-list-group>
      </b-col>
    </b-row>
    <br>
  <div class="mb-2 ml-1">  <span class="text-value" style="font-family: Trebuchet MS,Arial,sans-serif;">  Stock Summary </span> <i class="icon-arrow-right icons font-1xl "></i></div>

  <b-row>
      <b-col sm="3">
        <b-card v-if="this.quote[0] != null">
          <div slot="header">
            <span class="h6">Stock Quote </span>
          </div>
   
          <b-form-group class="mt-2" label="Symbol :" :horizontal="true">
            
            <b-input-group>
              <b-form-input v-model="message" type="text" placeholder="Symbol"></b-form-input>
             
              <b-input-group-append>
                <b-button v-on:click="ohlc" variant="primary">Submit</b-button>
              </b-input-group-append>
              <!-- <b-input-group-append>
                <b-button v-on:click="add_port" variant="success">Add</b-button>
              </b-input-group-append> -->
            </b-input-group>
          </b-form-group>
          <hr class="mt-0">
          <div class="mt-4" v-if="quote_change > 0">
              <div class="text-uppercase font-weight-bold font-s float-left ml-3"> {{this.quote[0].Symbol}} </div> <span class="float-right mr-3 text-value"> {{this.quote_last}} </span><br>
              <div class="h5 text-success mb-0 mt-2 float-left ml-3"> <i class="icon-arrow-up mr-2 "></i>{{this.quote_change}}%  <small class="ml-1"> {{this.quote_changeValue}} </small> </div> 
            </div>
            <div class="mt-4" v-else>
              <div class="text-uppercase font-weight-bold font-s float-left ml-3"> {{this.quote[0].Symbol}} </div> <span class="float-right mr-3 text-value"> {{this.quote_last}} </span><br>
              <div class="h5 text-danger mb-0 mt-2 float-left ml-3"> <i class="icon-arrow-down mr-2 "></i>{{this.quote_change}}%  <small class="ml-1"> {{this.quote_changeValue}} </small> </div> 
            </div>
            <br><br>
            <hr class="mt-0">
          <div class="brand-card-body mt-2">
            <div>
              <div class="text-primary text-uppercase small">Prev. Close</div>
              <div class="text-value">{{this.quote[0].Prev_Close}}</div>
            </div>
            <div>
              <div class="text-primary text-uppercase small">Open Price</div>
              <div class="text-value">{{this.quote[0].Open}}</div>
            </div>
            <div>
              <div class="text-primary text-uppercase small">Close Price</div>
              <div class="text-value">{{this.quote[0].Close}}</div>
            </div>
          </div>
          <div class="brand-card-body mt-3">
            <div>
              <div class="text-primary text-uppercase small">Volume</div>
              <div class="text-value">{{this.quote[0].Volume}}</div>
            </div>
            <div>
              <div class="text-primary text-uppercase small">VWAP</div>
              <div class="text-value">{{this.quote[0].VWAP}}</div>
            </div>
            <div>
              <div class="text-primary text-uppercase small">Trades</div>
              <div class="text-value">{{this.quote[0].Trades}}</div>
            </div>
          </div>
          
          
        </b-card>
      </b-col>
      <b-col sm="6">
        <fullscreen ref="fullscreen" @change="fullscreenChange">
        <b-card>
          <div slot="header">
            <span class="h6"> Fundamental Chart </span> <i class="icon-frame icons font-2xl d-block float-right" @click="toggleFullScreen" ></i>
          </div>
            <highcharts v-if="fullscreen == false" class="chart-wrapper" :constructor-type="'stockChart'" style="height:331px;" height="331" :options="stockOptions"></highcharts>
            <highcharts v-else class="chart-wrapper" :constructor-type="'stockChart'" style="height:965px;" height="965" :options="stockOptions"></highcharts>
        </b-card>
        </fullscreen>
      </b-col>
      <b-col sm="3">
        <b-card style="height:420px;" >
          <div slot="header">
            <span class="h6">Technicals </span>
          </div>
        
            <div class="progress-group" v-if="tech[0].O_Buy > tech[1].O_Sell">
                  <div class="progress-group-header">
                    <i class="icon-user progress-group-icon"></i>
                    <span class="title">Oscillators</span>
                    <span class="ml-auto font-weight-bold text-success">BUY</span>
                  </div>
                  <div class="progress-group-bars">
                    <b-progress height={} class="progress-xs" :value="O_val_buy" variant="success"></b-progress>
                  </div>
                </div>
                <div class="progress-group" v-else-if="tech[0].O_Buy < tech[1].O_Sell">
                 <div class="progress-group-header">
                    <i class="icon-user progress-group-icon"></i>
                    <span class="title">Oscillators</span>
                    <span class="ml-auto font-weight-bold text-danger">SELL</span>
                  </div>
                  <div class="progress-group-bars">
                    <b-progress height={} class="progress-xs" :value="O_val_sell" variant="danger"></b-progress>
                  </div>
                </div>
                <div class="progress-group" v-else-if="tech[0].O_Buy == tech[1].O_Sell">
                 <div class="progress-group-header">
                    <i class="icon-user progress-group-icon"></i>
                    <span class="title">Oscillators</span>
                    <span class="ml-auto font-weight-bold text-info">NEUTRAL</span>
                  </div>
                  <div class="progress-group-bars">
                    <b-progress height={} class="progress-xs" :value="O_val_neutral" variant="info"></b-progress>
                  </div>
                </div>

            <div class="brand-card-body">
            <div>
              <div class="font-weight-bold font-xs float-left ml-3 mt-1"> Sell </div> <span class="float-right mr-3 text-danger text-value"> {{tech[1].O_Sell}} </span>
            </div>
            <div>
              <div class="font-weight-bold font-xs float-left ml-3 mt-1"> Neutral </div> <span class="float-right mr-3 text-info text-value"> {{this.tech[2].O_Hold}} </span>
            </div>
            <div>
              <div class="font-weight-bold font-xs float-left ml-3 mt-1"> Buy </div> <span class="float-right mr-3 text-success text-value"> {{this.tech[0].O_Buy}} </span>
            </div>
          </div>
          <hr class="mt-0">

            <div class="progress-group" v-if="tech[3].MA_Buy > tech[4].MA_Sell">
                  <div class="progress-group-header">
                    <i class="icon-user progress-group-icon"></i>
                    <span class="title">Moving Averages</span>
                    <span class="ml-auto font-weight-bold text-success">BUY</span>
                  </div>
                  <div class="progress-group-bars">
                    <b-progress height={} class="progress-xs" :value="MA_val_buy" variant="success"></b-progress>
                  </div>
                </div>
                <div class="progress-group" v-else-if="tech[3].MA_Buy < tech[4].MA_Sell">
                 <div class="progress-group-header">
                    <i class="icon-user progress-group-icon"></i>
                    <span class="title">Moving Averages</span>
                    <span class="ml-auto font-weight-bold text-danger">SELL</span>
                  </div>
                  <div class="progress-group-bars">
                    <b-progress height={} class="progress-xs" :value="MA_val_sell" variant="danger"></b-progress>
                  </div>
                </div>
                <div class="progress-group" v-else-if="tech[3].MA_Buy == tech[4].MA_Sell">
                 <div class="progress-group-header">
                    <i class="icon-user progress-group-icon"></i>
                    <span class="title">Moving Averages</span>
                    <span class="ml-auto font-weight-bold text-info">NEUTRAL</span>
                  </div>
                  <div class="progress-group-bars">
                    <b-progress height={} class="progress-xs" :value="MA_val_neutral" variant="info"></b-progress>
                  </div>
                </div>

            <div class="brand-card-body">
            <div>
              <div class="font-weight-bold font-xs float-left ml-3 mt-1"> Sell </div> <span class="float-right mr-3 text-danger text-value"> {{this.tech[4].MA_Sell}} </span>
            </div>
            <div>
              <div class="font-weight-bold font-xs float-left ml-3 mt-1"> Neutral </div> <span class="float-right mr-3 text-info text-value"> {{this.tech[5].MA_Hold}} </span>
            </div>
            <div>
              <div class="font-weight-bold font-xs float-left ml-3 mt-1"> Buy </div> <span class="float-right mr-3 text-success text-value"> {{this.tech[3].MA_Buy}} </span>
            </div>
          </div>
          <hr class="mt-0">

            <div class="progress-group" v-if="tech[6].S_Buy > tech[7].S_Sell">
                  <div class="progress-group-header">
                    <i class="icon-user progress-group-icon"></i>
                    <span class="title">Summary</span>
                    <span class="ml-auto font-weight-bold text-success">BUY</span>
                  </div>
                  <div class="progress-group-bars">
                    <b-progress height={} class="progress-xs" :value="S_val_buy" variant="success"></b-progress>
                  </div>
                </div>
                <div class="progress-group" v-else-if="tech[6].S_Buy < tech[7].S_Sell">
                 <div class="progress-group-header">
                    <i class="icon-user progress-group-icon"></i>
                    <span class="title">Summary</span>
                    <span class="ml-auto font-weight-bold text-danger">SELL</span>
                  </div>
                  <div class="progress-group-bars">
                    <b-progress height={} class="progress-xs" :value="S_val_sell" variant="danger"></b-progress>
                  </div>
                </div>
                <div class="progress-group" v-else-if="tech[6].S_Buy == tech[7].S_Sell">
                 <div class="progress-group-header">
                    <i class="icon-user progress-group-icon"></i>
                    <span class="title">Summary</span>
                    <span class="ml-auto font-weight-bold text-info">NEUTRAL</span>
                  </div>
                  <div class="progress-group-bars">
                    <b-progress height={} class="progress-xs" :value="S_val_neutral" variant="info"></b-progress>
                  </div>
                </div>

            <div class="brand-card-body">
            <div>
              <div class="font-weight-bold font-xs float-left ml-3 mt-1"> Sell </div> <span class="float-right mr-3 text-danger text-value"> {{this.tech[7].S_Sell}} </span>
            </div>
            <div>
              <div class="font-weight-bold font-xs float-left ml-3 mt-1"> Neutral </div> <span class="float-right mr-3 text-info text-value"> {{this.tech[8].S_Hold}} </span>
            </div>
            <div>
              <div class="font-weight-bold font-xs float-left ml-3 mt-1"> Buy </div> <span class="float-right mr-3 text-success text-value"> {{this.tech[6].S_Buy}} </span>
            </div>
          </div>
        
        </b-card>
      </b-col>
    </b-row> 

<div class="mb-2 ml-1">  <span class="text-value" style="font-family: Trebuchet MS,Arial,sans-serif;">  Stock Comparision </span> <i class="icon-arrow-right icons font-1xl "></i></div>

    <b-card>
      <b-row>
        <b-col sm="5">
          <span id="traffic" class="card-title mb-0 font-lg">Compare Stocks</span>
          <div class="small text-muted">February 2019</div>
        </b-col>
        <b-col sm="7" >
          <b-form-group class="float-right">
            <b-input-group>
              <b-form-input v-model="compare" type="text" placeholder="Symbols"></b-form-input>
              <!-- Attach Right button -->
              <b-input-group-append>
                <b-button v-on:click="comparision" variant="primary">Submit</b-button>
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
      </b-row>
      <highcharts class="stock" :constructor-type="'stockChart'" :options="stockOptions1"></highcharts>
      
    </b-card>


  <!-- {{this.news.articles[0].content}} -->

  <!-- <div v-for="x in this.news.articles" :key="x.id">
    {{x.content}} <br>
  </div> -->
    <b-row>
      <b-col md="12" sm="6">
        <div class="mb-2 ml-1">  <span class="text-value" style="font-family: Trebuchet MS,Arial,sans-serif;">  Top Business  Headlines </span> <i class="icon-arrow-right icons font-1xl "></i></div>
        <b-card class="bg-light">
        <ul class="list-unstyled">
        <div v-for="item in this.news.articles" :key="item.id">
        <a :href="item.url" target="_blank" class="text-dark">
        <b-media tag="li" class="my-4">
          <b-img slot="aside" :src="item.urlToImage" width="230" height="130" alt="placeholder" />

          <span class="h5 mt-0">{{item.title}}</span>

          <p class="float-right"> 
            <span class="text-secondary"> Published @ </span>
            <span class="text-info"> {{item.publishedAt.split("Z")[0].split("T")[0]}} </span>
            <span> , </span>
            <span class="text-info"> {{item.publishedAt.split("Z")[0].split("T")[1].split(":")[0]}} </span> 
            <span> : </span>
            <span class="text-info"> {{item.publishedAt.split("Z")[0].split("T")[1].split(":")[1]}} </span> 
          </p>

          <p class="mt-2"> {{item.description}} </p>
          <p class="mb-0" v-if="item.content != null"> {{item.content.split(" [+")[0]}} </p>
          <!-- <p class="mb-0"> {{item.content}} </p> -->
        </b-media>
        </a>
        </div>
      </ul>
      </b-card>
      </b-col>
      <!-- <b-col md="3" sm="6">
        <div class="mb-2 ml-1">  <span class="text-value" style="font-family: Trebuchet MS,Arial,sans-serif;">  Top Gainers </span> <i class="icon-arrow-right icons font-1xl "></i></div>
      </b-col>
      <b-col md="3" sm="6">
        <div class="mb-2 ml-1">  <span class="text-value" style="font-family: Trebuchet MS,Arial,sans-serif;">  Top Losers </span> <i class="icon-arrow-right icons font-1xl "></i></div>
      </b-col> -->
    </b-row>

  
<!-- <div id="vue-frame">
   <vue-frame style="display: none;" text="VueJS" url="http://www.finflock.com:3838/sample-apps/hello/" frame="myframe" type="button" class="form-control" default=1></vue-frame>
   <br />
 
   <iframe id="myframe" width="100%" style="height:325px; border: 1px solid #c8ced3; border-radius: 0.25rem; margin-top: -25px;"></iframe>
</div> -->
  


  </div>
</template>


<script>
import CardLine1ChartExample from './dashboard/CardLine1ChartExample'
import CardLine2ChartExample from './dashboard/CardLine2ChartExample'
import CardLine3ChartExample from './dashboard/CardLine3ChartExample'
import CardBarChartExample from './dashboard/CardBarChartExample'
import CardLine5ChartExample from './dashboard/CardLine5ChartExample'
import CardLine6ChartExample from './dashboard/CardLine6ChartExample'
import CardLine7ChartExample from './dashboard/CardLine7ChartExample'
import CardLine8ChartExample from './dashboard/CardLine8ChartExample'
import MainChartExample from './dashboard/MainChartExample'
import SocialBoxChartExample from './dashboard/SocialBoxChartExample'
import CalloutChartExample from './dashboard/CalloutChartExample'
import { Callout } from '@coreui/vue'
import VueFrame from 'vue-frame'
import axios from 'axios';
import vSelect from 'vue-select'
import Fullscreen from "vue-fullscreen/src/component.vue"
import RotateLoader from 'vue-spinner/src/RotateLoader.vue'
import Vue from 'vue'
import VueNotifications from 'vue-notifications'
import miniToastr from 'mini-toastr'
const NewsAPI = require('newsapi');
const newsapi = new NewsAPI('802f61be04774cffa699a4557e36b0a6');

const toastTypes = {
  success: 'success',
  error: 'error',
  info: 'info',
  warn: 'warn'
}

miniToastr.init({types: toastTypes})

function toast ({title, message, type, timeout, cb}) {
  return miniToastr[type](message, title, timeout, cb)
}

const options = {
  success: toast,
  error: toast,
  info: toast,
  warn: toast
}

Vue.use(VueNotifications, options)

export default {
  props: ['api_url'],
  name: 'dashboard',
  components: {
    Callout,
    CardLine1ChartExample,
    CardLine2ChartExample,
    CardLine3ChartExample,
    CardBarChartExample,
    CardLine5ChartExample,
    CardLine6ChartExample,
    CardLine7ChartExample,
    CardLine8ChartExample,
    MainChartExample,
    SocialBoxChartExample,
    CalloutChartExample,
    VueFrame,
    Fullscreen,
    RotateLoader
  },
  timers: {
    log: { time: 3000, autostart: true }
  },
  notifications: {
            portfolioErrorMsg: {
            type: VueNotifications.types.error,
            title: 'Failed !',
            message: 'Stock already exsists.'
            },
            portfolioSuccessMsg: {
            type: VueNotifications.types.info,
            title: 'Successful',
            message: 'Stock added to Portfolio!'
            }
        },
  data: function () {
    return {
      loading: 0,
      portfolio:[],
      json: [],

      posts: [],
      posts1: [],
      errors: null,
     
      message: 'TCS',
      compare: 'TCS,UPL,WIPRO',
      nifty1: 0,
      nifty2: 0,
      nifty3: 0,
      nifty4: 0,
      nifty5: 0,
      nifty6: 0,
      nifty7: 0,
      nifty8: 0,

      futures: [0],
      currencies: [0],
      mutual: [0],
      etf: [0],


      quote_last: 0,
      quote_change: 0,
      quote_changeValue: 0,
      quote: null,

      tech:[],
      O_val_buy: null,
      O_val_sell: null,
      O_val_neutral: null,
      MA_val_buy: null,
      MA_val_sell: null,
      MA_val_neutral: null,
      S_val_buy: null,
      S_val_sell: null,
      S_val_neutral: null,

      chk: null,

      news: null,

      posts: 0,
      stockOptions: {
        rangeSelector: {
            selected: 6
        },
    //     chart: {
    //     backgroundColor: '#3a4149'
    // },
        plotOptions: {
        series: {
            shadow: {
            width: 15,
            offsetY: 10,
            opacity: 0.007
            }
            }
        },

        // title: {
            // text: 'TCS Stock Price',
            // style: {
            // color: 'white'
            // }
        // },

        series: [{
            type: 'ohlc',
            // color: "yellow",
            name: 'TCS Stock Price',
            data: [[]],
            dataGrouping: {
                units: [[
                    'week', // unit name
                    [1] // allowed multiples
                ], [
                    'month',
                    [1, 2, 3, 4, 6]
                ]]
            }
        }]
      },
      posts1: 0,
      stockOptions1: {
        rangeSelector: {
            selected: 6
        },

        yAxis: {
            labels: {
                formatter: function () {
                    return (this.value > 0 ? ' + ' : '') + this.value + '%';
                }
            },
            plotLines: [{
                value: 0,
                width: 2,
                color: 'silver'
            }]
        },

        plotOptions: {
            series: {
                compare: 'percent',
                showInNavigator: true
            }
        },

        tooltip: {
            pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.change}%)<br/>',
            valueDecimals: 2,
            split: true
        },

        title: {
            text: 'TCS,UPL,WIPRO Price Comparision'
        },

        series: []
 
      },

      // CURRENCY FUTURES MUTUAL ETF HIGHCHART
      stockWidget_currencies: {
        navigator: {
            enabled: false
        },
        scrollbar: {
            enabled: true
        },

        plotOptions: {
        series: {
            shadow: {
            width: 15,
            offsetY: 10,
            opacity: 0.01
            }
            }
        },

        rangeSelector: {
            buttonPosition: {
                    align: 'right',
                    x: 0,
                    y: 0
                },
            selected: 6,
            inputEnabled: false
        },

        tooltip: {
    
            valueDecimals: 2,
        },

        series: [
          {
            // type: 'areaspline',
            name: null,
            data: null
          }
        ]

    },
    stockWidget_futures: {
        navigator: {
            enabled: false
        },
        plotOptions: {
        series: {
            shadow: {
            width: 15,
            offsetY: 10,
            opacity: 0.01
            }
            }
        },

        rangeSelector: {
            buttonPosition: {
                    align: 'right',
                    x: 0,
                    y: 0
                },
            selected: 6,
            inputEnabled: false
        },

        tooltip: {
    
            valueDecimals: 2,
        },

        series: [
          {
            name: null,
            data: null
          }
        ]

    },
    stockWidget_mutual: {
        navigator: {
            enabled: false
        },
        plotOptions: {
        series: {
            shadow: {
            width: 15,
            offsetY: 10,
            opacity: 0.01
            }
            }
        },

        rangeSelector: {
            buttonPosition: {
                    align: 'right',
                    x: 0,
                    y: 0
                },
            selected: 6,
            inputEnabled: false
        },

        tooltip: {
    
            valueDecimals: 2,
        },

        series: [
          {
            name: null,
            data: null
          }
        ]

    },
    stockWidget_etf: {
        navigator: {
            enabled: false
        },
        plotOptions: {
        series: {
            shadow: {
            width: 15,
            offsetY: 10,
            opacity: 0.01
            }
            }
        },

        rangeSelector: {
            buttonPosition: {
                    align: 'right',
                    x: 0,
                    y: 0
                },
            selected: 6,
            inputEnabled: false
        },

        tooltip: {
    
            valueDecimals: 2,
        },

        series: [
          {
            name: null,
            data: null
          }
        ]

    },
    fullscreen: false

    }
  },

//***************************************************************************METHODS*****************************************************************************/

  methods: {

    ohlc: function () {

      let repoUrl = this.$cookies.get('api_url')+'OHLC/?name=' + this.message;
      axios.get(repoUrl)
      
    .then(response => {
      this.posts = response.data,
      // this.stockOptions.title.text = this.message+' Stock Price',
      this.stockOptions.series = [{
            type: 'candlestick',
            name: this.message+' Stock Price',
            data: this.posts,
            dataGrouping: {
                units: [[
                    'week', // unit name
                    [1] // allowed multiples
                ], [
                    'month',
                    [1, 2, 3, 4, 6]
                ]]
            }
        }]  
        
        })
    .catch(e => {
      this.errors.push(e)

    }),
    
    axios.get(this.$cookies.get('api_url')+'quotes/?name='+this.message)
    // axios.get(this.$cookies.get('nse_api_url')+'quotes/?name='+this.message)
    .then(response => {
      this.posts = response.data,
      this.quote = this.posts,
      this.quote_last = this.posts[0].Last,
      this.quote_change = this.posts[0].Change,
      this.quote_changeValue = this.posts[0].ChangeValue
        
        })
    .catch(e => {
      this.errors.push(e)

    })     
    },
    comparision: function () {
      let repoUrl = this.$cookies.get('api_url')+'Compare/?stocks=' + this.compare;
    axios.get(repoUrl)
    .then(response => {
      this.posts1 = response.data,
      this.stockOptions1.title.text = this.compare+' Price Comparision',
      this.stockOptions1.series = this.posts1
        
        })
    .catch(e => {
      this.errors.push(e)

    })   
    },
    //CURRENCY SUBMIT   
    currency1: function () {
    axios.get(this.$cookies.get('api_url')+'Exchange_ratesgraph/?name=BUNDESBANK/BBEX3_M_AUD_USD_CM_AC_A01')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_currencies.series[0].name = 'USD / AUD',
      this.stockWidget_currencies.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    currency2: function () {
    axios.get(this.$cookies.get('api_url')+'Exchange_ratesgraph/?name=BUNDESBANK/BBEX3_M_JPY_USD_CA_AA_A02')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_currencies.series[0].name = 'USD / JPY',
      this.stockWidget_currencies.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    currency3: function () {
    axios.get(this.$cookies.get('api_url')+'Exchange_ratesgraph/?name=BUNDESBANK/BBEX3_M_CNY_USD_CA_AC_A01')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_currencies.series[0].name = 'USD / CNY',
      this.stockWidget_currencies.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    currency4: function () {
    axios.get(this.$cookies.get('api_url')+'Exchange_ratesgraph/?name=BUNDESBANK/BBEX3_M_INR_USD_CA_AC_A01')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_currencies.series[0].name = 'USD / INR',
      this.stockWidget_currencies.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    currency5: function () {
    axios.get(this.$cookies.get('api_url')+'Exchange_ratesgraph/?name=BUNDESBANK/BBEX3_M_USD_EUR_BB_AC_A02')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_currencies.series[0].name = 'USD / EUR',
      this.stockWidget_currencies.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    //FUTURES SUBMIT   
    futures1: function () {
    axios.get(this.$cookies.get('api_url')+'Futuresgraph/?name=MCX/GMU2018')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_futures.series[0].name = 'Gold mini',
      this.stockWidget_futures.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    futures2: function () {
    axios.get(this.$cookies.get('api_url')+'Futuresgraph/?name=MCX/ALMX2015')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_futures.series[0].name = 'Aluminium mini',
      this.stockWidget_futures.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    futures3: function () {
    axios.get(this.$cookies.get('api_url')+'Futuresgraph/?name=MCX/SIMJ2017')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_futures.series[0].name = 'Silver mini',
      this.stockWidget_futures.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    futures4: function () {
    axios.get(this.$cookies.get('api_url')+'Futuresgraph/?name=MCX/PBMQ2017')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_futures.series[0].name = 'Lead mini',
      this.stockWidget_futures.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    futures5: function () {
    axios.get(this.$cookies.get('api_url')+'Futuresgraph/?name=MCX/CUMV2017')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_futures.series[0].name = 'Copper mini',
      this.stockWidget_futures.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    //MUTUAL FUNDS SUBMIT   
    mutual1: function () {
    axios.get(this.$cookies.get('api_url')+'Mutual_Fundsgraph/?name=AMFI/143351')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_mutual.series[0].name = 'IDBI',
      this.stockWidget_mutual.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    mutual2: function () {
    axios.get(this.$cookies.get('api_url')+'Mutual_Fundsgraph/?name=AMFI/113076')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_mutual.series[0].name = 'ICICI',
      this.stockWidget_mutual.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    mutual3: function () {
    axios.get(this.$cookies.get('api_url')+'Mutual_Fundsgraph/?name=AMFI/126963')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_mutual.series[0].name = 'TATA',
      this.stockWidget_mutual.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    mutual4: function () {
    axios.get(this.$cookies.get('api_url')+'Mutual_Fundsgraph/?name=AMFI/100033')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_mutual.series[0].name = 'Aditya Birla',
      this.stockWidget_mutual.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    mutual5: function () {
    axios.get(this.$cookies.get('api_url')+'Mutual_Fundsgraph/?name=AMFI/100868')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_mutual.series[0].name = 'HDFC',
      this.stockWidget_mutual.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    //ETF SUBMIT   
    etf1: function () {
    axios.get(this.$cookies.get('api_url')+'ETFgraph/?name=NSE/SETFGOLD')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_etf.series[0].name = 'SBI Gold',
      this.stockWidget_etf.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    etf2: function () {
    axios.get(this.$cookies.get('api_url')+'ETFgraph/?name=NSE/KOTAKNV20')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_etf.series[0].name = 'Kotak Mamc',
      this.stockWidget_etf.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    etf3: function () {
    axios.get(this.$cookies.get('api_url')+'ETFgraph/?name=NSE/SETFNIF50')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_etf.series[0].name = 'SBI Nifty50',
      this.stockWidget_etf.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    etf4: function () {
    axios.get(this.$cookies.get('api_url')+'ETFgraph/?name=NSE/ICICISENSX')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_etf.series[0].name = 'ICICI Sensex',
      this.stockWidget_etf.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },
    etf5: function () {
    axios.get(this.$cookies.get('api_url')+'ETFgraph/?name=NSE/AXISGOLD')
    .then(response => {
      this.posts = response.data,
      this.stockWidget_etf.series[0].name = 'Axis Gold',
      this.stockWidget_etf.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    })
    },

    //FULLSCREEN
    toggleFullScreen () {
        this.$refs['fullscreen'].toggle()
      },
      fullscreenChange (fullscreen) {
        this.fullscreen = fullscreen
      },

    //LOADING       
    log () {
      this.loading = 1;
    },
    onSlideStart (slide) {
      console.log('onSlideStart', slide)
      this.sliding = true
    },
    onSlideEnd (slide) {
      console.log('onSlideEnd', slide)
      this.sliding = false
    }

  },

  // ************************************************************************* CREATED *********************************************************************************
    created() {

    axios.get('https://newsapi.org/v2/top-headlines?country=in&category=business&apiKey=802f61be04774cffa699a4557e36b0a6') 
    .then(response => {
      this.posts = response.data,
      this.news = this.posts
        
        })
  .catch(e => {
      this.news = 'adadadada'

    })  ,

    // OHLC HIGHCHART
    axios.get(this.$cookies.get('api_url')+'OHLC/?name=TCS') 
    .then(response => {
      this.posts = response.data,
      this.stockOptions.series = [{
            type: 'candlestick',
            name: this.message+' Stock Price',
            data: this.posts,
            dataGrouping: {
                units: [[
                    'week', // unit name
                    [1] // allowed multiples
                ], [
                    'month',
                    [1, 2, 3, 4, 6]
                ]]
            }
        }]  
        
        })
    .catch(e => {
      this.errors.push(e)

    })  ,
    
    // COMPARE HIGHCHART
    axios.get(this.$cookies.get('api_url')+`Compare/?stocks=TCS,UPL,WIPRO`)
    .then(response => {
      this.posts1 = response.data,
      this.stockOptions1.series = this.posts1
        
        })
    .catch(e => {
      this.errors.push(e)

    }),

    // NIFTY DATA
    // axios.get(this.$cookies.get('api_url')+`niftycharts/`)
    axios.get(this.$cookies.get('nse_api_url')+`niftycharts/`)
    .then(response => {
      this.posts = response.data,
      this.nifty1 = this.posts[8].Nifty50Close1,
      this.nifty2 = this.posts[10].NiftyAutoClose1,
      this.nifty3 = this.posts[9].NiftyITClose1,
      this.nifty4 = this.posts[11].NiftyBankClose1,
      this.nifty5 = this.posts[12].NIFTYMEDIAClose1,
      this.nifty6 = this.posts[13].NIFTYMETALClose1,
      this.nifty7 = this.posts[14].NIFTY200Close1,
      this.nifty8 = this.posts[15].NIFTY500Close1
        })
    .catch(e => {
      this.errors.push(e)

    }),

    axios.get(this.$cookies.get('api_url')+`Exchange_ratesgraph/?name=BUNDESBANK/BBEX3_M_AUD_USD_CM_AC_A01`)
    .then(response => {
      this.posts = response.data,
      this.stockWidget_currencies.series[0].name = 'USD / AUD',
      this.stockWidget_currencies.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    }),
    axios.get(this.$cookies.get('api_url')+`Futuresgraph/?name=MCX/GMU2018`)
    .then(response => {
      this.posts = response.data,
      this.stockWidget_futures.series[0].name = 'Gold mini',
      this.stockWidget_futures.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    }),
    axios.get(this.$cookies.get('api_url')+`Mutual_Fundsgraph/?name=AMFI/143351`)
    .then(response => {
      this.posts = response.data,
      this.stockWidget_mutual.series[0].name = 'IDBI',
      this.stockWidget_mutual.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    }),
    axios.get(this.$cookies.get('api_url')+`ETFgraph/?name=NSE/SETFGOLD`)
    .then(response => {
      this.posts = response.data,
      this.stockWidget_etf.series[0].name = 'SBI Gold',
      this.stockWidget_etf.series[0].data = this.posts.data
        
        })
    .catch(e => {
      this.errors.push(e)

    }),
    // axios.get(this.$cookies.get('api_url')+`quotes/?name=TCS`)
    axios.get(this.$cookies.get('nse_api_url')+`quotes/?name=TCS`)
    .then(response => {
      this.posts = response.data,
      this.quote = this.posts,
      this.quote_last = this.posts[0].Last,
      this.quote_change = this.posts[0].Change,
      this.quote_changeValue = this.posts[0].ChangeValue
        
        })
    .catch(e => {
      this.errors.push(e)

    }),

    // FUTURES
    axios.get(this.$cookies.get('api_url')+`Futures/`)
    .then(response => {
      this.posts = response.data,
      this.futures = this.posts        
        })
    .catch(e => {
      this.futures = null

    }),
    // CURRENCIES
    axios.get(this.$cookies.get('api_url')+`Exchange_rates/`)
    .then(response => {
      this.posts = response.data,
      this.currencies = this.posts        
        })
    .catch(e => {
      this.currencies = null

    }),
    // MUTUAL FUNDS
    axios.get(this.$cookies.get('api_url')+`Mutual_Funds/`)
    .then(response => {
      this.posts = response.data,
      this.mutual = this.posts        
        })
    .catch(e => {
      this.mutual = null
    }),
    // ETF
    axios.get(this.$cookies.get('api_url')+`ETF/`)
    .then(response => {
      this.posts = response.data,
      this.etf = this.posts        
        })
    .catch(e => {
      this.etf = null

    }),

    //TECHNICAL
    // axios.get(this.$cookies.get('api_url')+`signals_summary/?name=TCS`)
    axios.get(this.$cookies.get('api_url')+'signals_summary/?name=TCS')
    .then(response => {
      this.posts = response.data,
      this.tech = this.posts,
      this.O_val_buy = (this.tech[0].O_Buy / (this.tech[0].O_Buy + this.tech[1].O_Sell + this.tech[2].O_Hold)) * 100 ,
      this.O_val_sell = (this.tech[1].O_Sell / (this.tech[0].O_Buy + this.tech[1].O_Sell + this.tech[2].O_Hold)) * 100 ,
      this.O_val_neutral = (this.tech[2].O_Hold / (this.tech[0].O_Buy + this.tech[1].O_Sell + this.tech[2].O_Hold)) * 100 ,
      this.MA_val_buy = (this.tech[3].MA_Buy / (this.tech[3].MA_Buy + this.tech[4].MA_Sell + this.tech[5].MA_Hold)) * 100 ,
      this.MA_val_sell = (this.tech[4].MA_Sell / (this.tech[3].MA_Buy + this.tech[4].MA_Sell + this.tech[5].MA_Hold)) * 100 ,
      this.MA_val_neutral = (this.tech[5].MA_Hold / (this.tech[3].MA_Buy + this.tech[4].MA_Sell + this.tech[5].MA_Hold)) * 100 ,
      this.S_val_buy = (this.tech[6].S_Buy / (this.tech[6].S_Buy + this.tech[7].S_Sell + this.tech[8].S_Hold)) * 100 ,
      this.S_val_sell = (this.tech[7].S_Sell / (this.tech[6].S_Buy + this.tech[7].S_Sell + this.tech[8].S_Hold)) * 100 ,
      this.S_val_neutral = (this.tech[8].S_Hold / (this.tech[6].S_Buy + this.tech[7].S_Sell + this.tech[8].S_Hold)) * 100
        })
    .catch(e => {
      this.errors.push(e)

    })

  }
}
</script>

<style>
  /* IE fix */
  #card-chart-01, #card-chart-02 {
    width: 100% !important;
  }

  /* .list-group-item:focus{
    z-index: 2;
    color: #343b41;
    background: #cff2ff;
} */

a:hover {
  text-decoration: none;
}

</style>
