<template>
  <div class="animated fadeIn">
    

    <!-- <fusioncharts :type="type" :width="width" :height="height" :dataFormat="dataFormat" :dataSource="dataSource"></fusioncharts> -->
<!-- <fusioncharts :type="type"
                 :width="width"
                 :height="height"
                 :dataFormat="dataFormat"
                 :dataSource="dataSource"></fusioncharts> -->
<!-- ## ROW 1 -->
<!-- <line-chart :data="alldata" />
<br>
          <br>
          <br> -->

          <!-- <line-chart :data="{'2005-01-01': 11, '2006-01-02': 6, '2007-01-02': 2, '2008-01-02': 4, '2009-01-02': 9, '2010-01-02': 12, '2011-01-02': 6, '2012-01-02': 7, '2013-01-02': 8, '2014-01-02': 5, '2015-01-02': 4, '2016-01-02':1, '2017-01-02': 5, '2018-01-02': 8, '2019-01-02': 9}"></line-chart> -->
    <b-row>
      <b-col sm="4" md="3">
        <b-card style="height:600px; "  header="Growth" border-variant="primary">
          <!-- <center><h1>GROWTH</h1></center> -->


Economic growth is an increase in the capacity of an economy to produce goods and services, compared from one period of time to another. It can be measured in nominal or real terms, the latter of which is adjusted for inflation. Traditionally, aggregate economic growth is measured in terms of gross national product (GNP) or gross domestic product (GDP), although alternative metrics are sometimes used.
          <br>
          <br>
          <br>
  
          <center><h4>Current GDP - {{ GDP[10][1] }}</h4></center>
          <center style="color:green;"><h4>% Change -  {{ ((GDP[10][1] - GDP[1][1])/GDP[10][1])*100 }}</h4></center>
          <center><h4>--------------------------------</h4></center>

          <center><h4>Current R-GDP - {{ RGDP[10][1] }}</h4></center>
          <center style="color:green;"><h4>% Change -  {{ ((RGDP[10][1] - RGDP[1][1])/RGDP[10][1])*100 }}</h4></center>
          <center><h4>--------------------------------</h4></center>

          <center><h4>Current RP-GDP - {{ RPGDP[10][1] }}</h4></center>
          <center style="color:green;"><h4>% Change - {{ ((RPGDP[10][1] - RPGDP[1][1])/RPGDP[10][1])*100 }}</h4></center>

          <!-- <center><h1>0.4%</h1></center> -->

        </b-card>
      </b-col>

      <b-col sm="4" md="3">
        <b-card style="height:600px;"  header="Gross Domestic Product" border-variant="success">
        <!-- <center><h2>India GDP Growth</h2></center> -->
        <center><h5>GDP (%/quarter)</h5></center>
           <!-- <line-chart :data="GDP"  width="350px" height="100px" :min="17000" :max="21000"></line-chart> -->
           <line-chart :data="GDP"  ></line-chart>
<br>
          <br>
          <p>Gross Domestic Product (GDP) is a monetary measure of the market value of all the final goods and services produced in a period of time,  Nominal GDP estimates are used to determine the economic performance of a whole country</p>
          
        </b-card>
      </b-col>

      <b-col sm="4" md="3">
        <b-card style="height:600px;"  header="Real Gross Domestic Product" border-variant="success">
        <!-- <center><h2>Real Gross Domestic Product</h2></center> -->
        <center><h5>R-GDP (%/quarter)</h5></center>
           <line-chart :data="RGDP"></line-chart>
<br>
          <br>
          <p>Real gross domestic product (GDP) is an inflation-adjusted measure that reflects the value of all goods and services produced by an economy in a given year, expressed in base-year prices, and is often referred to as "constant-price," "inflation-corrected" GDP or "constant dollar GDP." </p>
          
        </b-card>
      </b-col>

      <b-col sm="4" md="3">
        <b-card style="height:600px;"  header="Real Potential Gross Domestic Product" border-variant="success">
        <!-- <center><h2>Real Potential Gross Domestic Product</h2></center> -->
        <center><h5>RP-GDP (%/quarter)</h5></center>
        
           <line-chart :data="RPGDP"></line-chart>
<br>
          <br>
          <p>
            Real potential GDP is the CBO's estimate of the output the economy would produce with a high rate of use of its capital and labor resources. The data is adjusted to remove the effects of inflation.
          </p>
          
        </b-card>
      </b-col>
      
    </b-row><!--/.row-->



<!-- ## ROW 2 -->
 <b-row>
      <b-col sm="4" md="3">
        <b-card style="height:600px; "  header="Employment" border-variant="primary">
          <!-- <center><h1>GROWTH</h1></center> -->


Economic growth is an increase in the capacity of an economy to produce goods and services, compared from one period of time to another. It can be measured in nominal or real terms, the latter of which is adjusted for inflation. Traditionally, aggregate economic growth is measured in terms of gross national product (GNP) or gross domestic product (GDP), although alternative metrics are sometimes used.
          <br>
          <br>
          <br>
  
          <center><h4>Current EM_RATIO - {{ EMP[10][1] }}</h4></center>
          <center style="color:green;"><h4>% Change -  {{ ((EMP[10][1] - EMP[1][1])/EMP[10][1])*100 }}</h4></center>
          <center><h4>--------------------------------</h4></center>

          <center><h4>Current UEM_RATIO - {{ UEMP[10][1] }}</h4></center>
          <center style="color:green;"><h4>% Change -  {{ ((UEMP[10][1] - UEMP[1][1])/UEMP[10][1])*100 }}</h4></center>
          <center><h4>--------------------------------</h4></center>

          <center><h4>Current T_RATIO - {{ TEMP[10][1] }}</h4></center>
          <center style="color:green;"><h4>% Change -  {{ ((TEMP[10][1] - TEMP[1][1])/TEMP[10][1])*100 }}</h4></center>

          <!-- <center><h1>0.4%</h1></center> -->

        </b-card>
      </b-col>

      <b-col sm="4" md="3">
        <b-card style="height:600px;"  header="Employment-Population Ratio" border-variant="success">
        <!-- <center><h2>India GDP Growth</h2></center> -->
        <center><h5>EM_RATIO (%/quarter)</h5></center>
           <line-chart :data="EMP"></line-chart>
<br>
          <br>
          <p>The employment-to-population ratio is a macroeconomic statistic that indicates the ratio of the civilian labor force currently employed to the total working-age population of a region, municipality, or country. It is calculated by dividing the number of people employed by the total number of people of working age</p>
          
        </b-card>
      </b-col>

      <b-col sm="4" md="3">
        <b-card style="height:600px;"  header="Unemployment-Population Ratio" border-variant="success">
        <!-- <center><h2>Real Gross Domestic Product</h2></center> -->
        <center><h5>UEM_RATIO (%/quarter)</h5></center>
           <line-chart :data="UEMP"></line-chart>
<br>
          <br>
          <p>The unemployment rate is the share of the labor force that is jobless, expressed as a percentage. It is a lagging indicator, meaning that it generally rises or falls in the wake of changing economic conditions, rather than anticipating them. </p>
          
        </b-card>
      </b-col>

      <b-col sm="4" md="3">
        <b-card style="height:600px;"  header="All Employees" border-variant="success">
        <!-- <center><h2>Real Potential Gross Domestic Product</h2></center> -->
        <center><h5>T_RATIO (%/quarter)</h5></center>
           <line-chart :data="TEMP"></line-chart>
<br>
          <br>
          <p>
          All Employees: Total Nonfarm, commonly known as Total Nonfarm Payroll, is a measure of the number of U.S. workers in the economy that excludes proprietors, private household employees, unpaid volunteers, farm employees, and the unincorporated self-employed.
          </p>
          
        </b-card>
      </b-col>
      
    </b-row><!--/.row-->

<!-- ## ROW 3 -->

 <b-row>
      <b-col sm="4" md="3">
        <b-card style="height:600px; "  header="Prices and Inflation" border-variant="primary">
          <!-- <center><h1>GROWTH</h1></center> -->

Price inflation is an increase in the price of a standardized good/service or a basket of goods/services over a specific period of time (usually one year). Because the nominal amount of money available in an economy tends to grow larger every year relative to the supply of goods available for purchase, this overall demand pull tends to cause some degree of price inflation.
          <br>
          <br>
          <br>
  
          <center><h4>Current CPIA - {{ PI1[10][1] }}</h4></center>
          <center style="color:green;"><h4>% Change -  {{ ((PI1[10][1] - PI1[1][1])/PI1[10][1])*100 }}</h4></center>

          <center><h4>--------------------------------</h4></center>

          <center><h4>Current CPI - {{ PI2[10][1] }}</h4></center>
          <center style="color:green;"><h4>% Change -  {{ ((PI2[10][1] - PI2[1][1])/PI2[10][1])*100 }}</h4></center>

          <center><h4>--------------------------------</h4></center>

          <center><h4>Current IPD - {{ PI3[10][1] }}</h4></center>
          <center style="color:green;"><h4>% Change -  {{ ((PI3[10][1] - PI3[1][1])/PI3[10][1])*100 }}</h4></center>


          <!-- <center><h1>0.4%</h1></center> -->

        </b-card>
      </b-col>

      <b-col sm="4" md="3">
        <b-card style="height:600px;"  header="Consumer Price Index (All)" border-variant="success">
        <!-- <center><h2>India GDP Growth</h2></center> -->
        <center><h5>CPIA (%/quarter)</h5></center>
           <line-chart :data="PI1"></line-chart>
<br>
          <br>
          <p>The Consumer Price Index (CPI) is a measure that examines the weighted average of prices of a basket of consumer goods and services, such as transportation, food and medical care. It is calculated by taking price changes for each item in the predetermined basket of goods and averaging them. </p>
          
        </b-card>
      </b-col>

      <b-col sm="4" md="3">
        <b-card style="height:600px;"  header="Consumer Price Index (All Less Food & Energy)" border-variant="success">
        <!-- <center><h2>Real Gross Domestic Product</h2></center> -->
        <center><h5>CPI (%/quarter)</h5></center>
           <line-chart :data="PI2"></line-chart>
<br>
          <br>
          <p>The Consumer Price Index for All Urban Consumers: All Items Less Food & Energy is an aggregate of prices paid by urban consumers for a typical basket of goods, excluding food and energy. This measurement, known as “Core CPI,” is widely used by economists because food and energy have very volatile prices. </p>
          
        </b-card>
      </b-col>

      <b-col sm="4" md="3">
        <b-card style="height:600px;"  header="Implicit Price Deflator" border-variant="success">
        <!-- <center><h2>Real Potential Gross Domestic Product</h2></center> -->
        <center><h5>IPD (%/quarter)</h5></center>
           <line-chart :data="PI3"></line-chart>
<br>
          <br>
          <p>
          The gross domestic product implicit price deflator, or GDP deflator, measures changes in the prices of goods and services produced in the United States, including those exported to other countries. Prices of imports are excluded.
          </p>
          
        </b-card>
      </b-col>
      
    </b-row><!--/.row-->


<!-- ## ROW 3 -->

 <b-row>
      <b-col sm="4" md="3">
        <b-card style="height:600px; "  header="Interest Rates" border-variant="primary">
          <!-- <center><h1>GROWTH</h1></center> -->

An interest rate is the amount of interest due per period, as a proportion of the amount lent, deposited or borrowed (called the principal sum). The total interest on an amount lent or borrowed depends on the principal sum, the interest rate, the compounding frequency, and the length of time over which it is lent, deposited or borrowed.
          <br>
          <br>
          <br>
  
          <center><h4>Current EFF - {{ PI1[10][1] }}</h4></center>
          <center style="color:green;"><h4>% Change -  {{ ((PI1[10][1] - PI1[1][1])/PI1[10][1])*100 }}</h4></center>

          <center><h4>--------------------------------</h4></center>

          <center><h4>Current TED - {{ PI2[10][1] }}</h4></center>
          <center style="color:green;"><h4>% Change -  {{ ((PI2[10][1] - PI2[1][1])/PI2[10][1])*100 }}</h4></center>

          <center><h4>--------------------------------</h4></center>

          <center><h4>Current BPLR - {{ PI3[10][1] }}</h4></center>
          <center style="color:green;"><h4>% Change -  {{ ((PI3[10][1] - PI3[1][1])/PI3[10][1])*100 }}</h4></center>


          <!-- <center><h1>0.4%</h1></center> -->

        </b-card>
      </b-col>

      <b-col sm="4" md="3">
        <b-card style="height:600px;"  header="Effective Federal Funds Rate" border-variant="success">
        <!-- <center><h2>India GDP Growth</h2></center> -->
        <center><h5>EFF (%/quarter)</h5></center>
           <line-chart :data="{'2005-01-01': 11, '2006-01-02': 6, '2007-01-02': 2, '2008-01-02': 4, '2009-01-02': 9, '2010-01-02': 12, '2011-01-02': 6, '2012-01-02': 7, '2013-01-02': 8, '2014-01-02': 5, '2015-01-02': 4, '2016-01-02':1, '2017-01-02': 5, '2018-01-02': 8, '2019-01-02': 9}"></line-chart>
<br>
          <br>
          <p>The Consumer Price Index (CPI) is a measure that examines the weighted average of prices of a basket of consumer goods and services, such as transportation, food and medical care. It is calculated by taking price changes for each item in the predetermined basket of goods and averaging them. </p>
          
        </b-card>
      </b-col>

      <b-col sm="4" md="3">
        <b-card style="height:600px;"  header="TED Spread" border-variant="success">
        <!-- <center><h2>Real Gross Domestic Product</h2></center> -->
        <center><h5>TED (%/quarter)</h5></center>
           <line-chart :data="{'2005-01-01': 11, '2006-01-02': 6, '2007-01-02': 2, '2008-01-02': 4, '2009-01-02': 9, '2010-01-02': 12, '2011-01-02': 6, '2012-01-02': 7, '2013-01-02': 8, '2014-01-02': 5, '2015-01-02': 4, '2016-01-02':1, '2017-01-02': 5, '2018-01-02': 8, '2019-01-02': 9}"></line-chart>
<br>
          <br>
          <p>The Consumer Price Index for All Urban Consumers: All Items Less Food & Energy is an aggregate of prices paid by urban consumers for a typical basket of goods, excluding food and energy. This measurement, known as “Core CPI,” is widely used by economists because food and energy have very volatile prices. </p>
          
        </b-card>
      </b-col>

      <b-col sm="4" md="3">
        <b-card style="height:600px;"  header="Bank Prime Loan Rate" border-variant="success">
        <!-- <center><h2>Real Potential Gross Domestic Product</h2></center> -->
        <center><h5>BPLR (%/quarter)</h5></center>
           <line-chart :data="{'2005-01-01': 11, '2006-01-02': 6, '2007-01-02': 2, '2008-01-02': 4, '2009-01-02': 9, '2010-01-02': 12, '2011-01-02': 6, '2012-01-02': 7, '2013-01-02': 8, '2014-01-02': 5, '2015-01-02': 4, '2016-01-02':1, '2017-01-02': 5, '2018-01-02': 8, '2019-01-02': 9}"></line-chart>
<br>
          <br>
          <p>
          The gross domestic product implicit price deflator, or GDP deflator, measures changes in the prices of goods and services produced in the United States, including those exported to other countries. Prices of imports are excluded.
          </p>
          
        </b-card>
      </b-col>
      
    </b-row><!--/.row-->









    


  

  </div>
</template>

<script>
import axios from 'axios';



export default {


   
   data: () => ({
      type: "line",
      width: '10%',
      height: '10%',
      dataFormat: 'json',
      x: [[]],
      GDP: [[]],
      RGDP: [[]],
      RPGDP: [[]],
      EMP: [[]],
      UEMP: [[]],
      TEMP: [[]],
      PI1: [[]],
      PI2: [[]],
      PI3: [[]],
      alldata: [
  {name: 'India GDP', data: {'2017-01-01 00:00:00 -0800': 3, '2017-01-02 00:00:00 -0800': 4}},
  {name: 'US GDP', data: {'2017-01-01 00:00:00 -0800': 5, '2017-01-02 00:00:00 -0800': 3}}
]
        
   }),






created() {
  axios.get(`https://www.finflock.com/api/fred2/?name=GDP`)
    .then(response => {
      this.GDP = response.data
      this.alldata = [
        {name: 'India GDP', data : this.GDP},
        {name: 'US GDP', data: {'2017-01-01 00:00:00 -0800': 5, '2017-01-02 00:00:00 -0800': 3}}
      ]
        
        })
    .catch(e => {
      this.errors.push(e)

    }),

    axios.get(`https://www.finflock.com/api/fred2/?name=GDPC1`)
    .then(response => {
      this.RGDP = response.data
        
        })
    .catch(e => {
      this.errors.push(e)

    }),

    axios.get(`https://www.finflock.com/api/fred2/?name=GDPPOT`)
    .then(response => {
      this.RPGDP = response.data
        
        })
    .catch(e => {
      this.errors.push(e)

    }),

    axios.get(`https://www.finflock.com/api/fred2/?name=PAYEMS`)
    .then(response => {
      this.TEMP = response.data
        
        })
    .catch(e => {
      this.errors.push(e)

    }),

    axios.get(`https://www.finflock.com/api/fred2/?name=EMRATIO`)
    .then(response => {
      this.EMP = response.data
        
        })
    .catch(e => {
      this.errors.push(e)

    }),

    axios.get(`https://www.finflock.com/api/fred2/?name=CPIAUCSL`)
    .then(response => {
      this.UEMP = response.data

        
        })
    .catch(e => {
      this.errors.push(e)

    }),


    axios.get(`https://www.finflock.com/api/fred2/?name=CPILFESL`)
    .then(response => {
      this.PI1 = response.data

        
        })
    .catch(e => {
      this.errors.push(e)

    }),


    axios.get(`https://www.finflock.com/api/fred2/?name=GDPDEF`)
    .then(response => {
      this.PI2 = response.data

        
        })
    .catch(e => {
      this.errors.push(e)

    }),


    axios.get(`https://www.finflock.com/api/fred2/?name=UNEMPLOY`)
    .then(response => {
      this.PI3 = response.data

        
        })
    .catch(e => {
      this.errors.push(e)

    })


    

},



}
</script>

<style scoped>
  .fade-enter-active {
    transition: all .3s ease;
  }
  .fade-leave-active {
    transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
  }
  .fade-enter, .fade-leave-to {
    transform: translateX(10px);
    opacity: 0;
  }
</style>
