<template>
    <div class="animated fadeIn">
        <h4 class="text-info">Growth</h4>
        <p>Economic growth is an increase in the capacity of an economy to produce goods and services, compared from one period of time to another. It can be measured in nominal or real terms, the latter of which is adjusted for inflation. Traditionally, aggregate economic growth is measured in terms of gross national product (GNP) or gross domestic product (GDP), although alternative metrics are sometimes used.</p>
        <!-- <hr class="my-2 mb-3 bg-info"> -->
        <b-row>
        <b-col sm="6" lg="4">
        <b-card no-body >
          <b-card-header >Gross Domestic Product</b-card-header>
          <b-card-body class="pb-0 bg-secondary">
            <span v-if="gr1Change > 0" class="float-right text-value text-success"> <i class="icon-arrow-up mr-1"></i> {{gr1Change}}% </span>
            <span v-else-if="gr1Change < 0" class="float-right text-value text-danger"> <i class="icon-arrow-down mr-1"></i> {{gr1Change}}% </span>
            <span v-else-if="gr1Change == 0" class="float-right text-value text-info"> {{gr1Change}}% </span>
            <h4 class="mb-0 text-dark">₹ {{gr1}}</h4>
            <p class="text-dark">GDP</p>
          </b-card-body>
          <gross1 chartId="card-chart-01" class="chart-wrapper bg-secondary" style="height:70px;" :height="70"/>
          <div class="brand-card-body">
            <p class="ml-2 mr-2" style="text-align: left;"> Gross Domestic Product (GDP) is a monetary measure of the market value of all the final goods and services produced in a period of time,  Nominal GDP estimates are used to determine the economic performance of a whole country. </p>        
          </div>
        </b-card>
      </b-col>

      <b-col sm="6" lg="4">
        <b-card no-body >
          <b-card-header >Real Gross Domestic Product</b-card-header>
          <b-card-body class="pb-0 bg-secondary">
            <span v-if="gr2Change > 0" class="float-right text-value text-success" > <i class="icon-arrow-up mr-1"></i> {{gr2Change}}% </span>
            <span v-else-if="gr2Change < 0" class="float-right text-value text-danger"> <i class="icon-arrow-down mr-1"></i> {{gr2Change}}% </span>
            <span v-else-if="gr2Change == 0" class="float-right text-value text-info"> {{gr2Change}}% </span>
            <h4 class="mb-0 text-dark">₹ {{gr2}}</h4>
            <p class="text-dark">R-GDP</p>
          </b-card-body>
          <gross2 chartId="card-chart-02" class="chart-wrapper bg-secondary" style="height:70px;" :height="70"/>
          <div class="brand-card-body">
            <p class="ml-2 mr-2" style="text-align: left;"> Real gross domestic product (GDP) is an inflation-adjusted measure that reflects the value of all goods and services produced by an economy in a given year, expressed in base-year prices, and is often referred to as "constant-price GDP". </p>        
          </div>
        </b-card>
      </b-col>

      <b-col sm="6" lg="4">
        <b-card no-body >
          <b-card-header >Real Potential Gross Domestic Product</b-card-header>
          <b-card-body class="pb-0 bg-secondary">
            <span v-if="gr3Change > 0" class="float-right text-value text-success" > <i class="icon-arrow-up mr-1"></i> {{gr3Change}}% </span>
            <span v-else-if="gr3Change < 0" class="float-right text-value text-danger"> <i class="icon-arrow-down mr-1"></i> {{gr3Change}}% </span>
            <span v-else-if="gr3Change == 0" class="float-right text-value text-info"> {{gr3Change}}% </span>
            <h4 class="mb-0 text-dark">₹ {{gr3}}</h4>
            <p class="text-dark">RP-GDP</p>
          </b-card-body>
          <gross3 chartId="card-chart-03" class="chart-wrapper bg-secondary" style="height:70px;" :height="70"/>
          <div class="brand-card-body">
            <p class="ml-2 mr-2" style="text-align: left;"> Real potential GDP is the CBO's estimate of the output the economy would produce with a high rate of use of its capital and labor resources. The data is adjusted to remove the effects of inflation. </p>        
          </div>
        </b-card>
      </b-col>
      </b-row>
      <hr class="mt-2 mb-2 bg-secondary">
      <br><br>


      <!-- EMPLOYMENT -->
      <h4 class="text-info">Employment</h4>
        <p>Employment rates are defined as a measure of the extent to which available labour resources (people available to work) are being used. They are calculated as the ratio of the employed to the working age population. Employment rates are sensitive to the economic cycle, but in the longer term they are significantly affected by governments' higher education and income support policies and by policies that facilitate employment of women and disadvantaged groups.</p>
        <!-- <hr class="my-2 mb-3 bg-info"> -->
        <b-row>
        <b-col sm="6" lg="4">
        <b-card no-body >
          <b-card-header >Employment-Population Ratio</b-card-header>
          <b-card-body class="pb-0 bg-secondary">
            <span v-if="em1Change > 0" class="float-right text-value text-success" > <i class="icon-arrow-up mr-1"></i> {{em1Change}}% </span>
            <span v-else-if="em1Change < 0" class="float-right text-value text-danger"> <i class="icon-arrow-down mr-1"></i> {{em1Change}}% </span>
            <span v-else-if="em1Change == 0" class="float-right text-value text-info"> {{em1Change}}% </span>
            <h4 class="mb-0 text-dark">₹ {{em1}}</h4>
            <p class="text-dark">EM-RATIO</p>
          </b-card-body>
          <gross1 chartId="card-chart-01" class="chart-wrapper bg-secondary" style="height:70px;" :height="70"/>
          <div class="brand-card-body">
            <p class="ml-2 mr-2" style="text-align: left;"> The employment-to-population ratio is a macroeconomic statistic that indicates the ratio of the civilian labor force currently employed to the total working-age population of a region, municipality, or country. It is calculated by dividing the number of people employed by the total number of people of working age. </p>        
          </div>
        </b-card>
      </b-col>

      <b-col sm="6" lg="4">
        <b-card no-body >
          <b-card-header >Unemployment-Population Ratio</b-card-header>
          <b-card-body class="pb-0 bg-secondary">
            <span v-if="em2Change > 0" class="float-right text-value text-success" > <i class="icon-arrow-up mr-1"></i> {{em2Change}}% </span>
            <span v-else-if="em2Change < 0" class="float-right text-value text-danger"> <i class="icon-arrow-down mr-1"></i> {{em2Change}}% </span>
            <span v-else-if="em2Change == 0" class="float-right text-value text-info"> {{em2Change}}% </span>
            <h4 class="mb-0 text-dark">₹ {{em2}}</h4>
            <p class="text-dark">UEM-RATIO</p>
          </b-card-body>
          <gross2 chartId="card-chart-02" class="chart-wrapper bg-secondary" style="height:70px;" :height="70"/>
          <div class="brand-card-body">
            <p class="ml-2 mr-2" style="text-align: left;"> The unemployment rate is the share of the labor force that is jobless, expressed as a percentage. It is a lagging indicator, meaning that it generally rises or falls in the wake of changing economic conditions, rather than anticipating them. It is calculated as a percentage of unemployed individuals among all individuals. </p>        
          </div>
        </b-card>
      </b-col>

      <b-col sm="6" lg="4">
        <b-card no-body >
          <b-card-header >All Employees</b-card-header>
          <b-card-body class="pb-0 bg-secondary">
            <span v-if="em3Change > 0" class="float-right text-value text-success"> <i class="icon-arrow-up mr-1"></i> {{em3Change}}% </span>
            <span v-else-if="em3Change < 0" class="float-right text-value text-danger"> <i class="icon-arrow-down mr-1"></i> {{em3Change}}% </span>
            <span v-else-if="em3Change == 0" class="float-right text-value text-info"> {{em3Change}}% </span>
            <h4 class="mb-0 text-dark">₹ {{em3}}</h4>
            <p class="text-dark">T-RATIO</p>
          </b-card-body>
          <gross3 chartId="card-chart-03" class="chart-wrapper bg-secondary" style="height:70px;" :height="70"/>
          <div class="brand-card-body">
            <p class="ml-2 mr-2" style="text-align: left;"> All Employees: Total Nonfarm, commonly known as Total Nonfarm Payroll, is a measure of the number of U.S. workers in the economy that excludes proprietors, private household employees, unpaid volunteers, farm employees, and the unincorporated self-employed. </p>        
          </div>
        </b-card>
      </b-col>
      </b-row>
      <hr class="mt-2 mb-2 bg-secondary">
      <br><br>


      <!-- Prices and Inflation -->
      <h4 class="text-info">Prices and Inflation</h4>
        <p>Price inflation is an increase in the price of a standardized good/service or a basket of goods/services over a specific period of time (usually one year). Because the nominal amount of money available in an economy tends to grow larger every year relative to the supply of goods available for purchase, this overall demand pull tends to cause some degree of price inflation.</p>
        <!-- <hr class="my-2 mb-3 bg-info"> -->
        <b-row>
        <b-col sm="6" lg="4">
        <b-card no-body >
          <b-card-header >Consumer Price Index (All)</b-card-header>
          <b-card-body class="pb-0 bg-secondary">
            <span v-if="pi1Change > 0" class="float-right text-value text-success" > <i class="icon-arrow-up mr-1"></i> {{pi1Change}}% </span>
            <span v-else-if="pi1Change < 0" class="float-right text-value text-danger"> <i class="icon-arrow-down mr-1"></i> {{pi1Change}}% </span>
            <span v-else-if="pi1Change == 0" class="float-right text-value text-info"> {{pi1Change}}% </span>
            <h4 class="mb-0 text-dark">₹ {{pi1}}</h4>
            <p class="text-dark">CPIA</p>
          </b-card-body>
          <gross1 chartId="card-chart-01" class="chart-wrapper bg-secondary" style="height:70px;" :height="70"/>
          <div class="brand-card-body">
            <p class="ml-2 mr-2" style="text-align: left;"> The Consumer Price Index (CPI) is a measure that examines the weighted average of prices of a basket of consumer goods and services, such as transportation, food and medical care. It is calculated by taking price changes for each item in the predetermined basket of goods and averaging them. </p>        
          </div>
        </b-card>
      </b-col>

      <b-col sm="6" lg="4">
        <b-card no-body >
          <b-card-header >Consumer Price Index (All Less Food & Energy)</b-card-header>
          <b-card-body class="pb-0 bg-secondary">
            <span v-if="pi2Change > 0" class="float-right text-value text-success" > <i class="icon-arrow-up mr-1"></i> {{pi2Change}}% </span>
            <span v-else-if="pi2Change < 0" class="float-right text-value text-danger"> <i class="icon-arrow-down mr-1"></i> {{pi2Change}}% </span>
            <span v-else-if="pi2Change == 0" class="float-right text-value text-info"> {{pi2Change}}% </span>
            <h4 class="mb-0 text-dark">₹ {{pi2}}</h4>
            <p class="text-dark">CPI</p>
          </b-card-body>
          <gross2 chartId="card-chart-02" class="chart-wrapper bg-secondary" style="height:70px;" :height="70"/>
          <div class="brand-card-body">
            <p class="ml-2 mr-2" style="text-align: left;"> The Consumer Price Index for All Urban Consumers: All Items Less Food & Energy is an aggregate of prices paid by urban consumers for a typical basket of goods, excluding food and energy. This measurement, known as “Core CPI,” is widely used by economists because food and energy have very volatile prices. </p>        
          </div>
        </b-card>
      </b-col>

      <b-col sm="6" lg="4">
        <b-card no-body >
          <b-card-header >Implicit Price Deflator</b-card-header>
          <b-card-body class="pb-0 bg-secondary">
            <span v-if="pi3Change > 0" class="float-right text-value text-success"> <i class="icon-arrow-up mr-1"></i> {{pi3Change}}% </span>
            <span v-else-if="pi3Change < 0" class="float-right text-value text-danger"> <i class="icon-arrow-down mr-1"></i> {{pi3Change}}% </span>
            <span v-else-if="pi3Change == 0" class="float-right text-value text-info"> {{pi3Change}}% </span>
            <h4 class="mb-0 text-dark">₹ {{pi3}}</h4>
            <p class="text-dark">IPD</p>
          </b-card-body>
          <gross3 chartId="card-chart-03" class="chart-wrapper bg-secondary" style="height:70px;" :height="70"/>
          <div class="brand-card-body">
            <p class="ml-2 mr-2" style="text-align: left;"> The gross domestic product implicit price deflator, or GDP deflator, measures changes in the prices of goods and services produced in the United States, including those exported to other countries. Prices of imports are excluded. </p>        
          </div>
        </b-card>
      </b-col>
      </b-row>

      
    </div>
</template>

<script>
import axios from 'axios';
import gross1 from './econ_analysis/gross1'
import gross2 from './econ_analysis/gross2'
import gross3 from './econ_analysis/gross3'
export default {
    components: {
    gross1,
    gross2,
    gross3
  },
  data () {
      return{
        pChange: 0,
          gr1: 0,
          gr1Change: 0,
          gr2: 0,
          gr2Change: 0,
          gr3: 0,
          gr3Change: 0,
          em1: 0,
          em1Change: 0,
          em2: 0,
          em2Change: 0,
          em3: 0,
          em3Change: 0,
          pi1: 0,
          pi1Change: 0,
          pi2: 0,
          pi2Change: 0,
          pi3: 0,
          pi3Change: 0
      }
  },
  created() {
    axios.get('https://www.finflock.com/api/fred2/?name=GDP')
    .then(response => {
      this.posts = response.data,
      this.gr1Change = this.posts[4].Per_Change.toFixed(2);
      this.gr1 = this.posts[2].Last_Price
        
        })
    .catch(e => {
      this.errors.push(e)

    }),
    axios.get('https://www.finflock.com/api/fred2/?name=GDPC1')
    .then(response => {
      this.posts = response.data,
      this.gr2Change = this.posts[4].Per_Change.toFixed(2);
      this.gr2 = this.posts[2].Last_Price
        
        })
    .catch(e => {
      this.errors.push(e)

    }),
    axios.get('https://www.finflock.com/api/fred2/?name=GDPPOT')
    .then(response => {
      this.posts = response.data,
      this.gr3Change = this.posts[4].Per_Change.toFixed(2);
      this.gr3 = this.posts[2].Last_Price
        
        })
    .catch(e => {
      this.errors.push(e)

    }),
    axios.get('https://www.finflock.com/api/fred2/?name=EMRATIO')
    .then(response => {
      this.posts = response.data,
      this.em1Change = this.posts[4].Per_Change.toFixed(2);
      this.em1 = this.posts[2].Last_Price
        
        })
    .catch(e => {
      this.errors.push(e)

    }),
    axios.get('https://www.finflock.com/api/fred2/?name=CPIAUCSL')
    .then(response => {
      this.posts = response.data,
      this.em2Change = this.posts[4].Per_Change.toFixed(2);
      this.em2 = this.posts[2].Last_Price
        
        })
    .catch(e => {
      this.errors.push(e)

    }),
    axios.get('https://www.finflock.com/api/fred2/?name=PAYEMS')
    .then(response => {
      this.posts = response.data,
      this.em3Change = this.posts[4].Per_Change.toFixed(2);
      this.em3 = this.posts[2].Last_Price
        
        })
    .catch(e => {
      this.errors.push(e)

    }),
    axios.get('https://www.finflock.com/api/fred2/?name=CPILFESL')
    .then(response => {
      this.posts = response.data,
      this.pi1Change = this.posts[4].Per_Change.toFixed(2);
      this.pi1 = this.posts[2].Last_Price
        
        })
    .catch(e => {
      this.errors.push(e)

    }),
    axios.get('https://www.finflock.com/api/fred2/?name=GDPDEF')
    .then(response => {
      this.posts = response.data,
      this.pi2Change = this.posts[4].Per_Change.toFixed(2);
      this.pi2 = this.posts[2].Last_Price
        
        })
    .catch(e => {
      this.errors.push(e)

    }),
    axios.get('https://www.finflock.com/api/fred2/?name=UNEMPLOY')
    .then(response => {
      this.posts = response.data,
      this.pi3Change = this.posts[4].Per_Change.toFixed(2);
      this.pi3 = this.posts[2].Last_Price
        
        })
    .catch(e => {
      this.errors.push(e)

    })
  }
}
</script>

<style>

</style>
