<template>
  <b-card :header="caption">
    <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage">
      <template slot="status" slot-scope="data">
        <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge>
      </template>
    </b-table>
    <nav>
      <b-pagination :total-rows="getRowCount(items)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
    </nav>
  </b-card>
</template>

<script>
import axios from 'axios';
/**
   * Randomize array element order in-place.
   * Using Durstenfeld shuffle algorithm.
   */
const shuffleArray = (array) => {
  for (let i = array.length - 1; i > 0; i--) {
    let j = Math.floor(Math.random() * (i + 1))
    let temp = array[i]
    array[i] = array[j]
    array[j] = temp
  }
  return array
}

export default {
  posts: 0,
  name: 'c-table',
  props: {
    caption: {
      type: String,
      default: 'Table'
    },
    hover: {
      type: Boolean,
      default: false
    },
    striped: {
      type: Boolean,
      default: false
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    return {
      items: shuffleArray([
        {username: 'Samppa Nori', registered: '2012/01/01'},
        {username: 'Estavan Lykos', registered: '2012/02/01'},
        {username: 'Chetan Mohamed', registered: '2012/02/01'},
        {username: 'Derick Maximinus', registered: '2012/03/01'},
        {username: 'Friderik Dávid', registered: '2012/01/21'},
        {username: 'Yiorgos Avraamu', registered: '2012/01/01'},
        {username: 'Avram Tarasios', registered: '2012/02/01'}
      ]),
      fields: [
            {key: 'Ratio_Desc', label: 'Description'},
            {key: 'Ratio_Value', label: 'Value'}
        ],
      currentPage: 1,
      perPage: 5,
      totalRows: 0
    }
  },
  methods: {
    getBadge (status) {
      return status === 'Active' ? 'success'
        : status === 'Inactive' ? 'secondary'
          : status === 'Pending' ? 'warning'
            : status === 'Banned' ? 'danger' : 'primary'
    },
    getRowCount (items) {
      return items.length
    }
  },
  created() {
    axios.get(this.$cookies.get('api_url')+'Fundamental_Ratios/?select=Date,Ratio_Name,Ratio_Value&fro=American_Fundamental_Ratios&where=Symbol-%27AAPL%27')
    .then(response => {
      this.posts = response.data,
      this.items = shuffleArray(this.posts)
        
        })
    .catch(e => {
      this.errors.push(e)

    })
  }
}
</script>
