<template>
<div class="animated fadeIn">
<div id="chart-container">
   <fusioncharts :type="type"
   :width="width"
   :height="height"
   :dataFormat="dataFormat"
   :dataSource="dataSource"></fusioncharts>
    </div>

    
    
</div>
</template>

<script>
import axios from 'axios';

const dataSource = {
  "chart": {
    "caption": "BUY",
    "captionontop": "0",
    "lowerlimit": "0",
    "upperlimit": "100",
    "showvalue": "0",
    "usemarker": "0",
    // "numbersuffix": "%",
    "theme": "candy"
  },
  "colorrange": {
    "color": [
      {
        "minvalue": "0",
        "maxvalue": "33",
        "code": "#F2726F"
      },
      {
        "minvalue": "33",
        "maxvalue": "67",
        "code": "#FFC533"
      },
      {
        "minvalue": "67",
        "maxvalue": "100",
        "code": "#62B58F"
      }
    ]
  },
  "dials": {
    "dial": [
      {
        "value": "71",
        "tooltext": "<b>9%</b> lesser that target"
      }
    ]
  },
  "trendpoints": {
    "point": [
      {
        "startvalue": "16",
        "displayvalue": "SELL",
        "thickness": "0",
        "color": "	#20a8d8"
      },
      {
        "startvalue": "50",
        "displayvalue": "NEUTRAL",
        "thickness": "0",
        "color": "	#20a8d8"
      },
      {
        "startvalue": "80",
        "displayvalue": "BUY",
        "thickness": "0",
        "color": "	#20a8d8"
      }
    ]
  }
};

export default {
    name: 'app',

   data() {
       return{
        type: "angulargauge",
      width: '30%',
      height: '30%',
      dataFormat: 'json',
      dataSource,
       }
   }
};
</script>

<style>
rect {
    fill: 	rgb(47, 53, 58)
}

</style>
