<template>
    <div class="animated fadeIn">
        <b-row>
      <b-col md="12" sm="6">
        <div class="mb-2 ml-1">  <span class="text-value" style="font-family: Trebuchet MS,Arial,sans-serif;">  Top Business  Headlines </span> <i class="icon-arrow-right icons font-1xl "></i></div>
        <b-card class="bg-light">
        <ul class="list-unstyled">
        <div v-for="item in this.news.articles" :key="item.id">
        <a :href="item.url" target="_blank" class="text-dark">
        <b-media tag="li" class="my-4">
          <b-img slot="aside" :src="item.urlToImage" width="230" height="130" alt="Error loading Image" />

          <span class="h5 mt-0">{{item.title}}</span>

          <p class="float-right"> 
            <span class="text-secondary"> Published @ </span>
            <span class="text-info"> {{item.publishedAt.split("Z")[0].split("T")[0]}} </span>
            <span> , </span>
            <span class="text-info"> {{item.publishedAt.split("Z")[0].split("T")[1].split(":")[0]}} </span> 
            <span> : </span>
            <span class="text-info"> {{item.publishedAt.split("Z")[0].split("T")[1].split(":")[1]}} </span> 
          </p>

          <p class="mt-2"> {{item.description}} </p>
          <p class="mb-0" v-if="item.content != null"> {{item.content.split(" [+")[0]}} </p>
          <!-- <p class="mb-0"> {{item.content}} </p> -->
        </b-media>
        </a>
        </div>
      </ul>
      </b-card>
      </b-col>
      <!-- <b-col md="3" sm="6">
        <div class="mb-2 ml-1">  <span class="text-value" style="font-family: Trebuchet MS,Arial,sans-serif;">  Top Gainers </span> <i class="icon-arrow-right icons font-1xl "></i></div>
      </b-col>
      <b-col md="3" sm="6">
        <div class="mb-2 ml-1">  <span class="text-value" style="font-family: Trebuchet MS,Arial,sans-serif;">  Top Losers </span> <i class="icon-arrow-right icons font-1xl "></i></div>
      </b-col> -->
    </b-row>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    data: function () {
    return {
        news: null
    }
    },
    methods: {
        stockNews() {
            axios.get('https://newsapi.org/v2/top-headlines?country=in&category=business&apiKey=802f61be04774cffa699a4557e36b0a6') 
                .then(response => {
                this.posts = response.data,
                this.news = this.posts
                    
                    })
            .catch(e => {
                this.news = 'adadadada'

                })
        }
    },

    created() {
          this.stockNews();
    }

}
</script>

<style>
    a:hover {
        text-decoration: none;
    }
</style>
