<template>
  <div>
  <b-card :header="caption">
    <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage">
      <!-- <template slot="status" slot-scope="data">
        <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge>
      </template> -->
    </b-table>
    <nav>
      <b-pagination :total-rows="getRowCount(items)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
    </nav>
  </b-card>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'c-table',
  props: {
    caption: {
      type: String,
      default: 'Interactive Brockers'
    },
    hover: {
      type: Boolean,
      default: false
    },
    striped: {
      type: Boolean,
      default: false
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    return {
      items: [],
      fields: [
        {key: 'symbol'},
        {key: 'Action'},
        {key: 'cashQty'},
        {key: 'conid'},
        {key: 'getSecType'},
        {key: 'Total Quantity'},
        {key: 'Status'}

      ],
      currentPage: 1,
      perPage: 5,
      totalRows: 0
    }
  },
  methods: {
    getBadge (status) {
      return status === 'Active' ? 'success'
        : status === 'Inactive' ? 'secondary'
          : status === 'Pending' ? 'warning'
            : status === 'Banned' ? 'danger' : 'primary'
    },
    getRowCount (items) {
      return items.length
    }
  },
  created() {
    axios.get('https://www.finflock.com/Order/orderStatus/5')
    .then(response => {
      this.posts = response.data,
      this.items = this.posts


        })
    .catch(e => {
      alert('err');

    })  
  },
}
</script>
