<template>
<div class="animated fadeIn" style="min-height: 800px;">
<b-row>
        <b-col cols="12" md="12">
          <b-card
            header-tag="header"
            footer-tag="footer">
            <div slot="header">
              <i class="fa fa-align-justify"></i><strong> Industries </strong> <small>Top 10</small>
            </div>
            <div role="tablist">
              <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <b-btn block href="#" v-b-toggle.accordion1 variant="info" ><span class="float-left">1.&nbsp;&nbsp;Finance</span> &nbsp;&nbsp; <span class="float-right">+</span></b-btn>
                </b-card-header>
                <b-collapse id="accordion1" accordion="my-accordion" role="tabpanel">
                  <b-card-body>
                            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items1" :fields="fields" :current-page="currentPage" :per-page="perPage">
                            <template slot="status" slot-scope="data">
                                <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge>
                            </template>
                            </b-table>
                            <nav>
                            <b-pagination :total-rows="getRowCount(items1)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
                            </nav>
                  </b-card-body>
                </b-collapse>
              </b-card>
              <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <b-btn block href="#" v-b-toggle.accordion2 variant="info" ><span class="float-left">2.&nbsp;&nbsp;Healthcare Facilities</span> &nbsp;&nbsp; <span class="float-right">+</span></b-btn>
                </b-card-header>
                <b-collapse id="accordion2" accordion="my-accordion" role="tabpanel">
                  <b-card-body>
                            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items2" :fields="fields" :current-page="currentPage2" :per-page="perPage">
                            <template slot="status" slot-scope="data">
                                <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge>
                            </template>
                            </b-table>
                            <nav>
                            <b-pagination :total-rows="getRowCount(items2)" :per-page="perPage" v-model="currentPage2" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
                            </nav>
                  </b-card-body>
                </b-collapse>
              </b-card>
              <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <b-btn block href="#" v-b-toggle.accordion3 variant="info" ><span class="float-left">3.&nbsp;&nbsp;Steel & Iron Products</span> &nbsp;&nbsp; <span class="float-right">+</span></b-btn>
                </b-card-header>
                <b-collapse id="accordion3" accordion="my-accordion" role="tabpanel">
                  <b-card-body>
                            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items3" :fields="fields" :current-page="currentPage3" :per-page="perPage">
                            <template slot="status" slot-scope="data">
                                <b-badge :variant="getBadge(data.item3.Status)">{{data.item3.Status}}</b-badge>
                            </template>
                            </b-table>
                            <nav>
                            <b-pagination :total-rows="getRowCount(items3)" :per-page="perPage" v-model="currentPage3" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
                            </nav>
                  </b-card-body>
                </b-collapse>
              </b-card>
              
            </div>
          </b-card>
        </b-col>
    </b-row>
    <br><br> 



    <!-- <b-col lg="3">
                <b-card>
          <div slot="header">
            Fundamental Charts
          </div>
          <highcharts class="stock" :constructor-type="'stockChart'" style="height:275px;" height="275" :options="stockOptions"></highcharts>
        </b-card>
      </b-col> -->


</div>
</template>

<script>
import axios from 'axios';

export default {
  name: 'c-table',
  props: {
    caption: {
      type: String,
      default: 'Table'
    },
    hover: {
      type: Boolean,
      default: false
    },
    striped: {
      type: Boolean,
      default: false
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: true
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data: () => {
    
// var CryptoJS = require("crypto-js");
// var KEY = 'This is a key123';
// var IV = 'This is an IV456';
// var MODE = new CryptoJS.mode.CFB(CryptoJS.pad.ZeroPadding);
// var plaintext = 'The answer is no';
// var input_bytes = CryptoJS.charenc.UTF8.stringToBytes(plaintext);
// var key = CryptoJS.charenc.UTF8.stringToBytes(KEY);
// var options = {iv: CryptoJS.charenc.UTF8.stringToBytes(IV), asBytes: true, mode: MODE};
// var encrypted = CryptoJS.AES.encrypt(input_bytes, key, options);
// var encrypted_hex = CryptoJS.util.bytesToHex(encrypted);
// alert(encrypted_hex);
    return {
        currentPage: 1,
        currentPage2: 1,
        currentPage3: 1,
        perPage: 5,
        totalRows: 0,
        items1: [],
        items2: [],
        items3: [],

      fields: [
        {key: 'Symbol'},
        {key: 'Industry'},
        {key: 'ISIN_No'},
        {key: 'Status'},
        {key: 'Abbreviation_Value'}    
      ]
    }
  },
  methods: {
    getBadge (status) {
      return status === "Active" ? 'success'
        : status === 'Inactive' ? 'secondary'
          : status === 'Pending' ? 'warning'
            : status === 'Banned' ? 'danger' : 'primary'
    },
    getRowCount (items) {
      return items.length
    }
  },
  created() {
    axios.get(`https://www.finflock.com/api/sectors/?name=finance`)
    .then(response => {
      this.posts = response.data,
      this.items1 = this.posts
        
        })
    .catch(e => {
      this.errors.push(e)

    }),
        axios.get(`https://www.finflock.com/api/sectors/?name=health`)
    .then(response => {
      this.posts = response.data,
      this.items2 = this.posts
        
        })
    .catch(e => {
      this.errors.push(e)

    }),
        axios.get(`https://www.finflock.com/api/sectors/?name=steel`)
    .then(response => {
      this.posts = response.data,
      this.items3 = this.posts
        
        })
    .catch(e => {
      this.errors.push(e)

    })
  }
}
</script>
