<template>
    <div class="animated fadeIn">
        <b-card>
          <div slot="header">
            <strong>News </strong> <small>Form</small>
          </div>
          <b-form>
          <b-row>
            <b-col sm="5">
          <b-form-group
            label="Market :"
            label-for="basicText1"
            :label-cols="3"
            :horizontal="true">
                <b-form-select id="basicText1" v-model="marketInput" @change="onChange()"
                  :plain="true"
                  :options="['American','Indian']"
                  value="American">
                </b-form-select>
          </b-form-group>
            </b-col>

            <b-col sm="1">
            &nbsp;
            </b-col>

          <b-col sm="5">
          <b-form-group
            label="Stock Name :"
            label-for="basicText2"
            :label-cols="3"
            :horizontal="true">
            <v-select class="vslct" id="basicText2" v-model="selected" :options="options" placeholder="Select stock"></v-select>
          </b-form-group>
            </b-col>
            
            <b-col sm="1">
            &nbsp;
            </b-col>

          </b-row>
          </b-form>
            <div slot="footer">
            <b-button type="submit" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
            &nbsp;
            <b-button type="reset" v-on:click="reset" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
          </div>


        </b-card>

        <!-- <b-card>
            <div slot="header">
            <strong>News </strong> <small>Analysis</small>
          </div>
        <b-row >
          <b-col class="mb-sm-2 mb-0">
            <div>Overall <span class="float-right"><strong>{{this.overall}}%</strong></span></div>
            <b-progress height={} class="progress-xs mt-2" :precision="1" variant="success" :value="overall"></b-progress>
          </b-col>
          <b-col class="mb-sm-2 mb-0 d-md-down-none">
            <div>LSTM <span class="float-right"><strong>{{this.lstm}}%</strong></span></div>
            <b-progress height={} class="progress-xs mt-2" :precision="1" variant="info" :value="lstm"></b-progress>
          </b-col>
          <b-col class="mb-sm-2 mb-0">
            <div>Technical <span class="float-right"><strong>{{this.tech}}%</strong></span></div>
            <b-progress height={} class="progress-xs mt-2" :precision="1" variant="warning" :value="tech"></b-progress>
          </b-col>
          <b-col class="mb-sm-2 mb-0">
            <div>News <span class="float-right"><strong>{{this.news}}%</strong></span></div>
            <b-progress height={} class="progress-xs mt-2" :precision="1" variant="danger" :value="news"></b-progress>
          </b-col>
        </b-row>
      </b-card> -->







              <b-row>
        <b-col cols="12" md="12">
          <b-card
            header-tag="header"
            footer-tag="footer">
            <div slot="header">
              <i ></i><center><strong> <h2>Business News</h2> </strong></center>
            </div>
            <div role="tablist">
              <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <b-btn block href="#" v-b-toggle.accordion1 variant="sucess" ><span class="float-left">1.&nbsp;&nbsp;Reuters</span> &nbsp;&nbsp; <span class="float-right">+</span></b-btn>
                </b-card-header>
                <b-collapse id="accordion1" accordion="my-accordion" role="tabpanel">
                  <b-card-body>
                            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items1" :fields="fields" :current-page="currentPage" :per-page="perPage">
                            <template slot="status" slot-scope="data">
                                <b-badge :variant="getBadge(data.item.Sentiments)">{{data.item.Sentiments}}</b-badge>
                            </template>
                            </b-table>
                            <nav>
                            <b-pagination :total-rows="getRowCount(items1)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
                            </nav>
                  </b-card-body>
                </b-collapse>
              </b-card>
              <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <b-btn block href="#" v-b-toggle.accordion2 variant="sucess" ><span class="float-left">2.&nbsp;&nbsp;Google News</span> &nbsp;&nbsp; <span class="float-right">+</span></b-btn>
                </b-card-header>
                <b-collapse id="accordion2" accordion="my-accordion" role="tabpanel">
                  <b-card-body>
                            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items2" :fields="fields" :current-page="currentPage2" :per-page="perPage">
                            <template slot="status" slot-scope="data">
                                <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge>
                            </template>
                            </b-table>
                            <nav>
                            <b-pagination :total-rows="getRowCount(items2)" :per-page="perPage" v-model="currentPage2" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
                            </nav>
                  </b-card-body>
                </b-collapse>
              </b-card>
              <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <b-btn block href="#" v-b-toggle.accordion3 variant="sucess" ><span class="float-left">3.&nbsp;&nbsp;Times Of India</span> &nbsp;&nbsp; <span class="float-right">+</span></b-btn>
                </b-card-header>
                <b-collapse id="accordion3" accordion="my-accordion" role="tabpanel">
                  <b-card-body>
                            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items3" :fields="fields" :current-page="currentPage3" :per-page="perPage">
                            <template slot="status" slot-scope="data">
                                <b-badge :variant="getBadge(data.item3.Status)">{{data.item3.Status}}</b-badge>
                            </template>
                            </b-table>
                            <nav>
                            <b-pagination :total-rows="getRowCount(items3)" :per-page="perPage" v-model="currentPage3" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
                            </nav>
                  </b-card-body>
                </b-collapse>
              </b-card>


              <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <b-btn block href="#" v-b-toggle.accordion3 variant="sucess" ><span class="float-left">4.&nbsp;&nbsp;Financial Times</span> &nbsp;&nbsp; <span class="float-right">+</span></b-btn>
                </b-card-header>
                <b-collapse id="accordion3" accordion="my-accordion" role="tabpanel">
                  <b-card-body>
                            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items3" :fields="fields" :current-page="currentPage3" :per-page="perPage">
                            <template slot="status" slot-scope="data">
                                <b-badge :variant="getBadge(data.item3.Status)">{{data.item3.Status}}</b-badge>
                            </template>
                            </b-table>
                            <nav>
                            <b-pagination :total-rows="getRowCount(items3)" :per-page="perPage" v-model="currentPage3" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
                            </nav>
                  </b-card-body>
                </b-collapse>
              </b-card>

              <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <b-btn block href="#" v-b-toggle.accordion3 variant="sucess" ><span class="float-left">5.&nbsp;&nbsp;Business Insiders</span> &nbsp;&nbsp; <span class="float-right">+</span></b-btn>
                </b-card-header>
                <b-collapse id="accordion3" accordion="my-accordion" role="tabpanel">
                  <b-card-body>
                            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items3" :fields="fields" :current-page="currentPage3" :per-page="perPage">
                            <template slot="status" slot-scope="data">
                                <b-badge :variant="getBadge(data.item3.Status)">{{data.item3.Status}}</b-badge>
                            </template>
                            </b-table>
                            <nav>
                            <b-pagination :total-rows="getRowCount(items3)" :per-page="perPage" v-model="currentPage3" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
                            </nav>
                  </b-card-body>
                </b-collapse>
              </b-card>

              <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <b-btn block href="#" v-b-toggle.accordion3 variant="sucess" ><span class="float-left">6.&nbsp;&nbsp;BBC News</span> &nbsp;&nbsp; <span class="float-right">+</span></b-btn>
                </b-card-header>
                <b-collapse id="accordion3" accordion="my-accordion" role="tabpanel">
                  <b-card-body>
                            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items3" :fields="fields" :current-page="currentPage3" :per-page="perPage">
                            <template slot="status" slot-scope="data">
                                <b-badge :variant="getBadge(data.item3.Status)">{{data.item3.Status}}</b-badge>
                            </template>
                            </b-table>
                            <nav>
                            <b-pagination :total-rows="getRowCount(items3)" :per-page="perPage" v-model="currentPage3" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
                            </nav>
                  </b-card-body>
                </b-collapse>
              </b-card>

              <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <b-btn block href="#" v-b-toggle.accordion3 variant="sucess" ><span class="float-left">7.&nbsp;&nbsp;Crypto News</span> &nbsp;&nbsp; <span class="float-right">+</span></b-btn>
                </b-card-header>
                <b-collapse id="accordion3" accordion="my-accordion" role="tabpanel">
                  <b-card-body>
                            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items3" :fields="fields" :current-page="currentPage3" :per-page="perPage">
                            <template slot="status" slot-scope="data">
                                <b-badge :variant="getBadge(data.item3.Status)">{{data.item3.Status}}</b-badge>
                            </template>
                            </b-table>
                            <nav>
                            <b-pagination :total-rows="getRowCount(items3)" :per-page="perPage" v-model="currentPage3" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
                            </nav>
                  </b-card-body>
                </b-collapse>
              </b-card>

              <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <b-btn block href="#" v-b-toggle.accordion3 variant="sucess" ><span class="float-left">8.&nbsp;&nbsp;New York Magzine</span> &nbsp;&nbsp; <span class="float-right">+</span></b-btn>
                </b-card-header>
                <b-collapse id="accordion3" accordion="my-accordion" role="tabpanel">
                  <b-card-body>
                            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items3" :fields="fields" :current-page="currentPage3" :per-page="perPage">
                            <template slot="status" slot-scope="data">
                                <b-badge :variant="getBadge(data.item3.Status)">{{data.item3.Status}}</b-badge>
                            </template>
                            </b-table>
                            <nav>
                            <b-pagination :total-rows="getRowCount(items3)" :per-page="perPage" v-model="currentPage3" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
                            </nav>
                  </b-card-body>
                </b-collapse>
              </b-card>
              
            </div>
          </b-card>
        </b-col>
    </b-row>
    </div>
</template>

<script>
import vSelect from 'vue-select'
import axios from 'axios';
export default {
    name: 'news',
    components: {vSelect},
    data () {
    return {
        posts: 0,
        posts1: null,
        selected: null,
        marketInput: 'American',
        options: [],
        overall: 0,
        lstm: 0,
        tech: 0,
        news: 0

    }
  },

    methods: {
      getBadge (Sentiments) {
      return Sentiments === "Positive" ? 'success'
        : Sentiments === 'Inactive' ? 'secondary'
          : Sentiments === 'Neutral' ? 'warning'
            : Sentiments === 'Banned' ? 'danger' : 'primary'
    },
    getRowCount (items) {
      return items.length
    },
    onChange: function () {
        if(this.marketInput = 'American') {
            axios.get('https://www.finflock.com/api/US_Symbols/')
            .then(response => {
            this.posts = response.data,
            this.options = this.posts
                
                })
            .catch(e => {
            this.errors.push(e)

            })
        }
        if(this.marketInput = 'Indian') {
            axios.get('https://www.finflock.com/api/IN_Symbols/')
            .then(response => {
            this.posts = response.data,
            this.options = this.posts
                
                })
            .catch(e => {
            this.errors.push(e)

            })
        }

    
  
  },
    reset: function () {
        this.selected=''
    }
},

  created() {
    axios.get('https://www.finflock.com/api/US_Symbols/')
    .then(response => {
      this.posts = response.data,
      this.options = this.posts
        
        })
    .catch(e => {
      this.errors.push(e)

    }),

    axios.get(`https://www.finflock.com/api/news/?name=reuters`)
    .then(response => {
      this.posts = response.data,
      this.items1 = this.posts
        
        })
    .catch(e => {
      this.errors.push(e)

    }),


    axios.get(`https://www.finflock.com/api/news/?name=google-news`)
    .then(response => {
      this.posts = response.data,
      this.items2 = this.posts
        
        })
    .catch(e => {
      this.errors.push(e)

    }),


    axios.get(`https://www.finflock.com/api/news/?name=the-times-of-india`)
    .then(response => {
      this.posts = response.data,
      this.items3 = this.posts
        
        })
    .catch(e => {
      this.errors.push(e)

    }),


    axios.get(`https://www.finflock.com/api/news/?name=financial-times`)
    .then(response => {
      this.posts = response.data,
      this.items4 = this.posts
        
        })
    .catch(e => {
      this.errors.push(e)

    }),

    axios.get(`https://www.finflock.com/api/news/?name=business-insider`)
    .then(response => {
      this.posts = response.data,
      this.items5 = this.posts
        
        })
    .catch(e => {
      this.errors.push(e)

    }),

    axios.get(`https://www.finflock.com/api/news/?name=bbc-news`)
    .then(response => {
      this.posts = response.data,
      this.items6 = this.posts
        
        })
    .catch(e => {
      this.errors.push(e)

    }),

    axios.get(`https://www.finflock.com/api/news/?name=crypto-coins-news`)
    .then(response => {
      this.posts = response.data,
      this.items7 = this.posts
        
        })
    .catch(e => {
      this.errors.push(e)

    }),

    axios.get(`https://www.finflock.com/api/news/?name=new-york-magazine`)
    .then(response => {
      this.posts = response.data,
      this.items8 = this.posts,
      this.$parent.$parent.flag = 1;
        
        })
    .catch(e => {
      this.errors.push(e)

    })

  },
  mounted() {
    this.$parent.$parent.flag = 0;
  }

}
</script>

<style>
/* .vslct{
  background-color: #515B65;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  border-radius: 5px;
    border: 1px solid black;
} */
</style>
