<template>
    <div class="animated fadeIn">
        <b-card>
          <div slot="header">
            <strong>News </strong> <small>Form</small>
          </div>
          <b-form>
          <b-row>
            <b-col sm="5">
          <b-form-group
            label="Market :"
            label-for="basicText1"
            :label-cols="3"
            :horizontal="true">
                <b-form-select id="basicText1" v-model="marketInput" @change="onChange()"
                  :plain="true"
                  :options="['American','Indian']"
                  value="American">
                </b-form-select>
          </b-form-group>
            </b-col>

            <b-col sm="1">
            &nbsp;
            </b-col>

          <b-col sm="5">
          <b-form-group
            label="Stock Name :"
            label-for="basicText2"
            :label-cols="3"
            :horizontal="true">
            <v-select class="vslct" id="basicText2" v-model="selected" :options="options" placeholder="Select stock"></v-select>
          </b-form-group>
            </b-col>
            
            <b-col sm="1">
            &nbsp;
            </b-col>

          </b-row>
          </b-form>
            <div slot="footer">
            <b-button type="submit" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
            &nbsp;
            <b-button type="reset" v-on:click="reset" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
          </div>


        </b-card>

        <b-card>
            <div slot="header">
            <strong>News </strong> <small>Analysis</small>
          </div>
        <b-row >
          <b-col class="mb-sm-2 mb-0">
            <div>Overall <span class="float-right"><strong>{{this.overall}}%</strong></span></div>
            <b-progress height={} class="progress-xs mt-2" :precision="1" variant="success" :value="overall"></b-progress>
          </b-col>
          <b-col class="mb-sm-2 mb-0 d-md-down-none">
            <div>LSTM <span class="float-right"><strong>{{this.lstm}}%</strong></span></div>
            <b-progress height={} class="progress-xs mt-2" :precision="1" variant="info" :value="lstm"></b-progress>
          </b-col>
          <b-col class="mb-sm-2 mb-0">
            <div>Technical <span class="float-right"><strong>{{this.tech}}%</strong></span></div>
            <b-progress height={} class="progress-xs mt-2" :precision="1" variant="warning" :value="tech"></b-progress>
          </b-col>
          <b-col class="mb-sm-2 mb-0">
            <div>News <span class="float-right"><strong>{{this.news}}%</strong></span></div>
            <b-progress height={} class="progress-xs mt-2" :precision="1" variant="danger" :value="news"></b-progress>
          </b-col>
        </b-row>
      </b-card>


      <b-card
            header-tag="header"
            footer-tag="footer">
            <div slot="header">
              <i class="fa fa-align-justify"></i><strong> News </strong> <small> AAPL </small>
            </div>
            <div role="tablist">
              <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <b-btn block href="#" v-b-toggle.accordion1 variant="success" ><span class="float-left">1.&nbsp;&nbsp; {{this.neutral[0].headline}} </span> &nbsp;&nbsp; <span class="float-right"> {{this.neutral[0].date}} </span></b-btn>
                </b-card-header>
                <b-collapse id="accordion1" accordion="my-accordion" role="tabpanel">
                  <b-card-body>
                      <p> {{this.neutral[0].article}} </p>
                  </b-card-body>
                </b-collapse>
              </b-card>
              <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <b-btn block href="#" v-b-toggle.accordion2 variant="info" ><span class="float-left">2.&nbsp;&nbsp; {{this.neutral[1].headline}} </span> &nbsp;&nbsp; <span class="float-right"> {{this.neutral[1].date}} </span></b-btn>
                </b-card-header>
                <b-collapse id="accordion2" accordion="my-accordion" role="tabpanel">
                  <b-card-body>
                      <p> {{this.neutral[1].article}} </p>
                  </b-card-body>
                </b-collapse>
              </b-card>
              <b-card no-body class="mb-1">
                <b-card-header header-tag="header" class="p-1" role="tab">
                  <b-btn block href="#" v-b-toggle.accordion3 variant="danger" ><span class="float-left">3.&nbsp;&nbsp; {{this.neutral[2].headline}} </span> &nbsp;&nbsp; <span class="float-right"> {{this.neutral[2].date}} </span></b-btn>
                </b-card-header>
                <b-collapse id="accordion3" accordion="my-accordion" role="tabpanel">
                  <b-card-body>
                      <p> {{this.neutral[2].article}} </p>
                  </b-card-body>
                </b-collapse>
              </b-card>
              
            </div>
          </b-card>

       
    </div>
</template>

<script>
import vSelect from 'vue-select'
import axios from 'axios';
export default {
    name: 'news',
    components: {vSelect},
    data () {
    return {
        posts: 0,
        posts1: null,
        selected: null,
        marketInput: 'American',
        options: [],
        overall: 72,
        lstm: 100,
        tech: 45,
        news: 50,
        neutral: null

    }
  },

    methods: {
    onChange: function () {
        if(this.marketInput = 'American') {
            axios.get('https://www.finflock.com/api/US_Symbols/')
            .then(response => {
            this.posts = response.data,
            this.options = this.posts
                
                })
            .catch(e => {
            this.errors.push(e)

            })
        }
        if(this.marketInput = 'Indian') {
            axios.get('https://www.finflock.com/api/IN_Symbols/')
            .then(response => {
            this.posts = response.data,
            this.options = this.posts
                
                })
            .catch(e => {
            this.errors.push(e)

            })
        }

    
  
  },
    reset: function () {
        this.selected=''
    }
},

  created() {
    axios.get('https://www.finflock.com/api/US_Symbols/')
    .then(response => {
      this.posts = response.data,
      this.options = this.posts
        
        })
    .catch(e => {
      this.errors.push(e)

    }),

    axios.get('http://192.168.1.6:8000/api/?company_symbol=AAPL')
    .then(response => {
      this.posts1 = response.data,
      this.overall = this.posts1[0].probability,
      this.lstm = this.posts1[0].pred_lstm,
      this.tech = this.posts1[0].pred_tech,
      this.news = this.posts1[0].pred_news
        
        })
    .catch(e => {
      this.errors.push(e)

    }),

    axios.get('http://192.168.1.6:8000/api/analysis_news/?company_symbol=AAPL')
    .then(response => {
      this.posts = response.data,
      this.neutral = this.posts.neutral
        
        })
    .catch(e => {
      this.errors.push(e)

    })

  }

//     mounted () {
//     this.timer = setInterval(() => {
//      axios.get('http://192.168.1.6:5000/api/?company_symbol=AAPL')
//     .then(response => {
//       this.posts1 = response.data,
//       this.overall = this.posts1[0].probability,
//       this.lstm = this.posts1[0].pred_lstm,
//       this.tech = this.posts1[0].pred_tech,
//       this.news = this.posts1[0].pred_news
        
//         })
//     .catch(e => {
//       this.errors.push(e)

//     })


//     }, 3600000)
//   }

}
</script>

<style>
.vslct{
  background-color: #515B65;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  border-radius: 5px;
    border: 1px solid black;
}
</style>
