<template>
    <div class="animated fadeIn">
        <b-button class="mb-3" type="button" variant="tumblr" @click="createPort = true">Create New Portfolio</b-button>
        <b-form-input  class="float-right" v-model="filter" placeholder="Type to Search" style="width: 10%;" />
         <rotate-loader v-if="this.loading == 0" :color="color" style="margin: 10% 50% 10% 50%;"> </rotate-loader>

        <b-card v-if="this.loading == 1">
            <b-table :hover="hover" :filter="filter" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage">

                <template slot="status" slot-scope="data">
                    <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge>
                </template>

                <template slot="index" slot-scope="data">
                    {{data.index + 1}}
                </template>
                <template slot="portfolio_name" slot-scope="data">
                    <router-link class="font-lg" :to="{ name: 'Portfolio', params: { id: data.index }}"> {{data.item.portfolio_name}} </router-link>
                </template>
                <template slot="actions" slot-scope="row">
                    <b-button class="mr-2" size="sm" variant="primary" @click="editModal(row.index)">Edit</b-button>
                    <b-button class="mr-2" size="sm" @click="deleteModal(row.index)" variant="youtube">Delete</b-button>
                    <b-button size="sm" variant="success" >Go Live</b-button>
                </template>
            </b-table>
            <nav>
                <b-pagination :total-rows="getRowCount(items)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
            </nav>
        </b-card>
  
         <!-- <div v-for="d in data" :key="d.id">
            {{d.name}} <br>
            <div v-for="x in d.data" :key="x.id"> {{x}} </div>
            <br><br>
        </div> -->

        <b-modal title="Create Portfolio" class="modal-primary" size="sm" v-model="createPort" @ok="create()" ok-variant="tumblr">
            <b-form-input v-model="inputName" type="text" placeholder="Enter portfolio name"></b-form-input>
        </b-modal>

        <b-modal title="Edit Portfolio" class="modal-info" size="sm" v-model="editPort" @ok="edit(editIndex)" ok-variant="info" ok-title="Save Changes">
             &nbsp;Edit portfolio name :
            <b-form-input class="mt-2" v-model="inputEdit" type="text" placeholder="Portfolio name"></b-form-input>
        </b-modal>

        <b-modal title="Delete Portfolio" class="modal-danger" size="sm" v-model="deletePort" @ok="remove(deleteIndex)" ok-variant="youtube" ok-title="Delete">
            <p>Are you sure you want to delete this portfolio?</p>
        </b-modal>
    </div>
</template>

<script>
import axios from 'axios';
import RotateLoader from 'vue-spinner/src/RotateLoader.vue'
export default {
    name: 'c-table',
    components: {
        RotateLoader
    },
    timers: {
        log: { time: 1500, autostart: true }
    },
    props: {
        caption: {
        type: String,
        default: '<strong>Portfolio</strong>'
        },
        hover: {
        type: Boolean,
        default: true
        },
        striped: {
        type: Boolean,
        default: true
        },
        bordered: {
        type: Boolean,
        default: false
        },
        small: {
        type: Boolean,
        default: false
        },
        fixed: {
        type: Boolean,
        default: true
        }
    },
    data: () => {
        return {
            color: '#20c997',

            createPort: false,
            editPort: false,
            deletePort : false,
            names: [],
            data:[],
            inputName: null,
            inputEdit: null,
            editIndex: null,
            deleteIndex: null,
            items: [],
            fields: [
                {key: 'index'},
                {key: 'portfolio_name'},
                {key: 'actions'}
            ],
            currentPage: 1,
            perPage: 5,
            totalRows: 0,

            loading: 0,
            filter: null,
            }
    },
    methods: {
        getBadge (status) {
        return status === 'Active' ? 'success'
            : status === 'Inactive' ? 'secondary'
            : status === 'Pending' ? 'warning'
                : status === 'Banned' ? 'danger' : 'primary'
        },
        getRowCount (items) {
        return items.length
        },
        create() {
            // createPort = false;
            // console.log("zzzzzzzzzzzzz");
            this.data.push({"name" : this.inputName , "data" : [] });
            // this.data = [{"name" : this.inputName , "data" : [] }];
            this.items.push({portfolio_name: this.inputName});
            axios.get(this.$cookies.get('api_url')+'Put_Portfolio/?Username='+this.$cookies.get('username')+'&Sessionid=ajckjdbjcds&Portfolio='+JSON.stringify(this.data))
            .then(response => {
            this.posts = response.data;
            // alert("sharesadsadsad");
            this.inputName = null;
                
                })
            .catch(e => {
            alert("mmmmmmmm");

            }) 
        },
        deleteModal (index) {
            this.deletePort = true;
            this.deleteIndex = index;
        },
        remove (index) {
        // this.data.pop(this.data[index]);
        this.data.splice(index,1) ;
        // alert(JSON.stringify(this.data[index]));
        this.items.splice(index,1) ;
        // this.pass = [{"name" : this.$cookies.get('username') , "data" : this.items}]
        axios.get(this.$cookies.get('api_url')+'Put_Portfolio/?Username='+this.$cookies.get('username')+'&Sessionid=ajckjdbjcds&Portfolio='+JSON.stringify(this.data))
        .then(response => {
        this.posts = response.data
            
            })
        .catch(e => {
        this.errors.push(e)

        }) 
    },
    editModal (index) {
        this.editPort = true;
        this.editIndex = index;
        this.inputEdit = this.items[index].portfolio_name;
    },
    edit (index) {
        this.editPort = false;
        this.items[index].portfolio_name = this.inputEdit;
        this.data[index].name = this.inputEdit;
        axios.get(this.$cookies.get('api_url')+'Put_Portfolio/?Username='+this.$cookies.get('username')+'&Sessionid=ajckjdbjcds&Portfolio='+JSON.stringify(this.data))
        .then(response => {
        this.posts = response.data
            
            })
        .catch(e => {
        this.errors.push(e)

        }) 
    },
    log () {
    this.loading = 1;
    }
    },


    created () {
        axios.get(this.$cookies.get('api_url')+'Get_Portfolio/?username='+this.$cookies.get('username'))
        .then(response => {
        this.posts = response.data;
        this.posts = this.posts[2].Portfolio;
        this.data = JSON.parse(this.posts);
        var len = Object.keys(this.data).length;
        var i;
        for (i = 0; i < len; i++) {
            this.names.push(this.data[i].name);
            this.items.push({portfolio_name: this.data[i].name});
        }
            
        })
        .catch(e => {
        this.errors.push(e)

        }) 
    }
}
</script>

<style>

</style>
