
<template>
  <div class="animated fadeIn">
      
      <br>
      <br>




    <b-card>
        <div slot="header">
            <strong>Live PortFolio </strong>
          </div>

          <b-row>
        <v-client-table :columns="columns" :data="data" :options="options" :theme="theme" id="dataTable">
          <!-- <a slot="uri" slot-scope="props" target="_blank" :href="props.row.uri" class="icon-eye"></a> -->

          <!-- <div slot="child_row" slot-scope="props">
            The link to {{props.row.name}} is <a :href="props.row.uri">{{props.row.uri}}</a>
          </div> -->
        </v-client-table>
          </b-row>

    </b-card>
  </div>
</template>

<script>
    import Vue from 'vue'
    import {ClientTable, Event} from 'vue-tables-2'
    import axios from 'axios';

  Vue.use(ClientTable)

  export default {
    name: 'DataTable',
    components: {
      ClientTable,
      Event
    },
    data: function () {
      return {
        columns:  [ 'SecType' , 'ID' , 'Symbol' , 'Currency' , 'LocalSymbol' , 'TradingClass' , 'Position' , 'BuyPrice' , 'CurrentPrice' , 'Change' , 'P&L'],
        data: [],
        symbols: null,
        marketInput: 'American' ,
        options: {
          headings: {
            name: 'Country Name',
            code: 'Country Code',
            uri: 'View Record'
          },
          sortable:  ['SecType' , 'ID' , 'Symbol' , 'Currency' , 'LocalSymbol' , 'TradingClass' , 'Position' , 'BuyPrice' , 'CurrentPrice' , 'Change' ,  'P&L'],

          filterable:  ['SecType' , 'ID' , 'Symbol' , 'Currency' , 'LocalSymbol' , 'TradingClass' , 'Position' , 'BuyPrice' , 'CurrentPrice' , 'Change' , 'P&L'],
          sortIcon: { base:'fa', up:'fa-sort-asc', down:'fa-sort-desc', is:'fa-sort' },
          pagination: {
            chunk: 5,
            edge: false,
            nav: 'scroll'
          }
        },
        useVuex: false,
        theme: 'bootstrap4',
        template: 'default'
      }
    },
    methods: {
    reset: function () {
        this.symbols=''
    },
    onSubmit: function () {
        axios.get('https://www.finflock.com/api/signals/?name='+this.symbols )
        .then(response => {
        this.posts = response.data,
        this.data = this.posts
                
            })
        .catch(e => {
        this.errors.push(e)

        }) 
    }
},
    created() {
      // this.timer = setInterval(() => {
        axios.get('https://www.finflock.com/api/ib/')
        .then(response => {
        this.posts = response.data,
        this.data = this.posts
                
            })
        .catch(e => {
        this.errors.push(e)

        }) 
    // }, 500000)
    }
  };
</script>

<style lang="scss">
  #dataTable {
    width: 95%;
    margin: 0 auto;

    .VuePagination {
      text-align: center;
      justify-content: center;
    }

    .vue-title {
      text-align: center ;
      margin-bottom: 10px;
    }

    .VueTables__search-field {
      display: flex;
    }
    .VueTables__search-field input {
      margin-left: 0.25rem;
    }

    .VueTables__limit-field {
      display: flex;
    }

    .VueTables__limit-field select {
      margin-left: 0.25rem !important;
    }

    .VueTables__table th {
      text-align: center;
    }

    .VueTables__child-row-toggler {
      width: 16px;
      height: 16px;
      line-height: 16px;
      display: block;
      margin: auto;
      text-align: center;
    }

    .VueTables__child-row-toggler--closed::before {
      content: "+";
    }

    .VueTables__child-row-toggler--open::before {
      content: "-";
    }
  }

</style>


