<template>
<div class="animated fadeIn">
  <rotate-loader v-if="this.loading == 0" :color="color" style="margin: 10% 50% 10% 50%;"> </rotate-loader>
  <b-card v-if="this.loading == 1">
    <div slot="header">
      <span class="h4">  {{this.pass[this.$route.params.id].name}}  </span>
      <span style="margin-top: -10px;"> 
        <b-dropdown  id="ddown-right" right text="" variant="light" class="float-right" title="Switch">
          <b-dropdown-item v-for="i in names" :key="i.name" :to="{ name: 'Portfolio', params: { id: i.index }}"> {{i.portfolio_name}} </b-dropdown-item>
        </b-dropdown>
    
        <download-csv
          class   = "btn btn-default float-right"
          :data   = "items"
          name    = "portfolio.csv">
          <i class="fa fa-download fa-lg"></i>
        </download-csv>

        <b-button class="float-right"  type="button" variant="light" title="Add Stock" @click="addPort = true"> <i class="fa fa-plus-square fa-lg"></i> </b-button>
        <b-form-input  class="float-right mr-2" v-model="filter" placeholder="Type to Search" style="width: 10%;" />
        </span>
      </div>

      <b-table :hover="hover" :filter="filter" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage">
            <template slot="Last" slot-scope="data">
              <div v-if="data.item.ChangeValue >= 0"> {{data.item.Last}}  <span class="text-success ml-1"> <i class="fa fa-caret-up fa-lg"></i> {{data.item.Change}} %</span> </div>
              <div v-else> {{data.item.Last}}  <span class="text-danger ml-1"> <i class="fa fa-caret-down fa-lg"></i> {{data.item.Change}} %</span> </div>
            </template>

            <template slot="actions" slot-scope="row">
                    <!-- <b-button variant="info" size="sm" title="Expand" @click="expand(row.index)" class="mr-2"> -->
              <!-- <b-button variant="info" size="sm" title="Expand" class="mr-2">
                <i class="fa fa-chevron-down fa-sm"></i>
              </b-button> -->
              <b-button variant="success" size="sm" title="Sell" class="mr-2" @click="order(row.item.Symbol)">
              <!-- <i class="icon-action-redo icons  "></i> -->
                BUY
              </b-button>
              <b-button variant="danger" size="sm" title="Remove" @click="deleteModal(row.index)">
                <!-- <i class="fa fa-remove fa-sm"></i> --> 
                SELL
              </b-button>
    
          </template>         
        </b-table>

        <div v-if="this.item_length == 0" style="text-align: center;"> No data exists in this portfolio. <b-link @click="addPort = true"> Click here </b-link> to add stocks. </div>
        
        <nav>
          <b-pagination :total-rows="getRowCount(items)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
        </nav> 
                    
  </b-card>

  <b-modal v-if="this.symbol == null" title="Add to Portfolio"  class="modal-primary" size="sm" v-model="addPort" @ok="add()" ok-disabled="true">
      <b-form-input v-model="symbol" type="text" placeholder="Symbol"></b-form-input>
    </b-modal>

    <b-modal v-else title="Add to Portfolio"  class="modal-primary" size="sm" v-model="addPort" @ok="add()">
      <b-form-input v-model="symbol" type="text" placeholder="Symbol"></b-form-input>
    </b-modal>

    <b-modal title="Sell Stock" class="modal-danger" size="sm" v-model="deleteStock" @ok="remove(deleteIndex)" ok-variant="youtube" ok-title="Sell">
      <p>Are you sure you want to sell this stock?</p>
    </b-modal>

</div>
</template>

<script>
import axios from 'axios';
import Vue from 'vue'
import JsonCSV from 'vue-json-csv'
import RotateLoader from 'vue-spinner/src/RotateLoader.vue'
import VueNotifications from 'vue-notifications'
import miniToastr from 'mini-toastr'// https://github.com/se-panfilov/mini-toastr

const toastTypes = {
  success: 'success',
  error: 'error',
  info: 'info',
  warn: 'warn'
}
miniToastr.setIcon('error', 'i', {'class': 'fa fa-warning'})
miniToastr.setIcon('warn', 'i', {'class': 'fa fa-warning'})
miniToastr.setIcon('info', 'i', {'class': 'fa fa-info-circle'})
miniToastr.setIcon('success', 'i', {'class': 'fa fa-check-circle-o'})

miniToastr.init({types: toastTypes})

function toast ({title, message, type, timeout, cb}) {
  return miniToastr[type](message, title, timeout, cb)
}

const options = {
  success: toast,
  error: toast,
  info: toast,
  warn: toast
}
//  VueNotifications.setPluginOptions(options)

Vue.use(VueNotifications, options)
 
Vue.component('downloadCsv', JsonCSV)

export default {
  name: 'c-table',
  components: {
    RotateLoader
  },
  timers: {
    log: { time: 1000, autostart: true }
  },
  props: {
    caption: {
      type: String,
      default: '<strong>Portfolio</strong>'
    },
    hover: {
      type: Boolean,
      default: true
    },
    striped: {
      type: Boolean,
      default: true
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  notifications: {
    showSuccessMsg: {
      type: VueNotifications.types.success,
      title: 'Hello there',
      message: 'That\'s the success!'
    },
    showDeleteMsg: {
      type: VueNotifications.types.info,
      title: 'Deleted!',
      message: 'Stock deleted from portfolio.'
    },
    showInfoMsg: {
      type: VueNotifications.types.info,
      title: 'Successful!',
      message: 'Stock added to Portfolio!'
    },
    showWarnMsg: {
      type: VueNotifications.types.warn,
      title: 'Please try again!',
      message: 'Some problem occurred.'
    },
    showErrorMsg: {
      type: VueNotifications.types.error,
      title: 'Invalid Symbol!',
      message: 'Please enter correct symbol.'
    }
  },
  data: () => {
    return {
      items: [{},{},{},{},{}],
      delete: {},
      temp: {},
      addPort: false,
      createPort: false,
      symbol: null,
      quote : null,
      pass: [],
      names: [],
      filter: null,
      item_length: null,
      deleteIndex: null,
      deleteStock: false,

      loading: 0,

      fields: [
        {key: 'Symbol', label: 'Symbol', sortable: true},
        {key: 'Last', label: 'Latest Price <small class="ml-1"> Change %</small>', sortable: true},
        {key: 'Open', sortable: true},
        {key: 'High', sortable: true},
        {key: 'Low', sortable: true},
        {key: 'Close', sortable: true},
        {key: 'Volume', sortable: true, tdClass: 'text-info'},
        {key: 'Trades', sortable: true},
        {key: 'VWAP', sortable: true},
        {key: 'actions'}
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: 0,

      quantity: 10
    }
  },
  methods: {
    getBadge (status) {
      return status === 'Active' ? 'success'
        : status === 'Inactive' ? 'secondary'
          : status === 'Pending' ? 'warning'
            : status === 'Banned' ? 'danger' : 'primary'
    },
    getRowCount (items) {
      return items.length
    },
    deleteModal (index) {
      this.deleteStock = true;
      this.deleteIndex = index;
    },
    remove (index) {
      this.items.splice(index,1) ;
      this.showDeleteMsg();
      this.item_length = Object.keys(this.items).length;
      this.pass[this.$route.params.id].data = this.items;
      axios.get(this.$cookies.get('api_url')+'Put_Portfolio/?Username='+this.$cookies.get('username')+'&Sessionid=ajckjdbjcds&Portfolio='+JSON.stringify(this.pass))
    .then(response => {
      this.posts = response.data
        
        })
    .catch(e => {
      this.showWarnMsg();

    }) 
    },
    // remove (index) {
    //   this.delete = this.items[index];
    //   this.items.splice(index,1) ; 
    //   axios.get(this.$cookies.get('api_url')+'Del_Portfolio/?Username='+this.$cookies.get('username')+'&Sessionid=ajckjdbjcds&Entry='+JSON.stringify(this.delete))
    // .then(response => {
    //   this.posts = response.data;
      
    //     })
    // .catch(e => {
    //   this.errors.push(e)

    // }) 
    // },
    expand (index) {
      this.temp.Symbol =null;
      this.items.push(this.temp);
    },

    add () {
      this.addPort = false;
      // axios.get(this.$cookies.get('api_url')+'quotes/?name='+this.symbol)
      axios.get(this.$cookies.get('nse_api_url')+'quotes/?name='+this.symbol)
    .then(response => {
      this.posts = response.data;
      this.quote = this.posts;
      if(this.quote[0] != null) {
      this.items.push(this.quote[0]);
      this.showInfoMsg();
      this.item_length = Object.keys(this.items).length; 
      this.pass[this.$route.params.id].data = this.items;            
      axios.get(this.$cookies.get('api_url')+'Put_Portfolio/?Username='+this.$cookies.get('username')+'&Sessionid=ajckjdbjcds&Portfolio='+JSON.stringify(this.pass))
      .then(response => {
        this.posts = response.data;
        this.symbol = null;
          
          })
      .catch(e => {
        this.showWarnMsg();
      }) 
      } 
      else {
        this.symbol = null;
        this.showErrorMsg();
      }
        
        })
    .catch(e => {
      this.showWarnMsg();
    })
    },

    log () {
    this.loading = 1;
    },
    order (symbol) {
      axios.get('https://www.finflock.com/Order/sell/04/'+symbol+'/'+this.quantity)
      .then(response => {
      this.posts = response.data.posts

        
        })
    .catch(e => {
      this.errors.push(e)

    })  
    }
  },
  created() {
    axios.get(this.$cookies.get('api_url')+'Get_Portfolio/?username='+this.$cookies.get('username'))
    .then(response => {
      this.posts = response.data;
      this.posts = this.posts[2].Portfolio;
      this.pass = JSON.parse(this.posts);
      this.items = this.pass[this.$route.params.id].data;
      this.item_length = Object.keys(this.items).length;
      var len = Object.keys(this.pass).length;
      var i;
      for (i = 0; i < len; i++) {
        this.names.push({index: i, portfolio_name: this.pass[i].name});
      }
      // var i;
      // var j;
      // var k;
      // var len = Object.keys(this.items).length;
      // for (i = 0; i < len; i++) {
      //   k = this.items[i].Symbol;
      //   for (j = i+1; j < len; j++) {
      //     if(k == this.items[j].Symbol) {
      //       // this.temp.push(this.items[j]);
      //       this.temp = this.items[j];
      //       this.items.splice(j) ;
      //     }
      //   }
      // }
        
        })
    .catch(e => {
      this.errors.push(e)

    })  
  },

  watch: {
    $route(to, from) {
      this.items = this.pass[this.$route.params.id].data;
      this.item_length = Object.keys(this.items).length;
    }
  }

}
</script>

<style>

</style>
