<template>
  <div class="animated fadeIn">

        <b-card>
          <div slot="header">
            <strong>Fundamental Analysis </strong> <small>Form</small>
          </div>
          <b-form>
          <b-row>
          <b-col sm="3">
          <b-form-group
            label="Market:"
            label-for="basicText1"
            :label-cols="3"
            :horizontal="true">
                <b-form-select id="basicText1" v-model="marketInput"
                  :plain="true"
                  :options="['American','Indian']"
                  value="American">
                </b-form-select>
          </b-form-group>
            </b-col>
            <b-col sm="1">
            &nbsp;
            </b-col>
            <b-col sm="3">
            <b-form-group
            label="Symbol:"
            label-for="basicText3"
            :label-cols="3"
            :horizontal="true">
            <b-input id="basicText3" v-model="symbol" type="text" placeholder="Symbol"></b-input>
          </b-form-group>

            </b-col>
            <b-col sm="1">
            &nbsp;
            </b-col>
            <b-col sm="3">
          <b-form-group
            label="Ratio:"
            label-for="basicText2"
            :label-cols="3"
            :horizontal="true">
                <!-- <b-form-select id="basicText2" v-model="ratioInput"
                  :plain="true"
                  :options="['SREV','ATCA','LLTD','NINC','SGRP']"
                  value="SREV">
                </b-form-select> -->
                <select id="basicText2" class="form-control" v-model="ratioInput">
                    <option value="SREV">Total Revenue</option>
                    <option value="ATCA">Total Assets</option>
                    <option value="LLTD">Total Depth</option>
                    <option value="NINC">Net Income</option>
                    <option value="SGRP">Gross Profit</option>
                </select>
          </b-form-group>
            </b-col>
            <b-col sm="1">
            <b-button class="mt-sm-1" type="submit" v-on:click="ml_fund" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
            </b-col>
            
          </b-row>
          </b-form>


        </b-card>
 



    <b-row>
      <b-col sm="12">
        <b-card>
          <div slot="header">
            <strong> {{company}} </strong> <small>Details</small>
          </div>
          <b-row>
            <b-col sm="3">
              <h6> ISIN No:&nbsp;&nbsp; {{isin}}</h6>
            </b-col>
            <b-col sm="3">
              <h6> Code:&nbsp;&nbsp; {{code}}</h6>
            </b-col>
            <b-col sm="3">
              <h6> Industry:&nbsp;&nbsp; {{industry}}</h6>
            </b-col>
            <b-col sm="3">
              <h6> Prediction:&nbsp;&nbsp; <span style="color: #28a745;">{{predict}}</span></h6>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>

        <b-row>
      <b-col lg="4">
        <b-card :header="caption">
          <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage">
          </b-table>
        </b-card>
      </b-col><!--/.col-->
        <b-col lg="8">
          <b-card>
          <div slot="header">
            <strong>Scatter plot with regression line </strong> 
          </div>
            <highcharts class="stock" style="height:338px;" :options="stockOptions"></highcharts>
          </b-card>
      </b-col><!--/.col-->
    </b-row>
  </div>
</template>



<script>
import axios from 'axios';

export default {
  posts: 0,
  table: '',
  name: 'c-table',
  props: {
    caption: {
      type: String,
      default: 'Table'
    },
    hover: {
      type: Boolean,
      default: false
    },
    striped: {
      type: Boolean,
      default: false
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
    data () {
    return {
      symbol: '',
      ratioInput: 'SREV',
      marketInput: 'American',
      ratio: '',
      posts: 0,
      isin : '',
      code : '',
      industry : '',
      predict : '',
      company : '',
      initial : '',
      m : '',
      table : '',
      scatter : [],

      // table
      items: [],
      fields: [
        {key: 'End_Date'},
        {key: 'Abbreviation_Value'}
      ],
      currentPage: 1,
      perPage: 6,
      totalRows: 0,
      // table end

      stockOptions: {
    chart: {
        reflow: true
    }, 
    xAxis: {
        min: -0.5,
        max: 6.5
    },
    yAxis: {
        min: 0
    },
    title: {
        text: 'Scatter plot with regression line'
    },
    series: [{
        type: 'line',
        name: 'Regression Line',
        data: [],
        marker: {
            enabled: false
        },
        states: {
            hover: {
                lineWidth: 0
            }
        },
        enableMouseTracking: false
    }, {
        type: 'scatter',
        name: 'Observations',
        data: [],
        marker: {
            radius: 4
        }
    }]
      }
    }
  },
  // computed: {
  //   ml_fund: function () {
  //     if(ratioInput=='Total Revenue') {
  //       ratio= 'SREV'
  //     }
  //   }
  // },
  methods: {
    ml_fund: function () {

    
      let repoUrlChart = 'https://www.finflock.com/api/ml_models/?Symbol='+this.symbol+'&drop='+this.marketInput+'&model='+this.ratioInput ;
      let repoUrlTable = 'https://www.finflock.com/api/?select=End_Date,Abbreviation_Value&fro='+this.marketInput+'_Fundamentals_Financial_Statements&where=Company_Symbol-%27'+this.symbol+'%27%20AND%20Abbreviation=%27'+this.ratioInput+'%27%20AND%20Fiscal_Period_Type=%27Annual%27' ;
      
    axios.get(repoUrlChart)
    .then(response => {
      this.posts = response.data,
      this.company = this.posts[0].company,
      this.isin = this.posts[1].isin,
      this.code = this.posts[2].code,
      this.industry = this.posts[3].industry,
      this.scatter = this.posts[4].scatter,
      this.m = this.posts[5].m,
      this.predict = this.posts[6].predict,
      this.initial = this.posts[7].initial,
      // this.table = this.posts[8].table,

      this.stockOptions.chart = {
        reflow: true
    },

      this.stockOptions.title = {
        text: 'Scatter plot with regression line - ' +this.company
      }
      
      this.stockOptions.xAxis = {
        min: -0.5,
        max: 6.5
    },

      this.stockOptions.series = [{
        type: 'line',
        name: 'Regression Line',
        data: [[0, this.initial], [this.m, this.predict]],
        marker: {
            radius: 4
        },
        states: {
            hover: {
                lineWidth: 0
            }
        },
        enableMouseTracking: true
    }, {
        type: 'scatter',
        name: 'Observations',
        data: this.scatter,
        marker: {
            radius: 4
        }
    }]

              
        })
    .catch(e => {
      this.errors.push(e)

    }),

        axios.get(repoUrlTable)
    .then(response => {
      this.posts = response.data,
      // this.table = this.posts[8].table,
      this.items = this.posts
        
        })
    .catch(e => {
      this.errors.push(e)

    })

      
    
    }
  },

  // created() {
  //   if(ratioInput=='Total Revenue') {
  //     ratio= 'SREV'
  //   }
  // },

  mounted() {



    axios.get(`https://www.finflock.com/api/ml_models/?Symbol=AAPL&drop=American&model=AACR`)
    .then(response => {
      this.posts = response.data,
      this.company = this.posts[0].company,
      this.isin = this.posts[1].isin,
      this.code = this.posts[2].code,
      this.industry = this.posts[3].industry,
      this.scatter = this.posts[4].scatter,
      this.m = this.posts[5].m,
      this.predict = this.posts[6].predict,
      this.initial = this.posts[7].initial,
      this.table = this.posts[8].table,

      this.stockOptions.chart = {
        reflow: true
    },

      this.stockOptions.title = {
        text: 'Scatter plot with regression line - ' +this.company
      }
      
      this.stockOptions.xAxis = {
        min: -0.5,
        max: 6.5
    },

      this.stockOptions.series = [{
        type: 'line',
        name: 'Regression Line',
        data: [[0, this.initial], [this.m, this.predict]],
        marker: {
            radius: 4
        },
        states: {
            hover: {
                lineWidth: 0
            }
        },
        enableMouseTracking: true
    }, {
        type: 'scatter',
        name: 'Observations',
        data: this.scatter,
        marker: {
            radius: 4
        }
    }]

              
        })
    .catch(e => {
      this.errors.push(e)

    }),

        axios.get(`https://www.finflock.com/api/?select=End_Date,Abbreviation_Value&fro=American_Fundamentals_Financial_Statements&where=Company_Symbol-%27AAPL%27%20AND%20Abbreviation=%27AACR%27%20AND%20Fiscal_Period_Type=%27Annual%27`)
    .then(response => {
      this.posts = response.data,
      // this.table = this.posts[8].table,
      this.items = this.posts
        
        })
    .catch(e => {
      this.errors.push(e)

    })
  }
}
</script>