<template>
  <b-container fluid  class="animated fadeIn">
    <b-card>
    <!-- User Interface controls -->
    <b-row class="mb-3">
      <b-col md="3" class="my-1">
        <b-form-group horizontal label="Filter" class="mb-0">
          <b-input-group>
            <b-form-input v-model="filter" placeholder="Type to Search" />
            <b-input-group-append>
              <b-btn :disabled="!filter" @click="filter = ''">Clear</b-btn>
            </b-input-group-append>
          </b-input-group>
        </b-form-group>
      </b-col>
 
      <b-col md="3" class="my-1"></b-col>
      <b-col md="3" class="my-1"></b-col>
      <b-col md="3" class="my-1">
        <b-form-group horizontal label="Per page" class="mb-0">
          <b-form-select :options="pageOptions" v-model="perPage" />
        </b-form-group>
      </b-col>
    </b-row>

    <!-- Main table element -->
    <b-table show-empty
             stacked="md"
             :items="items"
             :fields="fields"
             :current-page="currentPage"
             :per-page="perPage"
             :filter="filter"
             :sort-by.sync="sortBy"
             :sort-desc.sync="sortDesc"
             :sort-direction="sortDirection"
             @filtered="onFiltered"
             :outlined="outlined"
             :hover="hover"
    >
      <template slot="name" slot-scope="row">{{row.value.first}} {{row.value.last}}</template>
      <template slot="Short_Trend" slot-scope="data">
        <b-badge :variant="getBadge(data.item.Short_Trend)">{{data.item.Short_Trend}}</b-badge>
      </template>
      <template slot="Long_Trend" slot-scope="data">
        <b-badge :variant="getBadge(data.item.Long_Trend)">{{data.item.Long_Trend}}</b-badge>
      </template>
      <template slot="isActive" slot-scope="row">{{row.value?'Yes :)':'No :('}}</template>
      <template slot="actions" slot-scope="row">
        <!-- We use @click.stop here to prevent a 'row-clicked' event from also happening -->
        <b-button size="sm" @click.stop="info(row.item, row.index, $event.target)" class="mr-1">
          Info modal
        </b-button>
        <b-button size="sm" @click.stop="row.toggleDetails">
          {{ row.detailsShowing ? 'Hide' : 'Show' }} Details
        </b-button>
      </template>
      <template slot="row-details" slot-scope="row">
        <b-card>
          <ul>
            <li v-for="(value, key) in row.item" :key="key">{{ key }}: {{ value}}</li>
          </ul>
        </b-card>
      </template>
    </b-table>
    
    <b-row>
      <b-col md="6" class="my-1">
        <b-pagination :total-rows="totalRows" :per-page="perPage" v-model="currentPage" class="my-0" />
      </b-col>
    </b-row>
    </b-card>

    <!-- Info modal -->
    <b-modal id="modalInfo" @hide="resetModal" :title="modalInfo.title" ok-only>
      <pre>{{ modalInfo.content }}</pre>
    </b-modal>

  </b-container>
</template>

<script>
import axios from 'axios';
const items = [
  { isActive: true, age: 40, status: 'Buy', name: { first: 'Dickerson', last: 'Macdonald' } },
  { isActive: false, age: 21, status: 'Buy', name: { first: 'Larsen', last: 'Shaw' } },
  {
    isActive: false,
    age: 9,
    status: 'Sell',
    name: { first: 'Mini', last: 'Navarro' },
    // _rowVariant: 'success'
  },
  { isActive: false, age: 89, status: 'Sell', name: { first: 'Geneva', last: 'Wilson' } },
  { isActive: true, age: 38, status: 'Buy', name: { first: 'Jami', last: 'Carney' } },
  { isActive: false, age: 27, status: 'Sell', name: { first: 'Essie', last: 'Dunlap' } },
  { isActive: true, age: 40, status: 'Buy', name: { first: 'Thor', last: 'Macdonald' } },
  {
    isActive: true,
    age: 87,
    status: 'Sell',
    name: { first: 'Larsen', last: 'Shaw' },
    // _cellVariants: { age: 'danger', isActive: 'warning' }
  },
  { isActive: false, age: 26, status: 'Buy', name: { first: 'Mitzi', last: 'Navarro' } },
  { isActive: false, age: 22, status: 'Buy', name: { first: 'Genevieve', last: 'Wilson' } },
  { isActive: true, age: 38, status: 'Sell', name: { first: 'John', last: 'Carney' } },
  { isActive: false, age: 29, status: 'Sell', name: { first: 'Dick', last: 'Dunlap' } }
]

export default {
  data () {
    return {
      temp: 0.6,
      items: items,
      fields: [
        // { key: 'name', label: 'Person Full name', sortable: true, sortDirection: 'desc'},
        // { key: 'age', label: 'Person age', sortable: true, 'class': 'text-center' },
        // { key: 'status', label: 'Status', tdClass: 'font-lg' },
        // { key: 'isActive', label: 'is Active', tdClass: 'text-primary' },
        
        { key: 'Symbol', label: 'Symbol', sortable: true },
        { key: 'Open', label: 'Open', sortable: true },
        { key: 'High', label: 'High', sortable: true },
        { key: 'Low', label: 'Low', sortable: true },
        { key: 'LTP', label: 'Last Price', sortable: true },
        { key: 'Last_Close', label: 'Last Close', sortable: true },
        { key: 'Volume', label: 'Volume', sortable: true },
        { key: 'Per_Change', label: '% Change', sortable: true },
        { key: 'Short_Trend', label: 'Minor Trend', tdClass: 'font-lg' },
        { key: 'Long_Trend', label: 'Major Trend', tdClass: 'font-lg' },
        { key: 'actions', label: 'Actions' }
                
      ],
      fixed: true,
      outlined: false,
      hover: true,
      currentPage: 1,
      perPage: 5,
      totalRows: items.length,
      pageOptions: [ 5, 10, 15 ],
      sortBy: null,
      sortDesc: false,
      sortDirection: 'asc',
      filter: null,
      modalInfo: { title: '', content: '' }
    }
  },
  computed: {
    sortOptions () {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => { return { text: f.label, value: f.key } })
    }
  },
  methods: {
    info (item, index, button) {
      this.modalInfo.title = `Row index: ${index}`
      this.modalInfo.content = JSON.stringify(item, null, 2)
      this.$root.$emit('bv::show::modal', 'modalInfo', button)
    },
    resetModal () {
      this.modalInfo.title = ''
      this.modalInfo.content = ''
    },
    onFiltered (filteredItems) {
      // Trigger pagination to update the number of buttons/pages due to filtering
      this.totalRows = filteredItems.length
      this.currentPage = 1
    },
    getBadge (status) {
      return status === 'UP' ? 'success'
          : status === 'DOWN' ? 'danger' : 'primary'
    }
  },
  created() {
    axios.get('https://www.finflock.com/api/Scanner/')
    .then(response => {
      this.posts = response.data,
      this.items = this.posts
              
        })
    .catch(e => {
      this.errors.push(e)

    })
  }
}
</script>