<template>
    <div class="animated fadeIn">
        <!-- {{this.$route.params.name}}
        <br>
        {{this.options[25]}}
        <br>
        {{this.list[5]}}
        <br> -->
        <b-card>
            <b-table :hover="hover" :filter="filter" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage">

                <template slot="value" slot-scope="data">
                    <router-link class="font-lg" :to="{ name: 'Stock', params: { name: data.item.value }}"> {{data.item.value}} </router-link>
                </template>
                <template slot="label" slot-scope="data">
                    <router-link class="font-lg" :to="{ name: 'Stock', params: { name: data.item.value }}"> {{data.item.label}} </router-link>
                </template>
                
            </b-table>
            <nav>
                <b-pagination :total-rows="getRowCount(items)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
            </nav>
        </b-card>
    </div>
</template>

<script>
import axios from 'axios';
export default {
    props: {
        caption: {
        type: String,
        default: '<strong>Stock List</strong>'
        },
        hover: {
        type: Boolean,
        default: true
        },
        striped: {
        type: Boolean,
        default: false
        },
        bordered: {
        type: Boolean,
        default: false
        },
        small: {
        type: Boolean,
        default: false
        },
        fixed: {
        type: Boolean,
        default: true
        }
    },
    data: () => {
        return {
            options: null,
            list: [],
            dataLength: null,

            items: [],
            fields: [
                {key: 'value', label: 'Symbol'},
                {key: 'label', label: 'Company Name'}
            ],
            currentPage: 1,
            perPage: 20,
            totalRows: 0
        }
    },
    methods: {
        listing(alpha) {
            var i = 0;
            for (i; i < this.dataLength; i += 1) {
                if(this.options[i].label[0] == alpha) {
                    this.list.push(
                        { "value": this.options[i].value, "label": this.options[i].label } 
                    );
                }
            }
        },
        getBadge (status) {
        return status === 'Active' ? 'success'
            : status === 'Inactive' ? 'secondary'
            : status === 'Pending' ? 'warning'
                : status === 'Banned' ? 'danger' : 'primary'
        },
        getRowCount (items) {
        return items.length
        }
    },
    created() {
        axios.get(this.$cookies.get('api_url')+'IN_Symbols/')
        .then(response => {
        this.posts = response.data;
        this.options = this.posts;
        this.dataLength = this.options.length;
        this.listing(this.$route.params.name);
        this.items = this.list;
                
            })
        .catch(e => {
        this.errors.push(e)

        })
    },
    watch: {
    $route(to, from) {
        this.list = [];
        this.listing(this.$route.params.name);
        this.items = this.list;
    }
  }
}
</script>

<style>

</style>
