<template>
<rotate-loader v-if="this.loading == 0" style="margin: 15% 50% 15% 50%;"> </rotate-loader>
    <div v-else class="animated fadeIn my-4">
        <b-card class="bg-light">
            <div> 
                <span class="text-value" style="font-family: Trebuchet MS,Arial,sans-serif;"> {{company}} </span> 
                <i class="ml-1 flag-icon flag-icon-in h5" title="in" id="in"></i> 
                <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-value ml-1"> {{this.$route.params.name}} </span> 
                <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted ml-1"> {{industry}} </span> 
                <b-button class="float-right" variant="primary" @click="addPort = true"> Add to Portfolio </b-button>
            </div>
            <div class="mt-2">
                <div v-if="quote.Change > 0">
                    <span class="h5"> {{quote.Last}} </span>
                    <i class="ml-2 fa fa-caret-up fa-lg text-success"></i>
                    <span class="ml-0 text-success h5"> {{quote.Change}} % </span>
                    <span class="ml-0 text-success h5"> ( {{quote.ChangeValue}} ) </span>
                </div>
                <div v-else>
                    <span class="h5"> {{quote.Last}} </span>
                    <i class="ml-2 fa fa-caret-down fa-lg text-danger"></i>
                    <span class="ml-0 text-danger h5"> {{quote.Change}} % </span>
                    <span class="ml-0 text-danger h5"> ( {{quote.ChangeValue}} ) </span>
                </div>
            </div>
            <div class="mt-1">
                <div class="brand-card-body">
                    <div>
                        <div class="text-value"> {{quote.Open}} </div>
                        <div style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Open</div>
                    </div>
                    <div>
                        <div class="text-value"> {{quote.High}} </div>
                        <div style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">High</div>
                    </div>
                    <div>
                        <div class="text-value"> {{quote.Low}} </div>
                        <div style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Low</div>
                    </div>
                    <div>
                        <div class="text-value"> {{quote.Close}} </div>
                        <div style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Close</div>
                    </div>
                    <div>
                        <div class="text-value"> {{quote.Prev_Close}} </div>
                        <div style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Previous Close</div>
                    </div>
                    <div>
                        <div class="text-value"> {{quote.Volume}} </div>
                        <div style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Volume</div>
                    </div>
                    <div>
                        <div class="text-value"> {{quote.VWAP}} </div>
                        <div style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">VWAP</div>
                    </div>
                    <div>
                        <div class="text-value"> {{quote["%Deliverble"]}} % </div>
                        <div style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">%Deliverble</div>
                    </div>
                    <div>
                        <div class="text-value"> {{quote.Trades}} </div>
                        <div style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Trades</div>
                    </div>
                    
                </div>
            </div>
        </b-card>
    
    <b-card class="bg-light p-1">
        <div class="mb-2">  <span class="h5" >  Business  Summary  </span> <i class="icon-arrow-right icons font-1xl "></i></div>
        <p> {{bsum}} </p>
        <div class="mt-2 mb-2">  <span class="h5" >  Financial  Summary  </span> <i class="icon-arrow-right icons font-1xl "></i></div>
        <p> {{fsum}} </p>
    </b-card>

    
    <b-card class="bg-light">
        <div class="mb-3">  <span class="h5 p-2" >  Price Chart  </span> <i class="icon-arrow-right icons font-1xl "></i> <b-button variant="primary" target="_blank" :to="{ name: 'Full Featured Chart', params: { name: this.$route.params.name }}" size="sm" class="float-right">Full-featured Chart</b-button> </div>
        <highcharts class="chart-wrapper" :constructor-type="'stockChart'" style="height:500px;" height="500" :options="stockOptions"></highcharts>
    </b-card>


    <b-card class="d-md-down-none bg-light">
        <div class="mb-3 ml-0">  <span class="h4" > Financial Ratios </span> <i class="icon-arrow-right icons font-1xl "></i></div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[0].Ratio_Desc}} : </span> <span class="h6" >{{this.items[0].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[1].Ratio_Desc}} : </span> <span class="h6" >{{this.items[1].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[2].Ratio_Desc}} : </span> <span class="h6" >{{this.items[2].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[3].Ratio_Desc}} : </span> <span class="h6" >{{this.items[3].Ratio_Value}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[4].Ratio_Desc}} : </span> <span class="h6" >{{this.items[4].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[5].Ratio_Desc}} : </span> <span class="h6" >{{this.items[5].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[6].Ratio_Desc}} : </span> <span class="h6" >{{this.items[6].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[7].Ratio_Desc}} : </span> <span class="h6" >{{this.items[7].Ratio_Value}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[9].Ratio_Desc}} : </span> <span class="h6" >{{this.items[9].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[10].Ratio_Desc}} : </span> <span class="h6" >{{this.items[10].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[11].Ratio_Desc}} : </span> <span class="h6" >{{this.items[11].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[13].Ratio_Desc}} : </span> <span class="h6" >{{this.items[13].Ratio_Value}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[14].Ratio_Desc}} : </span> <span class="h6" >{{this.items[14].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[18].Ratio_Desc}} : </span> <span class="h6" >{{this.items[18].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[19].Ratio_Desc}} : </span> <span class="h6" >{{this.items[19].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[20].Ratio_Desc}} : </span> <span class="h6" >{{this.items[20].Ratio_Value}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[21].Ratio_Desc}} : </span> <span class="h6" >{{this.items[21].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[22].Ratio_Desc}} : </span> <span class="h6" >{{this.items[22].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[23].Ratio_Desc}} : </span> <span class="h6" >{{this.items[23].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[24].Ratio_Desc}} : </span> <span class="h6" >{{this.items[24].Ratio_Value}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[25].Ratio_Desc}} : </span> <span class="h6" >{{this.items[25].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[26].Ratio_Desc}} : </span> <span class="h6" >{{this.items[26].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[27].Ratio_Desc}} : </span> <span class="h6" >{{this.items[27].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[28].Ratio_Desc}} : </span> <span class="h6" >{{this.items[28].Ratio_Value}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[29].Ratio_Desc}} : </span> <span class="h6" >{{this.items[29].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[30].Ratio_Desc}} : </span> <span class="h6" >{{this.items[30].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[31].Ratio_Desc}} : </span> <span class="h6" >{{this.items[31].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[32].Ratio_Desc}} : </span> <span class="h6" >{{this.items[32].Ratio_Value}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[33].Ratio_Desc}} : </span> <span class="h6" >{{this.items[33].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[34].Ratio_Desc}} : </span> <span class="h6" >{{this.items[34].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[35].Ratio_Desc}} : </span> <span class="h6" >{{this.items[35].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[36].Ratio_Desc}} : </span> <span class="h6" >{{this.items[36].Ratio_Value}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[37].Ratio_Desc}} : </span> <span class="h6" >{{this.items[37].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[38].Ratio_Desc}} : </span> <span class="h6" >{{this.items[38].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[39].Ratio_Desc}} : </span> <span class="h6" >{{this.items[39].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[40].Ratio_Desc}} : </span> <span class="h6" >{{this.items[40].Ratio_Value}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[41].Ratio_Desc}} : </span> <span class="h6" >{{this.items[41].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[42].Ratio_Desc}} : </span> <span class="h6" >{{this.items[42].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[43].Ratio_Desc}} : </span> <span class="h6" >{{this.items[43].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[44].Ratio_Desc}} : </span> <span class="h6" >{{this.items[44].Ratio_Value}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[45].Ratio_Desc}} : </span> <span class="h6" >{{this.items[45].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[46].Ratio_Desc}} : </span> <span class="h6" >{{this.items[46].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[47].Ratio_Desc}} : </span> <span class="h6" >{{this.items[47].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[48].Ratio_Desc}} : </span> <span class="h6" >{{this.items[48].Ratio_Value}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[49].Ratio_Desc}} : </span> <span class="h6" >{{this.items[49].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[50].Ratio_Desc}} : </span> <span class="h6" >{{this.items[50].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[51].Ratio_Desc}} : </span> <span class="h6" >{{this.items[51].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[52].Ratio_Desc}} : </span> <span class="h6" >{{this.items[52].Ratio_Value}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[53].Ratio_Desc}} : </span> <span class="h6" >{{this.items[53].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[54].Ratio_Desc}} : </span> <span class="h6" >{{this.items[54].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[55].Ratio_Desc}} : </span> <span class="h6" >{{this.items[55].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[56].Ratio_Desc}} : </span> <span class="h6" >{{this.items[56].Ratio_Value}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[57].Ratio_Desc}} : </span> <span class="h6" >{{this.items[57].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[58].Ratio_Desc}} : </span> <span class="h6" >{{this.items[58].Ratio_Value}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <!-- <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[39].Ratio_Desc}} : </span> <span class="h6" >{{this.items[39].Ratio_Value}}</span> </div> -->
                    </div>
                    <div style="border: none;">
                        <!-- <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted"> {{this.items[40].Ratio_Desc}} : </span> <span class="h6" >{{this.items[40].Ratio_Value}}</span> </div> -->
                    </div>    
                </div>
    </b-card>

    <b-card class="d-lg-none bg-light">
        <div class="mb-3 ml-1">  <span class="h5" >  Financial Ratios </span> <i class="icon-arrow-right icons font-1xl "></i></div>
        <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage">
        </b-table>
        <nav>
        <b-pagination :total-rows="getRowCount(items)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
        </nav>
    </b-card>

    <b-row>
        <b-col md="4" sm="6">
            <b-card class="bg-light">
                <div class="mb-2">  <span class="h5 p-2" >  Price : Earning  </span> <i class="icon-arrow-right icons font-1xl "></i></div>
                <highcharts class="chart-wrapper" :constructor-type="'stockChart'" style="height:333px;" height="333" :options="stockOptions_pe"></highcharts>
            </b-card>
        </b-col>
        <b-col md="4" sm="6">
            <b-card class="bg-light">
                <div class="mb-2">  <span class="h5 p-2" >  Price : Book Value  </span> <i class="icon-arrow-right icons font-1xl "></i></div>
                <highcharts class="chart-wrapper" :constructor-type="'stockChart'" style="height:333px;" height="333" :options="stockOptions_pb"></highcharts>
            </b-card>
        </b-col>
        <b-col md="4" sm="6">
            <b-card class="bg-light">
                <div class="mb-2">  <span class="h5 p-2" >  Price : Sales  </span> <i class="icon-arrow-right icons font-1xl "></i></div>
                <highcharts class="chart-wrapper" :constructor-type="'stockChart'" style="height:333px;" height="333" :options="stockOptions_ps"></highcharts>
            </b-card>
        </b-col>
    </b-row>


    <b-row class="d-lg-none">
      <b-col lg="3">
        <b-card>
        <div class="mb-3 ml-1">  <span class="h5" > Technicals : </span> <span class="font-lg"> Volume Indicators </span> <i class="icon-arrow-right icons font-1xl "></i></div>
        <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="volume_ind" :fields="tech_fields" :current-page="currentPageVolume" :per-page="perPageVolume">
        </b-table>
        <nav>
        <b-pagination :total-rows="getRowCount(volume_ind)" :per-page="perPageVolume" v-model="currentPageVolume" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
        </nav>
        </b-card>
      </b-col>
        <b-col lg="3">
            <b-card>
            <div class="mb-3 ml-1">  <span class="h5" > Technicals : </span> <span class="font-lg"> Volatility Indicators </span>  <i class="icon-arrow-right icons font-1xl "></i></div>
            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="volatility_ind" :fields="tech_fields" :current-page="currentPageVolatility" :per-page="perPageVolatility">
            </b-table>
            <nav>
            <b-pagination :total-rows="getRowCount(volatility_ind)" :per-page="perPageVolatility" v-model="currentPageVolatility" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
            </nav>
            </b-card>
        </b-col>
        <b-col lg="3">
            <b-card>
            <div class="mb-3 ml-1">  <span class="h5" > Technicals : </span> <span class="font-lg"> Trend Indicators </span>  <i class="icon-arrow-right icons font-1xl "></i></div>
            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="volume_ind" :fields="tech_fields" :current-page="currentPageTrend" :per-page="perPageTrend">
            </b-table>
            <nav>
            <b-pagination :total-rows="getRowCount(volume_ind)" :per-page="perPageTrend" v-model="currentPageTrend" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
            </nav>
            </b-card>
        </b-col>
        <b-col lg="3">
            <b-card>
            <div class="mb-3 ml-1">  <span class="h5" > Technicals : </span> <span class="font-lg"> Momentum Indicators </span>  <i class="icon-arrow-right icons font-1xl "></i></div>
            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="volume_ind" :fields="tech_fields" :current-page="currentPageMomentum" :per-page="perPageMomentum">
            </b-table>
            <nav>
            <b-pagination :total-rows="getRowCount(volume_ind)" :per-page="perPageMomentum" v-model="currentPageMomentum" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
            </nav>
            </b-card>
        </b-col>
    </b-row>
    
    <b-card style="border:none;">
        <div class="mb-3 ml-0">  <span class="h4" > Technicals : </span> <span class="h5"> Volume Indicators </span> <i class="icon-arrow-right icons font-1xl "></i></div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Accumulation/Distribution Index (ADI) : </span> <span class="h6" >{{Math.round(this.technicals.volume_adi * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">On-balance volume (OBV) : </span> <span class="h6" >{{this.technicals.volume_obv}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">On-balance volume mean (OBV mean) : </span> <span class="h6" >{{this.technicals.volume_obvm}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Chaikin Money Flow (CMF) : </span> <span class="h6" >{{Math.round(this.technicals.volume_cmf * 100) / 100}}</span> </div>
                    </div>    
                </div>
                
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Force Index (FI) : </span> <span class="h6" >{{this.technicals.volume_fi}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Ease of movement (EoM, EMV) : </span> <span class="h6" >{{this.technicals.volume_em}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Volume-price trend (VPT) : </span> <span class="h6" >{{Math.round(this.technicals.volume_vpt * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Negative Volume Index (NVI) : </span> <span class="h6" >{{Math.round(this.technicals.volume_nvi * 100) / 100}}</span> </div>
                    </div>    
                </div>

                <hr>

        <div class="mb-3 mt-4 ml-0">  <span class="h4" > Technicals : </span> <span class="h5"> Volatility Indicators </span> <i class="icon-arrow-right icons font-1xl "></i></div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Average True Range (ATR) : </span> <span class="h6" >{{Math.round(this.technicals.volatility_atr * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Bollinger Bands (BB) High : </span> <span class="h6" >{{Math.round(this.technicals.volatility_bbh * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Bollinger Bands (BB) Low : </span> <span class="h6" >{{Math.round(this.technicals.volatility_bbl * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Bollinger Bands (BB) Moving Avg : </span> <span class="h6" >{{Math.round(this.technicals.volatility_bbm * 100) / 100}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Bollinger High Band Indicator : </span> <span class="h6" >{{this.technicals.volatility_bbhi}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Bollinger Low Band Indicator : </span> <span class="h6" >{{this.technicals.volatility_bbli}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Keltner channel (KC) : </span> <span class="h6" >{{Math.round(this.technicals.volatility_kcc * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Keltner channel (KC) High : </span> <span class="h6" >{{Math.round(this.technicals.volatility_kch * 100) / 100}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Keltner channel (KC) Low : </span> <span class="h6" >{{Math.round(this.technicals.volatility_kcl * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Keltner Channel High Band Indicator (KC) : </span> <span class="h6" >{{this.technicals.volatility_kchi}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Keltner Channel Low Band Indicator (KC) : </span> <span class="h6" >{{this.technicals.volatility_kcli}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Donchian channel (DC) High : </span> <span class="h6" >{{this.technicals.volatility_dch}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Donchian channel (DC) Low : </span> <span class="h6" >{{this.technicals.volatility_dcl}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Donchian High Band Indicator : </span> <span class="h6" >{{this.technicals.volatility_dchi}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Donchian Low Band Indicator : </span> <span class="h6" >{{this.technicals.volatility_dcli}}</span> </div>
                    </div>  
                    <div style="border: none;">
                        <!-- <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Donchian Low Band Indicator : </span> <span class="h6" >{{this.technicals.volatility_dcli}}</span> </div> -->
                    </div> 
                </div>

                <hr>

            <div class="mb-3 mt-4 ">  <span class="h4" > Technicals : </span> <span class="h5"> Trend Indicators </span> <i class="icon-arrow-right icons font-1xl "></i></div>
                <div class="brand-card-body p-2 ml-0" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Moving Average Convergence Divergence (MACD) : </span> <span class="h6" >{{Math.round(this.technicals.trend_macd * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Moving Average Convergence Divergence (MACD Signal) : </span> <span class="h6" >{{Math.round(this.technicals.trend_macd_signal * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Moving Average Convergence Divergence (MACD Diff) : </span> <span class="h6" >{{Math.round(this.technicals.trend_macd_diff * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Exponential Moving Average (Fast) : </span> <span class="h6" >{{Math.round(this.technicals.trend_ema_fast * 100) / 100}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Exponential Moving Average (Slow) : </span> <span class="h6" >{{Math.round(this.technicals.trend_ema_slow * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Average Directional Movement Index (ADX) : </span> <span class="h6" >{{Math.round(this.technicals.trend_adx * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Average Directional Movement Index Positive (ADX) : </span> <span class="h6" >{{Math.round(this.technicals.trend_adx_pos * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Average Directional Movement Index Negative (ADX) : </span> <span class="h6" >{{Math.round(this.technicals.trend_adx_neg * 100) / 100}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Vortex Indicator (VI Positive) : </span> <span class="h6" >{{Math.round(this.technicals.trend_vortex_ind_pos * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Vortex Indicator (VI Negetive) : </span> <span class="h6" >{{Math.round(this.technicals.trend_vortex_ind_neg * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Trix (TRIX) : </span> <span class="h6" >{{Math.round(this.technicals.trend_trix * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Mass Index (MI) : </span> <span class="h6" >{{Math.round(this.technicals.trend_mass_index * 100) / 100}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Commodity Channel Index (CCI) : </span> <span class="h6" >{{Math.round(this.technicals.trend_cci * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Detrended Price Oscillator (DPO) : </span> <span class="h6" >{{Math.round(this.technicals.trend_dpo * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">KST Oscillator (KST) : </span> <span class="h6" >{{Math.round(this.technicals.trend_kst * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">KST Oscillator (KST Signal) : </span> <span class="h6" >{{Math.round(this.technicals.trend_kst_sig * 100) / 100}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">KST Oscillator (KST Diff) : </span> <span class="h6" >{{Math.round(this.technicals.trend_kst_diff * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Ichimoku Kinkō Hyō (Ichimoku Low) : </span> <span class="h6" >{{Math.round(this.technicals.trend_ichimoku_a * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Ichimoku Kinkō Hyō (Ichimoku High) : </span> <span class="h6" >{{Math.round(this.technicals.trend_ichimoku_b * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Ichimoku Kinkō Hyō (Ichimoku Low Visual) : </span> <span class="h6" >{{Math.round(this.technicals.trend_visual_ichimoku_a * 100) / 100}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Ichimoku Kinkō Hyō (Ichimoku High Visual) : </span> <span class="h6" >{{Math.round(this.technicals.trend_visual_ichimoku_b * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Aroon Indicator (AI) Up : </span> <span class="h6" >{{Math.round(this.technicals.trend_aroon_up * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Aroon Indicator (AI) Down : </span> <span class="h6" >{{Math.round(this.technicals.trend_aroon_down * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Aroon Indicator (AI) : </span> <span class="h6" >{{Math.round(this.technicals.trend_aroon_ind * 100) / 100}}</span> </div>
                    </div>    
                </div>

                <hr>

            <div class="mb-3 mt-4 ">  <span class="h4" > Technicals : </span> <span class="h5"> Momentum Indicators </span> <i class="icon-arrow-right icons font-1xl "></i></div>
                <div class="brand-card-body p-2 ml-0" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Relative Strength Index (RSI) : </span> <span class="h6" >{{Math.round(this.technicals.momentum_rsi * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Money Flow Index (MFI) : </span> <span class="h6" >{{Math.round(this.technicals.momentum_mfi * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">True strength index (TSI) : </span> <span class="h6" >{{Math.round(this.technicals.momentum_tsi * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Ultimate Oscillator : </span> <span class="h6" >{{Math.round(this.technicals.momentum_uo * 100) / 100}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Stochastic Oscillator : </span> <span class="h6" >{{Math.round(this.technicals.momentum_stoch * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Stochastic Oscillator Signal : </span> <span class="h6" >{{Math.round(this.technicals.momentum_stoch_signal * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Williams %R : </span> <span class="h6" >{{Math.round(this.technicals.momentum_wr * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Awesome Oscillator : </span> <span class="h6" >{{Math.round(this.technicals.momentum_ao * 100) / 100}}</span> </div>
                    </div>    
                </div>

                <hr>

            <div class="mb-3 mt-4 ">  <span class="h4" > Technicals : </span> <span class="h5"> Other Indicators </span> <i class="icon-arrow-right icons font-1xl "></i></div>
                <div class="brand-card-body p-2 ml-0" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Daily Return (DR) : </span> <span class="h6" >{{Math.round(this.technicals.others_dr * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Daily Log Return (DLR) : </span> <span class="h6" >{{Math.round(this.technicals.others_dlr * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Cumulative Return (CR) : </span> <span class="h6" >{{Math.round(this.technicals.others_cr * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <!-- <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Ultimate Oscillator : </span> <span class="h6" >{{Math.round(this.technicals.momentum_uo * 100) / 100}}</span> </div> -->
                    </div>    
                </div>
                
    </b-card>

    <b-row>
      <b-col md="12" sm="6">
        <b-card class="bg-light">
        <div class="mb-2 ml-1">  <span class="h5" >  Top Business  Headlines - {{this.company}} </span> <i class="icon-arrow-right icons font-1xl "></i></div>
        <ul class="list-unstyled">
        <div v-for="item in this.news.articles" :key="item.id">
        <a :href="item.url" target="_blank" class="text-dark">
        <b-media tag="li" class="my-4">
          <b-img slot="aside" :src="item.urlToImage" width="230" height="130" alt="Error loading Image" />

          <span class="h5 mt-0">{{item.title}}</span>

          <p class="float-right"> 
            <span class="text-secondary"> Published @ </span>
            <span class="text-info"> {{item.publishedAt.split("Z")[0].split("T")[0]}} </span>
            <span> , </span>
            <span class="text-info"> {{item.publishedAt.split("Z")[0].split("T")[1].split(":")[0]}} </span> 
            <span> : </span>
            <span class="text-info"> {{item.publishedAt.split("Z")[0].split("T")[1].split(":")[1]}} </span> 
          </p>

          <p class="mt-2"> {{item.description}} </p>
          <p class="mb-0" v-if="item.content != null"> {{item.content.split(" [+")[0]}} </p>
          <!-- <p class="mb-0"> {{item.content}} </p> -->
        </b-media>
        </a>
        </div>
      </ul>
      </b-card>
      </b-col>
      <!-- <b-col md="3" sm="6">
        <div class="mb-2 ml-1">  <span class="text-value" style="font-family: Trebuchet MS,Arial,sans-serif;">  Top Gainers </span> <i class="icon-arrow-right icons font-1xl "></i></div>
      </b-col>
      <b-col md="3" sm="6">
        <div class="mb-2 ml-1">  <span class="text-value" style="font-family: Trebuchet MS,Arial,sans-serif;">  Top Losers </span> <i class="icon-arrow-right icons font-1xl "></i></div>
      </b-col> -->
    </b-row>
    

    <!-- <b-modal v-if="this.symbol == null" title="Add to Portfolio" class="modal-primary" size="sm" v-model="addPort" @ok="add()" >
      <b-form-select v-model="portfolio_selected" :options="names"  text-field="portfolio_name" value-field="index" class="mt-3" />
    </b-modal> -->

    <b-modal v-if="this.symbol == null" title="Add to Portfolio" class="modal-primary" v-model="addPort" @ok="submit_strategy()" ok-title="Create">
      <b-form>
          <b-form-group
            label="Strategy :"
            label-for="strategySelect"
            :label-cols="3"
            :horizontal="true" >
            <b-form-select id="strategySelect"
              :plain="true"
              :options="['Select a strategy','Technical Indicator Strategy', 'Option 2', 'Option 3']"
              v-model="strategySelect">
            </b-form-select>
          </b-form-group>

          <b-form-group
            label="Ticker :"
            label-for="tickerDisabled"
            :label-cols="3"
            :horizontal="true">
            <b-form-input id="tickerDisabled" type="text" :disabled="true" v-model="this.$route.params.name"></b-form-input>
          </b-form-group>


          <b-form-group
            label="Indicator :"
            label-for="indicatorSelect"
            :label-cols="3"
            :horizontal="true" >
            <b-form-select id="indicatorSelect"
              :plain="true"
              :options="['Select Indicator','momentum_rsi', 'momentum_stoch']"
              v-model="indicatorSelect"
              v-on:input="default_value()">
            </b-form-select>
          </b-form-group>

          <b-form-group
            label="Buy Condition :"
            label-for="buyConditionSelect"
            :label-cols="3"
            :horizontal="true" >
            <b-form-select id="buyConditionSelect"
              :plain="true"
              :options="['Crossing','Crossing Up', 'Crossing Down', 'Greater Than', 'Less Than', 'Inside Channel', 'Outside Channel', 'Entering Channel', 'Exiting Channel']"
              v-model="buyCondition">
            </b-form-select>
          </b-form-group>

          <div v-if="this.buyCondition  == 'Crossing' || this.buyCondition  == 'Crossing Up' || this.buyCondition  == 'Crossing Down' || this.buyCondition  == 'Greater Than' || this.buyCondition  == 'Less Than' ">
              <b-form-group
                label=""
                :label-cols="3"
                :horizontal="true" >
                <b-row class="form-group">
                <b-col sm="6">
                    <b-form-input :disabled="true" type="text" placeholder="Value :"></b-form-input>
                </b-col>
                <b-col sm="6">
                    <b-form-input type="text" v-model="buyValue"></b-form-input>
                </b-col>
                </b-row>
            </b-form-group>
          </div>

          <div v-else>
              <b-form-group
                label=""
                :label-cols="3"
                :horizontal="true" >
                <b-row class="form-group">
                <b-col sm="6">
                    <b-form-input :disabled="true" type="text" placeholder="Lower Bound :"></b-form-input>
                </b-col>
                <b-col sm="6">
                    <b-form-input type="text" v-model="buyLowerBound"></b-form-input>
                </b-col>
                </b-row>
            </b-form-group>

            <b-form-group
                style="margin-top: -15px;"
                label=""
                :label-cols="3"
                :horizontal="true" >
                <b-row class="form-group">
                <b-col sm="6">
                    <b-form-input :disabled="true" type="text" placeholder="Upper Bound :"></b-form-input>
                </b-col>
                <b-col sm="6">
                    <b-form-input type="text" v-model="buyUpperBound"></b-form-input>
                </b-col>
                </b-row>
            </b-form-group>
          </div>

          <b-form-group
                style="margin-top: -15px;"
                label=""
                :label-cols="3"
                :horizontal="true" >
                <b-row class="form-group">
                <b-col sm="6">
                    <b-form-input :disabled="true" type="text" placeholder="Buy quantity :"></b-form-input>
                </b-col>
                <b-col sm="6">
                    <b-form-input type="text" v-model="buyQuantity"></b-form-input>
                </b-col>
                </b-row>
            </b-form-group>


        <b-form-group
            label="Sell Condition :"
            label-for="sellConditionSelect"
            :label-cols="3"
            :horizontal="true" >
            <b-form-select id="sellConditionSelect"
              :plain="true"
              :options="['Crossing','Crossing Up', 'Crossing Down', 'Greater Than', 'Less Than', 'Inside Channel', 'Outside Channel', 'Entering Channel', 'Exiting Channel']"
              v-model="sellCondition">
            </b-form-select>
          </b-form-group>

          <div v-if="this.sellCondition  == 'Crossing' || this.sellCondition  == 'Crossing Up' || this.sellCondition  == 'Crossing Down' || this.sellCondition  == 'Greater Than' || this.sellCondition  == 'Less Than' ">
              <b-form-group
                label=""
                :label-cols="3"
                :horizontal="true" >
                <b-row class="form-group">
                <b-col sm="6">
                    <b-form-input :disabled="true" type="text" placeholder="Value :"></b-form-input>
                </b-col>
                <b-col sm="6">
                    <b-form-input type="text" v-model="sellValue"></b-form-input>
                </b-col>
                </b-row>
            </b-form-group>
          </div>

          <div v-else>
              <b-form-group
                label=""
                :label-cols="3"
                :horizontal="true" >
                <b-row class="form-group">
                <b-col sm="6">
                    <b-form-input :disabled="true" type="text" placeholder="Lower Bound :"></b-form-input>
                </b-col>
                <b-col sm="6">
                    <b-form-input type="text" v-model="sellLowerBound"></b-form-input>
                </b-col>
                </b-row>
            </b-form-group>

            <b-form-group
                style="margin-top: -15px;"
                label=""
                :label-cols="3"
                :horizontal="true" >
                <b-row class="form-group">
                <b-col sm="6">
                    <b-form-input :disabled="true" type="text" placeholder="Upper Bound :"></b-form-input>
                </b-col>
                <b-col sm="6">
                    <b-form-input type="text" v-model="sellUpperBound"></b-form-input>
                </b-col>
                </b-row>
            </b-form-group>
          </div>

          <b-form-group
                style="margin-top: -15px;"
                label=""
                :label-cols="3"
                :horizontal="true" >
                <b-row class="form-group">
                <b-col sm="6">
                    <b-form-input :disabled="true" type="text" placeholder="Sell quantity :"></b-form-input>
                </b-col>
                <b-col sm="6">
                    <b-form-input type="text" v-model="sellQuantity"></b-form-input>
                </b-col>
                </b-row>
            </b-form-group>
        

          <!-- <b-form-group
                label=""
                :label-cols="3"
                :horizontal="true" >
                <b-row class="form-group">
                <b-col sm="3">
                    
                </b-col>
                <b-col sm="6">
                    <b-button block variant="ghost-primary" > + Add Condition </b-button>
                </b-col>
                </b-row>
            </b-form-group> -->
    
          <b-form-group
                label="Options :"
                :label-cols="3"
                :horizontal="true" >
                <b-row class="form-group">
                <b-col sm="6">
                    <b-button block variant="outline-info" :pressed.sync="togglePressOnce" @click='modalOptionsOnce' v-b-tooltip.hover title="The action will only execute once and will not be repeated!"> Only Once </b-button>
                </b-col>
                <b-col sm="6">
                    <b-button block variant="outline-info" :pressed.sync='togglePressEvery' @click='modalOptionsEvery' v-b-tooltip.hover title="The action will execute every time the condition is satisfied but only once per minute!"> Every Time </b-button>
                </b-col>
                </b-row>
            </b-form-group>

            <b-form-group
                label="Expiration Time :"
                :label-cols="3"
                :horizontal="true" >
                <b-row class="form-group">
                <b-col sm="6">
                    <date-picker v-if="!openEndedCheck" style="width: 100%;" lang="en" type="datetime" v-model="expDate" format="YYYY-MM-DD hh:mm:ss a" :time-picker-options="{ start: '00:00', step: '00:30', end: '23:30' }" placeholder="Select Date" :not-before="new Date()"></date-picker>
                    <date-picker v-else disabled style="width: 100%;" lang="en" type="datetime" placeholder="Select Date"></date-picker>
                </b-col>
                <b-col sm="6">
                    <b-form-checkbox
                        class="mt-1"
                        id="openEndedCheck"
                        name="openEndedCheck"
                        v-model="openEndedCheck"
                        >
                        Open Ended
                    </b-form-checkbox>
                </b-col>
                </b-row>
            </b-form-group>

            <!-- <b-form-group
                style="margin-top: -15px;"
                label=""
                :label-cols="3"
                :horizontal="true" >
                
            </b-form-group> -->

            
            <b-form-group
            label="Alert :"
            label-for="basicCustomCheckboxes"
            :label-cols="3"
            :horizontal="true">
            <b-row class="form-group">
                <b-col sm="6">
                    <b-form-checkbox
                        id="emailCheck"
                        name="emailCheck"
                        v-model="emailCheck"
                        >
                        Send E-mail
                    </b-form-checkbox>
                </b-col>
                <b-col sm="6">
                    <b-form-checkbox
                        id="popupCheck"
                        name="popupCheck"
                        v-model="popupCheck"
                        >
                        Show Pop-up
                    </b-form-checkbox>
                </b-col>
                </b-row>
            </b-form-group>

            <b-form-group
            label="Summary :"
            label-for="textarea"
            :label-cols="3"
            :horizontal="true">
                <div>
                    <b-form-textarea
                        id="textarea"
                        placeholder="INFY Crossing 727.8"
                        rows="3"
                        no-resize
                    />
                </div>
            </b-form-group>


      </b-form>
    </b-modal>
    </div>
</template>

<script>
import axios from 'axios';
import HighchartsT from "highcharts";
import dragPanes from "highcharts/modules/drag-panes";
import RotateLoader from 'vue-spinner/src/RotateLoader.vue'
import DatePicker from 'vue2-datepicker'
dragPanes(HighchartsT)

const shuffleArray = (array) => {
  for (let i = array.length - 1; i > 0; i--) {
    let j = Math.floor(Math.random() * (i + 1))
    let temp = array[i]
    array[i] = array[j]
    array[j] = temp
  }
  return array
}

export default {
    components: {RotateLoader, DatePicker},
    props: {
    caption: {
      type: String,
      default: 'Table'
    },
    hover: {
      type: Boolean,
      default: false
    },
    striped: {
      type: Boolean,
      default: false
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  timers: {
    log: { time: 3000, autostart: true }
  },
    data: function () {
    return {
        loading: 0,
        news: null,
        company: null,
        industry: null,
        quote: [],
        bsum: null,
        fsum: null,
        data : [],
        ohlc: [],
        volume: [],
        dataLength: null,
        addPort: false,
        pass: [],
        names: [{index: null, portfolio_name: 'Select a Portfolio'}],
        portfolio_selected: null,
        portfolio_data: [{},{},{},{},{}],
        item_length: null,
        volume_ind : null,
        volatility_ind : null,
        trend_ind : null,
        momentum_ind : null,
        technicals : null,

        strategySelect : "Select a strategy",
        indicatorSelect : "Select Indicator",
        buyCondition : "Crossing",
        sellCondition : "Crossing",
        buyValue : null,
        sellValue : null,
        buyLowerBound : null,
        buyUpperBound : null,
        sellLowerBound : null,
        sellUpperBound : null,
        buyQuantity : null,
        sellQuantity : null,

        togglePressOnce: true,
        togglePressEvery: false,
        openEndedCheck: false,
        emailCheck: true,
        popupCheck: false,
        expDate: null,
        summary : "summary",

        items: [],
        fields: [
            {key: 'Ratio_Desc', label: 'Description'},
            {key: 'Ratio_Value', label: 'Value'}
        ],
        tech_fields: [
            {key: 'indicator', label: 'Indicator'},
            {key: 'value', label: 'Value'}
        ],
        currentPage: 1,
        perPage: 5,
        totalRows: 0,
        currentPageVolume: 1,
        perPageVolume: 5,
        totalRowsVolume: 0,
        currentPageVolatility: 1,
        perPageVolatility: 5,
        totalRowsVolatility: 0,
        currentPageTrend: 1,
        perPageTrend: 5,
        totalRowsTrend: 0,
        currentPageMomentum: 1,
        perPageMomentum: 5,
        totalRowsMomentum: 0,

        stockOptions: {
              yAxis: [{
            labels: {
                align: 'left'
            },
            height: '80%',
            resize: {
                enabled: true
            }
        }, {
            labels: {
                align: 'left'
            },
            top: '80%',
            height: '20%',
            offset: 0
        }],
        tooltip: {
            shape: 'square',
            headerShape: 'callout',
            borderWidth: 0,
            shadow: false,
            positioner: function (width, height, point) {
                var chart = this.chart,
                    position;

                if (point.isHeader) {
                    position = {
                        x: Math.max(
                            // Left side limit
                            chart.plotLeft,
                            Math.min(
                                point.plotX + chart.plotLeft - width / 2,
                                // Right side limit
                                chart.chartWidth - width - chart.marginRight
                            )
                        ),
                        y: point.plotY
                    };
                } else {
                    position = {
                        x: point.series.chart.plotLeft,
                        y: point.series.yAxis.top - chart.plotTop
                    };
                }

                return position;
            }
        },
        chart: {
        	backgroundColor: '#f0f3f5'
    	},
        series: [{
            type: 'ohlc',
            id: 'ohlc',
            name: 'Stock Price',
            data: null
        }, {
            type: 'column',
            id: 'volume',
            name: 'Volume',
            data: null,
            yAxis: 1
        }],
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 800
                },
                chartOptions: {
                    rangeSelector: {
                        inputEnabled: false
                    }
                }
            }]
        }
            },



            stockOptions_pe: {
                rangeSelector: {
                    selected: 6
                },
                plotOptions: {
                series: {
                    shadow: {
                    width: 15,
                    offsetY: 10,
                    opacity: 0.007
                    }
                }
                },

                tooltip: {
            
                    valueDecimals: 2,
                },
                chart: {
                    backgroundColor: '#f0f3f5'
                },

                series: []
        
            },
            stockOptions_pb: {
                rangeSelector: {
                    selected: 6
                },
                plotOptions: {
                series: {
                    shadow: {
                    width: 15,
                    offsetY: 10,
                    opacity: 0.007
                    }
                }
                },

                tooltip: {
            
                    valueDecimals: 2,
                },
                chart: {
                    backgroundColor: '#f0f3f5'
                },

                series: []
        
            },
            stockOptions_ps: {
                rangeSelector: {
                    selected: 6
                },
                plotOptions: {
                series: {
                    shadow: {
                    width: 15,
                    offsetY: 10,
                    opacity: 0.007
                    }
                }
                },

                tooltip: {
            
                    valueDecimals: 2,
                },
                chart: {
                    backgroundColor: '#f0f3f5'
                },

                series: []
        
            }
    }
    },
    methods: {
        functions(stock) {
            axios.get('https://newsapi.org/v2/everything?q='+stock+'&apiKey=802f61be04774cffa699a4557e36b0a6') 
                .then(response => {
                this.posts = response.data,
                this.news = this.posts
                    
                    })
            .catch(e => {
                this.news = 'error'

                }),

            axios.get(this.$cookies.get('api_url')+'?select=Company,ISIN_No,Code,Industry&fro=All_Stocks_Symbol_Data&where=Symbol=%27'+stock+'%27') 
                .then(response => {
                this.posts = response.data,
                this.company = this.posts[0].Company,
                this.industry = this.posts[0].Industry,
                this.industry = this.industry.replace("amp;", "")
                    
                    })
            .catch(e => {
                this.company = 'error'

                }),

            // axios.get(this.$cookies.get('api_url')+'quotes/?name='+stock)
            axios.get(this.$cookies.get('nse_api_url')+'quotes/?name='+stock) 
                .then(response => {
                this.posts = response.data,
                this.quote = this.posts[0]
                    })
            .catch(e => {
                this.quote = 'error'

                }),
                axios.get(this.$cookies.get('api_url')+'?select=Business_Summary&fro=Indian_Fundamentals_Snapshots&where=Company_Symbol-%27'+stock+'%27')
                .then(response => {
                this.posts = response.data,
                this.bsum = this.posts[0].Business_Summary
                        
                    })
                .catch(e => {
                this.errors.push(e)

                }),
                    axios.get(this.$cookies.get('api_url')+'?select=Financial_Summary&fro=Indian_Fundamentals_Snapshots&where=Company_Symbol-%27'+stock+'%27')
                .then(response => {
                this.posts = response.data,
                this.fsum = this.posts[0].Financial_Summary
                        
                    })
                .catch(e => {
                this.errors.push(e)

                }),
               
                axios.get(this.$cookies.get('api_url')+'OHLCV/?name=TCS')
                .then(response => {
                this.posts = response.data;
                this.data = this.posts;
                this.dataLength = this.data.length;
                var i = 0;

                for (i; i < this.dataLength; i += 1) {
                    this.ohlc.push([
                        this.data[i][0], // the date
                        this.data[i][1], // open
                        this.data[i][2], // high
                        this.data[i][3], // low
                        this.data[i][4] // close
                    ]);

                    this.volume.push([
                        this.data[i][0], // the date
                        this.data[i][5] // the volume
                    ]);
                }
                this.stockOptions.series[0].data = this.ohlc;
                this.stockOptions.series[1].data = this.volume;
                    
                    })
                .catch(e => {
                // alert("ff");

                })

                // PE PB PS
                axios.get(this.$cookies.get('api_url')+'?select=*&fro=Indian_PE_PB_PS_Timeseries&where=Symbol-%27'+stock+'%27')
                .then(response => {
                this.posts = response.data;
                var data = this.posts;

                this.stockOptions_pe.series = [{
                            name: this.posts[0].Symbol,
                            data: (function(){
                                var newData = [];
                                var elem;
                                for (var i=0; i < data.length; i++) {
                                elem = data[i];
                        newData.push([Date.parse(elem.Date), parseFloat(elem.PE)]);
                        // newData.push([Date.parse(elem[0]), elem[1]]);
                                }
                                return newData;
                            }())
                    }] ;
                    
                    this.stockOptions_pb.series = [{
                            name: this.posts[0].Symbol,
                            data: (function(){
                                var newData = [];
                                var elem;
                                for (var i=0; i < data.length; i++) {
                                elem = data[i];
                        newData.push([Date.parse(elem.Date), parseFloat(elem.PB)]);
                        // newData.push([Date.parse(elem[0]), elem[1]]);
                                }
                                return newData;
                            }())
                    }] ;
                    
                    this.stockOptions_ps.series = [{
                            name: this.posts[0].Symbol,
                            data: (function(){
                                var newData = [];
                                var elem;
                                for (var i=0; i < data.length; i++) {
                                elem = data[i];
                        newData.push([Date.parse(elem.Date), parseFloat(elem.PS)]);
                        // newData.push([Date.parse(elem[0]), elem[1]]);
                                }
                                return newData;
                            }())
                            }] ;
                // this.$emit("flag", 1);
                    
                    })
                .catch(e => {
                // this.errors.push(e)
                alert("error1");

                }),

                axios.get(this.$cookies.get('api_url')+'Fundamental_Ratios/?select=Date,Ratio_Name,Ratio_Value&fro=Indian_Fundamental_Ratios&where=Symbol-%27'+stock+'%27')
                .then(response => {
                this.posts = response.data,
                this.items = this.posts
                    
                    })
                .catch(e => {
                alert("error2");

                }) ,

                axios.get(this.$cookies.get('api_url')+'signalTest/?region=in&stock='+stock)
                // axios.get(this.$cookies.get('nse_api_url')+'signalTest/?name='+stock)
                .then(response => {
                this.posts = response.data,
                this.posts = this.posts.indicators,
                this.technicals = this.posts[this.posts.length - 1],
                this.volume_ind = [
                    {indicator: 'Accumulation/Distribution Index (ADI)', value: Math.round(this.technicals.volume_adi * 100) / 100},
                    {indicator: 'On-balance volume (OBV)', value: this.technicals.volume_obv},
                    {indicator: 'On-balance volume mean (OBV mean)', value: this.technicals.volume_obvm},
                    {indicator: 'Chaikin Money Flow (CMF)', value: Math.round(this.technicals.volume_cmf * 100) / 100},
                    {indicator: 'Force Index (FI)', value: this.technicals.volume_fi},
                    {indicator: 'Ease of movement (EoM, EMV)', value: this.technicals.volume_em},
                    {indicator: 'Volume-price trend (VPT)', value: Math.round(this.technicals.volume_vpt * 100) / 100},
                    {indicator: 'Negative Volume Index (NVI)', value: Math.round(this.technicals.volume_nvi * 100) / 100}
                ],
                this.volatility_ind = [
                    {indicator: 'Average True Range (ATR)', value: Math.round(this.technicals.volatility_atr * 100) / 100},
                    {indicator: 'Bollinger Bands (BB) High', value: Math.round(this.technicals.volatility_bbh * 100) / 100},
                    {indicator: 'Bollinger Bands (BB) Low', value: Math.round(this.technicals.volatility_bbl * 100) / 100},
                    {indicator: 'Bollinger Bands (BB) Moving Avg', value: Math.round(this.technicals.volatility_bbm * 100) / 100},
                    {indicator: 'Bollinger High Band Indicator', value: this.technicals.volatility_bbhi},
                    {indicator: 'Bollinger Low Band Indicator', value: this.technicals.volatility_bbli},
                    {indicator: 'Keltner channel (KC)', value: Math.round(this.technicals.volatility_kcc * 100) / 100},
                    {indicator: 'Keltner channel (KC) High', value: Math.round(this.technicals.volatility_kch * 100) / 100},
                    {indicator: 'Keltner channel (KC) Low', value: Math.round(this.technicals.volatility_kcl * 100) / 100},
                    {indicator: 'Keltner Channel High Band Indicator (KC)', value: this.technicals.volatility_kchi},
                    {indicator: 'Keltner Channel Low Band Indicator (KC)', value: this.technicals.volatility_kcli},
                    {indicator: 'Donchian channel (DC) High', value: this.technicals.volatility_dch},
                    {indicator: 'Donchian channel (DC) Low', value: this.technicals.volatility_dcl},
                    {indicator: 'Donchian High Band Indicator', value: this.technicals.volatility_dchi},
                    {indicator: 'Donchian Low Band Indicator', value: this.technicals.volatility_dcli},
                ]
                // this.trend_ind = [
                //     {indicator: 'Moving Average Convergence Divergence (MACD)', value: Math.round(this.technicals.volatility_atr * 100) / 100},
                //     {indicator: 'Bollinger Bands (BB) High', value: Math.round(this.technicals.volatility_bbh * 100) / 100},
                //     {indicator: 'Bollinger Bands (BB) Low', value: Math.round(this.technicals.volatility_bbl * 100) / 100},
                //     {indicator: 'Bollinger Bands (BB) Moving Avg', value: Math.round(this.technicals.volatility_bbm * 100) / 100},
                //     {indicator: 'Bollinger High Band Indicator', value: this.technicals.volatility_bbhi},
                //     {indicator: 'Bollinger Low Band Indicator', value: this.technicals.volatility_bbli},
                //     {indicator: 'Keltner channel (KC)', value: Math.round(this.technicals.volatility_kcc * 100) / 100},
                //     {indicator: 'Keltner channel (KC) High', value: Math.round(this.technicals.volatility_kch * 100) / 100},
                //     {indicator: 'Keltner channel (KC) Low', value: Math.round(this.technicals.volatility_kcl * 100) / 100},
                //     {indicator: 'Keltner Channel High Band Indicator (KC)', value: this.technicals.volatility_kchi},
                //     {indicator: 'Keltner Channel Low Band Indicator (KC)', value: this.technicals.volatility_kcli},
                //     {indicator: 'Donchian channel (DC) High', value: this.technicals.volatility_dch},
                //     {indicator: 'Donchian channel (DC) Low', value: this.technicals.volatility_dcl},
                //     {indicator: 'Donchian High Band Indicator', value: this.technicals.volatility_dchi},
                //     {indicator: 'Donchian Low Band Indicator', value: this.technicals.volatility_dcli},
                // ]
                    
                    })
                .catch(e => {
                alert("error3");

                })
        },

        add() {
            this.addPort = false;
            axios.get(this.$cookies.get('api_url')+'Get_Portfolio/?username='+this.$cookies.get('username'))
            .then(response => {
            this.posts = response.data;
            this.posts = this.posts[2].Portfolio;
            this.pass = JSON.parse(this.posts);
            var len = Object.keys(this.pass).length;
            this.portfolio_data = this.pass[this.portfolio_selected].data;
            this.item_length = Object.keys(this.portfolio_data).length; 
            
            if(this.quote != null) {
            this.portfolio_data.push(this.quote);
            // this.showInfoMsg();
            this.item_length = Object.keys(this.portfolio_data).length; 
            this.pass[this.portfolio_selected].data = this.portfolio_data;            
            axios.get(this.$cookies.get('api_url')+'Put_Portfolio/?Username='+this.$cookies.get('username')+'&Sessionid=ajckjdbjcds&Portfolio='+JSON.stringify(this.pass))
            .then(response => {
                this.posts = response.data;
                // this.symbol = null;
                
                })
            .catch(e => {
                // this.showWarnMsg();
                alert("l0l");
            }) 
            } 
            else {
                // this.symbol = null;
                // this.showErrorMsg();
                alert("l0l");
            }
                
                })
            .catch(e => {
            this.errors.push(e)

            })
        },
        getBadge (status) {
        return status === 'Active' ? 'success'
            : status === 'Inactive' ? 'secondary'
            : status === 'Pending' ? 'warning'
                : status === 'Banned' ? 'danger' : 'primary'
        },
        getRowCount (items) {
        return items.length
        },
        log () {
            this.loading = 1;
        },

        modalOptionsOnce () {
            this.togglePressOnce = true,
            this.togglePressEvery = false
        },
        modalOptionsEvery () {
            this.togglePressOnce = false,
            this.togglePressEvery = true
        },
        default_value () {
            axios.get(this.$cookies.get('api_url')+'technical_strategy_default/?indicator='+this.indicatorSelect)
            .then(response => {
            this.posts = response.data,
            this.posts = this.posts[0],
            this.buyCondition = this.posts.buy_condition,
            this.buyValue = this.posts.buy_value,
            this.buyLowerBound = this.posts.buy_lowerbound,
            this.buyUpperBound = this.posts.buy_upperbound,
            this.sellCondition = this.posts.sell_condition,
            this.sellValue = this.posts.sell_value,
            this.sellLowerBound = this.posts.sell_lowerbound,
            this.sellUpperBound = this.posts.sell_upperbound

                
                })
            .catch(e => {
            this.errors.push(e)

            })
        },

        submit_strategy () {
            axios.get(this.$cookies.get('api_url')+'post_technical_strategy/?username='+this.$cookies.get('username')+'&strategy='+this.strategySelect+'&ticker='+this.$route.params.name+'&indicator='+this.indicatorSelect+'&buy_condition='+this.buyCondition+'&buy_value='+this.buyValue+'&buy_lowerbound='+this.buyLowerBound+'&buy_upperbound='+this.buyUpperBound+'&buy_quantity='+this.buyQuantity+'&sell_condition='+this.sellCondition+'&sell_value='+this.sellValue+'&sell_lowerbound='+this.sellLowerBound+'&sell_upperbound='+this.sellUpperBound+'&sell_quantity='+this.sellQuantity+'&only_once='+this.togglePressOnce+'&every_time='+this.togglePressEvery+'&expiration_date='+this.expDate+'&send_mail='+this.emailCheck+'&show_popup='+this.popupCheck+'&summary='+this.summary)
            .then(response => {
            this.posts = response.data
                
            })
            .catch(e => {
            this.errors.push(e)

            })
        }

    },

    created() {
          this.functions(this.$route.params.name);

          axios.get(this.$cookies.get('api_url')+'Get_Portfolio/?username='+this.$cookies.get('username'))
            .then(response => {
            this.posts = response.data;
            this.posts = this.posts[2].Portfolio;
            this.pass = JSON.parse(this.posts);
            var len = Object.keys(this.pass).length;
            var i;
            for (i = 0; i < len; i++) {
                this.names.push({index: i, portfolio_name: this.pass[i].name});
            }
            this.portfolio_data = this.pass[this.$route.params.id].data;
            this.item_length = Object.keys(this.portfolio_data).length;
                
                })
            .catch(e => {
            this.errors.push(e)

            })

    },
    watch: {
    $route(to, from) {
        this.news = [];
        this.functions(this.$route.params.name);
    }
  }

}
</script>

<style>
    a:hover {
        text-decoration: none;
    }
</style>
