<template>
    <div class="animated fadeIn mt-4">
        <b-card :header="this.strategies[0].strategy">
            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="strategies" :fields="fields" :current-page="currentPage" :per-page="perPage">
                <template slot="actions" slot-scope="row">
                    <b-button class="mr-2" size="sm" variant="primary" @click="backtest()"> Backtest </b-button>
                    <b-button class="mr-2" size="sm" variant="youtube">Delete</b-button>
                    <b-button size="sm" variant="success" > Paper Trade </b-button>
                </template>
            </b-table>
        </b-card>

        <b-row v-if="this.back_check == 1">
            <b-col sm="6" lg="6">  
                <highcharts class="p-1 stock bg-light" :constructor-type="'stockChart'" style="height:360px;"  :options="stockEquity"></highcharts>
            </b-col>
            <b-col sm="6" lg="6"> 
                <highcharts class="p-1 stock bg-light" :constructor-type="'stockChart'" style="height:360px;"  :options="stockDrawdown"></highcharts>
            </b-col>
        </b-row>

        <b-row v-if="this.back_check == 1">
            <b-col sm="6" lg="6">  
               <b-card class="mt-4" v-if="this.back_check == 1">
                    <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items1" :fields="backtest_fields" :current-page="currentPage" :per-page="perPage">
        
                    </b-table>
                </b-card>
            </b-col>
            <b-col sm="6" lg="6"> 
                <b-card class="mt-4" v-if="this.back_check == 1">
                    <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items2" :fields="backtest_fields" :current-page="currentPage" :per-page="perPage">
        
                    </b-table>
                </b-card>
            </b-col>
        </b-row>

    </div>
</template>

<script>
import axios from 'axios';
export default {
    props: {
    caption: {
      type: String,
      default: 'Table'
    },
    hover: {
      type: Boolean,
      default: false
    },
    striped: {
      type: Boolean,
      default: false
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
    data: function () {
        return {
            back_check: 0,
            strategies : [],

            items1: [],
            items2: [],
            t: [],
      fields: [
        {key: 'ticker'},
        {key: 'indicator'},
        {key: 'buy_condition'},
        {key: 'buy_value'},
        {key: 'buy_quantity'},
        {key: 'sell_condition'},
        {key: 'sell_value'},
        {key: 'sell_quantity'},
        {key: 'actions'},
      ],

      backtest_fields: [
        {key: 'parameter'},
        {key: 'value'}
      ],
      
      stockEquity: {
                navigator: {
                    enabled: true
                },
                scrollbar: {
                    enabled: true
                },
                rangeSelector: {
                    selected: 5
                },
                // chart: {
                //     backgroundColor: '#f0f3f5'
                // },
                scrollbar: {
                    barBackgroundColor: 'gray',
                    barBorderRadius: 7,
                    barBorderWidth: 0,
                    buttonBackgroundColor: 'gray',
                    buttonBorderWidth: 0,
                    buttonBorderRadius: 7,
                    trackBackgroundColor: 'none',
                    trackBorderWidth: 1,
                    trackBorderRadius: 8,
                    trackBorderColor: '#CCC'
                },
                title: {
                    // text: 'Cumulative Performance : <span> buy.hold- </span><span style="color:#63c2de;"> 2.86 </span> <span>  | </span> <span style="color:red;"> sma.cross- </span><span style="color:#63c2de;"> 2.36 </span>'
                    // text: 'Cumulative Performance : <span style="color:#63c2de;"> buy.hold- </span><span> 82.10 </span> <span>  | </span> <span style="color:red;"> dcf.strat- </span><span> 118.24 </span>'
                    text: 'Equity'
                    // style: {
                    // color: 'black'
                    // }
                },

                plotOptions: {
                series: {
                    shadow: {
                    width: 15,
                    offsetY: 10,
                    opacity: 0.01
                    }
                    }
                },
                tooltip: {
            
                    valueDecimals: 2,
                },

                series: [
                {
                    // type: 'areaspline',
                    name: null,
                    data: []
                }
                ]

            },

            stockDrawdown: {
                navigator: {
                    enabled: true
                },
                scrollbar: {
                    enabled: true
                },
                rangeSelector: {
                    selected: 5
                },
                // chart: {
                //     backgroundColor: '#f0f3f5'
                // },
                scrollbar: {
                    barBackgroundColor: 'gray',
                    barBorderRadius: 7,
                    barBorderWidth: 0,
                    buttonBackgroundColor: 'gray',
                    buttonBorderWidth: 0,
                    buttonBorderRadius: 7,
                    trackBackgroundColor: 'none',
                    trackBorderWidth: 1,
                    trackBorderRadius: 8,
                    trackBorderColor: '#CCC'
                },
                title: {
                    // text: 'Cumulative Performance : <span> buy.hold- </span><span style="color:#63c2de;"> 2.86 </span> <span>  | </span> <span style="color:red;"> sma.cross- </span><span style="color:#63c2de;"> 2.36 </span>'
                    // text: 'Cumulative Performance : <span style="color:#63c2de;"> buy.hold- </span><span> 82.10 </span> <span>  | </span> <span style="color:red;"> dcf.strat- </span><span> 118.24 </span>'
                    text: 'Drawdown'
                    // style: {
                    // color: 'black'
                    // }
                },

                plotOptions: {
                series: {
                    shadow: {
                    width: 15,
                    offsetY: 10,
                    opacity: 0.01
                    }
                    }
                },
                tooltip: {
            
                    valueDecimals: 2,
                },

                series: [
                {
                    // type: 'areaspline',
                    name: null,
                    data: []
                }
                ]

            },
        }
    },

    created() {
        axios.get(this.$cookies.get('api_url')+'get_technical_strategy/?username='+this.$cookies.get('username'))
            .then(response => {
            this.posts = response.data,
            this.strategies = this.posts
                
            })
            .catch(e => {
            this.errors.push(e)

            })
    },

    methods: {

        backtest () {
            this.back_check = 1;
            axios.get('https://www.finflock.com/backtest?indicator=momentum_stoch&ticker=TCS&buy_condition=lt&sell_condition=gt&buy_value=30&sell_value=70')
                .then(response => {
                this.posts = response.data;
                this.t = this.posts;
                var data = this.posts["strat.equity"];
                var drawdown = this.posts["strat.drawdown_plot3"];

                this.stockEquity.series = [{
                        name: "Equity",
                        // color: "black",
                        data: (function(){
                            var newData = [];
                            var elem;
                            for (var i=0; i < data.length; i++) {
                            elem = data[i];
                    newData.push([Date.parse(elem[0]), parseFloat(elem[1])]);
                    // newData.push([Date.parse(elem[0]), elem[1]]);
                            }
                            return newData;
                        }())
                }] ;

                this.stockDrawdown.series = [{
                        name: "Drawdown",
                        color: "black",
                        data: (function(){
                            var newData = [];
                            var elem;
                            for (var i=0; i < drawdown.length; i++) {
                            elem = drawdown[i];
                    newData.push([Date.parse(elem[0]), parseFloat(elem[1])]);
                    // newData.push([Date.parse(elem[0]), elem[1]]);
                            }
                            return newData;
                        }())
                }] ;

                this.items1 = [
                        {parameter: 'volatility', value: this.t["volatility"][0]},
                        {parameter: 'sharpe', value: this.t["sharpe"][0]},
                        {parameter: 'calmar', value: this.t["calmar"][0]},
                        {parameter: 'r2', value: this.t["r2"][0]},
                        {parameter: 'avgdrawdown', value: this.t["avgdrawdown"][0]}
                    ];

                this.items2 = [
                    {parameter: 'DVR', value: this.t["DVR"][0]},
                    {parameter: 'maxdrawdown', value: this.t["maxdrawdown"][0]},
                    {parameter: 'var.5%', value: this.t["var.5%"][0]},
                    {parameter: 'cvar', value: this.t["cvar"][0]},
                    {parameter: 'exposure', value: this.t["exposure"][0]}
                ];
                    
                    })
                .catch(e => {
                    alert("ff");

                })
        }
    }

}
</script>





