<template>
    <div class="animated fadeIn">
        <b-card>
          <div slot="header">
            <strong>Strategy Backtester </strong> <small>Form</small>
          </div>
          <b-form>
          <b-row>
            <b-col sm="3">
          <b-form-group
            label="Symbol:"
            label-for="basicText1"
            :label-cols="3"
            :horizontal="true">
            <!-- <b-input id="basicText1" v-model="symbol" type="text" placeholder="Symbol"></b-input> -->
            <v-select class="vslct" id="basicText1" v-model="symbol" :options="options" placeholder="Select stock"></v-select>
          </b-form-group>
            </b-col>
            <!-- <b-col sm="1">
            &nbsp;
            </b-col> -->
          <b-col sm="3">
          <b-form-group
            label="Strategy:"
            label-for="basicText2"
            :label-cols="3"
            :horizontal="true">
            <b-input id="basicText2" v-model="strategy" type="text" placeholder="Strategy"></b-input>
          </b-form-group>
            </b-col>
            <!-- <b-col sm="1">
            &nbsp;
            </b-col> -->
            <b-col sm="3">
          <b-form-group
            label="Start Date:"
            label-for="basicText3"
            :label-cols="3"
            :horizontal="true">
            <!-- <b-input id="basicText3" v-model="startDate" type="text" placeholder="Start Date"></b-input> -->
            <!-- <datepicker id="basicText3" v-model="startDate" placeholder="Start Date" :format="format"></datepicker> -->
            <date-picker class="datepicker" v-model="startDate" lang="en" placeholder="yyyy-mm-dd"></date-picker>
          </b-form-group>
            </b-col>
            <!-- <b-col sm="1">
            &nbsp;
            </b-col> -->
            <b-col sm="3">
          <b-form-group
            label="End Date:"
            label-for="basicText4"
            :label-cols="3"
            :horizontal="true">
            <!-- <b-input id="basicText4" v-model="endDate" type="text" placeholder="End Date"></b-input> -->
            <!-- <datepicker id="basicText4" v-model="endDate" placeholder="End Date" :format="format"></datepicker> -->
            <date-picker class="datepicker" v-model="endDate" lang="en" placeholder="yyyy-mm-dd"></date-picker>
          </b-form-group>
            </b-col>
            <!-- <b-col sm="1">
            <b-button class="mt-sm-1" type="submit" v-on:click="strat_back" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
            </b-col> -->
            
          </b-row>
          </b-form>
            <div slot="footer">
            <b-button type="submit" v-on:click="strat_back" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
            &nbsp;
            <b-button type="reset" v-on:click="strat_reset" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
    <!-- {{ this.startDate.toISOString().split('T')[0] }} -->
    <!-- {{this.endDate}} -->
          </div>


        </b-card>
        <b-row>
        <b-col lg="12">
              <b-card :header="caption">
                <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage">
                <template slot="status" slot-scope="data">
                    <b-badge :variant="getBadge(data.item.status)">{{data.item.status}}</b-badge>
                </template>
                </b-table>
                <nav>
                <b-pagination :total-rows="getRowCount(items)" :per-page="perPage" v-model="currentPage" prev-text="Prev" next-text="Next" hide-goto-end-buttons/>
                </nav>
            </b-card>
        </b-col>
        </b-row>

        <b-card>
          <div slot="header">
            Strategy Backtester <small> Chart </small>
          </div>
          <b-tabs>
            <b-tab title="Price" active>
               <highcharts class="stock" :constructor-type="'stockChart'" style="height:335px;" height="335" :options="stockOptions"></highcharts>
            </b-tab>
            <b-tab title="P:E" >
              <highcharts class="stock" :constructor-type="'stockChart'" style="height:335px;" height="335" :options="stockOptions"></highcharts>
            </b-tab>
            <b-tab title="P:BV">
              <highcharts class="stock" :constructor-type="'stockChart'" style="height:335px;" height="335" :options="stockOptions"></highcharts>
            </b-tab>
            <b-tab title="EV:EBITDA">
              <highcharts class="stock" :constructor-type="'stockChart'" style="height:335px;" height="335" :options="stockOptions"></highcharts>
            </b-tab>
          </b-tabs>
        </b-card>

    </div>
</template>

<script>
import axios from 'axios';
import vSelect from 'vue-select'
// import Datepicker from 'vuejs-datepicker';
import DatePicker from 'vue2-datepicker'

export default {
  name: 'c-table',
   components: {
    DatePicker,
    vSelect
  },
  props: {
    caption: {
      type: String,
      default: 'Strategy Backtester <small> Table </small>'
    },
    hover: {
      type: Boolean,
      default: false
    },
    striped: {
      type: Boolean,
      default: false
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
        posts:0,
        symbol:'',
        strategy:'',
        startDate:'',
        endDate:'',
        options:[],
        format: 'yyyy-MM-dd',
      items: [],
      fields: [
        {key: 'trading_days'},
        {key: 'Date'},
        {key: 'Price'},
        {key: 'ending_value'},
        {key: 'portfolio_value'},
        {key: 'ending_exposure'},
        {key: 'benchmark_period_return'},
        {key: 'net_leverage'},
        {key: 'gross_leverage'},
        {key: 'pnl'}
      ],
      currentPage: 1,
      perPage: 5,
      totalRows: 0
    }
  },
  methods: {
    getBadge (status) {
      return status === 'Active' ? 'success'
        : status === 'Inactive' ? 'secondary'
          : status === 'Pending' ? 'warning'
            : status === 'Banned' ? 'danger' : 'primary'
    },
    getRowCount (items) {
      return items.length
    },
    strat_back: function () {
        let tableUrl = 'http://www.finflock.com:5001/zipline/?Symbol='+this.symbol.value+'&Strategy='+this.strategy+'&Startdate='+this.startDate.toISOString().split('T')[0]+'&Enddate='+this.endDate.toISOString().split('T')[0] ;
    axios.get(tableUrl)
    .then(response => {
      this.posts = response.data,
      this.items = this.posts.data
              
        })
    .catch(e => {
      this.errors.push(e)

    }) 
    },
    strat_reset: function () {
        this.symbol='',
        this.strategy='',
        this.startDate='',
        this.endDate='',
        this.items= []
    }
  },
  created() {
            axios.get('https://www.finflock.com/api/US_Symbols/')
            .then(response => {
            this.posts = response.data,
            this.options = this.posts
                
                })
            .catch(e => {
            this.errors.push(e)

            })    
  }
}
</script>

<style>


input {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #515B65;
    width: 100%;
    color: white;
    padding: 0.4em 0.5em;
}

/* .vslct{
  background-color: #515B65;
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  border-radius: 5px;
    border: 1px solid black;
} */

.datepicker {
    width:100%;
    /* background-color: #515B65; */
}

/* .mx-input {
    background-color: #515B65;
    color: white;
    border: 1px solid black;
} */
</style>


