<template>
    <div class="animated fadeIn">
        <b-nav-form class="mb-3">
                <b-form-input size="sm" v-model="symbol" class="mr-sm-2" type="text" placeholder="Symbol"/>
                <b-button size="sm" class="my-2 my-sm-0" variant="info" type="submit" @click="submit">Search</b-button>
              </b-nav-form>
         <highcharts class="stock" :constructor-type="'stockChart'" style="height:700px;" :options="stockWidget_currencies"></highcharts>
         <!-- {{this.volume}} -->
    </div>
</template>

<script>
import axios from 'axios';
// import HighchartsVue from 'highcharts-vue'
import HighchartsT from "highcharts";

import requiredIndicators from "highcharts/indicators/indicators-all";
import dragPanes from "highcharts/modules/drag-panes";
import annotationsAdvanced from "highcharts/modules/annotations-advanced";
import priceIndicator from "highcharts/modules/price-indicator";
import fullScreen from "highcharts/modules/full-screen";
import stockTools from "highcharts/modules/stock-tools";

requiredIndicators(HighchartsT)
dragPanes(HighchartsT)
annotationsAdvanced(HighchartsT)
priceIndicator(HighchartsT)
fullScreen(HighchartsT)
stockTools(HighchartsT)

export default {
    data: () => {
        return {
            symbol: null,
            changes: null,
            data : [],
            ohlc: [],
            volume: [],
            dataLength: null,
            stockWidget_currencies: {
              yAxis: [{
            labels: {
                align: 'left'
            },
            height: '80%',
            resize: {
                enabled: true
            }
        }, {
            labels: {
                align: 'left'
            },
            top: '80%',
            height: '20%',
            offset: 0
        }],
        tooltip: {
            shape: 'square',
            headerShape: 'callout',
            borderWidth: 0,
            shadow: false,
            positioner: function (width, height, point) {
                var chart = this.chart,
                    position;

                if (point.isHeader) {
                    position = {
                        x: Math.max(
                            // Left side limit
                            chart.plotLeft,
                            Math.min(
                                point.plotX + chart.plotLeft - width / 2,
                                // Right side limit
                                chart.chartWidth - width - chart.marginRight
                            )
                        ),
                        y: point.plotY
                    };
                } else {
                    position = {
                        x: point.series.chart.plotLeft,
                        y: point.series.yAxis.top - chart.plotTop
                    };
                }

                return position;
            }
        },
        series: [{
            type: 'ohlc',
            id: 'aapl-ohlc',
            name: 'TCS Stock Price',
            data: null
        }, {
            type: 'column',
            id: 'aapl-volume',
            name: 'TCS Volume',
            data: null,
            yAxis: 1
        }],
        responsive: {
            rules: [{
                condition: {
                    maxWidth: 800
                },
                chartOptions: {
                    rangeSelector: {
                        inputEnabled: false
                    }
                }
            }]
        }
            }
        }
    },
    methods: {
        submit() {  
            axios.get(this.$cookies.get('api_url')+'OHLCV/?name='+this.symbol)
            .then(response => {
            this.posts = response.data;
            this.data = this.posts;
            this.dataLength = this.data.length;
            var i = 0;

            for (i; i < this.dataLength; i += 1) {
                this.ohlc.push([
                    this.data[i][0], // the date
                    this.data[i][1], // open
                    this.data[i][2], // high
                    this.data[i][3], // low
                    this.data[i][4] // close
                ]);

                this.volume.push([
                    this.data[i][0], // the date
                    this.data[i][5] // the volume
                ]);
            }
            this.stockWidget_currencies.series[0].data = this.ohlc;
            this.stockWidget_currencies.series[1].data = this.volume;
            this.stockWidget_currencies.series[0].name = this.symbol + " Stock Price";
            this.stockWidget_currencies.series[1].name = this.symbol + " Volume";
                
                })
            .catch(e => {
            // alert("ff");

            })
        }
    },
     created() {
        axios.get(this.$cookies.get('api_url')+'OHLCV/?name=TCS')
        .then(response => {
        this.posts = response.data;
        this.data = this.posts;
        this.dataLength = this.data.length;
        var i = 0;

        for (i; i < this.dataLength; i += 1) {
            this.ohlc.push([
                this.data[i][0], // the date
                this.data[i][1], // open
                this.data[i][2], // high
                this.data[i][3], // low
                this.data[i][4] // close
            ]);

            this.volume.push([
                this.data[i][0], // the date
                this.data[i][5] // the volume
            ]);
        }
        this.stockWidget_currencies.series[0].data = this.ohlc;
        this.stockWidget_currencies.series[1].data = this.volume;
            
            })
        .catch(e => {
        // alert("ff");

        })
     }
}
</script>

<style src="highcharts/css/stocktools/gui.css"></style>
<style src="highcharts/css/annotations/popup.css"></style>