<template>
    <div class="animated fadeIn my-4">
        <b-card style="border: none;">
          <div slot="header">
            <strong> Technical Indicator </strong> <small>Form</small>
          </div>
          <b-form>
          <b-row>

          <b-col sm="3">
          <b-form-group
            label="Market :"
            label-for="market"
            :label-cols="4"
            :horizontal="true">
                <b-form-select id="market" v-model="marketInput"
                  :plain="true"
                  :options="['Indian','American']"
                  v-on:input="market_function()"
                  >
                </b-form-select>
          </b-form-group>
          </b-col>


          <b-col sm="3">
          <b-form-group
            label="Stock Symbol :"
            label-for="basicText2"
            :label-cols="4"
            :horizontal="true">
            <b-form-input  v-model="symbol" class="mr-sm-2" type="text" placeholder="Symbol"/>
          </b-form-group>
          </b-col>
            

            <!-- <b-col sm="1">
            &nbsp;
            </b-col> -->

          <b-col sm="3">
          <b-form-group
            label="Indicator Name :"
            label-for="basicText1"
            :label-cols="4"
            :horizontal="true">
                <b-form-select id="basicText1" v-model="indicatorInput"
                  :plain="true"
                  :options="['trend_macd','volatility_atr','momentum_rsi','volume_adi', 'others_dr']"
                  >
                </b-form-select>
          </b-form-group>
          </b-col>

            <b-col sm="3">
          <b-form-group
            label="Time Period :"
            label-for="basicText2"
            :label-cols="4"
            :horizontal="true">
                <b-form-select id="basicText2" v-model="timeInput"
                  :plain="true"
                  :options="['1 month','3 months','6 months']"
                  v-on:input="days_function()"
                  >
                </b-form-select>
          </b-form-group>
            </b-col>
            
            <!-- <b-col sm="1">
            &nbsp;
            </b-col> -->

          </b-row>
          </b-form>
            <div slot="footer" class="float-right">
            <b-button type="submit"  @click="onSubmit" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
            &nbsp;
            <b-button type="reset" v-on:click="reset" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
          </div>


        </b-card>

  <highcharts class="chart-wrapper" :constructor-type="'stockChart'" style="height: 700px;" :options="stockTech"></highcharts>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    data: () => {
        return {
            marketInput: 'Indian' ,
            region: 'IN',
            symbol: 'TCS',
            indicatorInput: 'trend_macd',
            timeInput : '6 months',
            days : 180,
            ohlc: [],
            volume: [],
            data: [],
            return: [],
            indicatorValue: [],
            indicatorData: [],
            dataLength: null,

            stockTech: {
                yAxis: [{
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'Price'
                    },
                    height: '34%',
                    lineWidth: 2,
                    resize: {
                        enabled: true
                    }
                }, 
                {
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'trend_macd'
                    },
                    top: '36%',
                    height: '18%',
                    offset: 0,
                    lineWidth: 2
                }
                ,{
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'Return'
                    },
                    top: '56%',
                    height: '24%',
                    offset: 0,
                    lineWidth: 2
                }
                , {
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'Volume'
                    },
                    top: '82%',
                    height: '18%',
                    offset: 0,
                    lineWidth: 2
                }],
              tooltip: {
                  shape: 'square',
                  headerShape: 'callout',
                  borderWidth: 0,
                  valueDecimals: 2,
                  shadow: false,
                  positioner: function (width, height, point) {
                      var chart = this.chart,
                          position;

                      if (point.isHeader) {
                          position = {
                              x: Math.max(
                                  // Left side limit
                                  chart.plotLeft,
                                  Math.min(
                                      point.plotX + chart.plotLeft - width / 2,
                                      // Right side limit
                                      chart.chartWidth - width - chart.marginRight
                                  )
                              ),
                              y: point.plotY
                          };
                      } else {
                          position = {
                              x: point.series.chart.plotLeft,
                              y: point.series.yAxis.top - chart.plotTop
                          };
                      }

                      return position;
                  }
              },
            //   chart: {
            //     backgroundColor: '#f0f3f5'
            // },
            scrollbar: {
            barBackgroundColor: 'gray',
            barBorderRadius: 7,
            barBorderWidth: 0,
            buttonBackgroundColor: 'gray',
            buttonBorderWidth: 0,
            buttonBorderRadius: 7,
            trackBackgroundColor: 'none',
            trackBorderWidth: 1,
            trackBorderRadius: 8,
            trackBorderColor: '#CCC'
        },
        navigator: {
            maskFill: 'rgba(255, 255, 255, 0.45)',
            series: {
                type: 'areaspline',
                color: 'rgba(255, 255, 255, 0.00)',
                fillOpacity: 0.4,
                dataGrouping: {
                    smoothed: false
                },
                lineWidth: 2,
                lineColor: '#008dff',
                fillColor : {
                    linearGradient : {  
                        x1 : 0, 
                        y1 : 0, 
                        x2 : 0, 
                        y2 : 1 
                    }, 
                    stops : [[0, '#4394e0'], [1, '#ffffff']] 
                },
                marker: {
                    enabled: false
                },
                shadow: true
            },
            yAxis: {
                reversed: true
            }
        },

              series: [{
                  type: 'ohlc',
                  color: 'red',
                  id: 'ohlc',
                  name: 'Stock Price',
                  data: null
              }, {
                  // type: 'ohlc',
                  // color: 'red',
                  id: 'indicator',
                  name: 'trend_macd',
                  data: null,
                  yAxis: 1
              },{
                  type: 'column',
                  color: 'orange',
                  id: 'return',
                  name: 'Return',
                  data: null,
                  yAxis: 2
              }
              , {
                  type: 'column',
                  color: 'black',
                  id: 'volume',
                  name: 'Volume',
                  data: null,
                  yAxis: 3
              }],
              responsive: {
                  rules: [{
                      condition: {
                          maxWidth: 800
                      },
                      chartOptions: {
                          rangeSelector: {
                              inputEnabled: false
                          }
                      }
                  }]
              }
                  },

        }
    },
    methods: {
        reset: function () {
        this.symbol= null,
        this.indicatorInput = null,
        this.timeInput = null
    },
    days_function: function () {
      if(this.timeInput == '1 month') {
        this.days = 30
      }
      else if(this.timeInput == '3 months') {
        this.days = 90
      }
      else {
        this.days = 180
      }
    },
    market_function: function () {
      if(this.marketInput == 'Indian') {
        this.region = 'IN'
      }
      else {
        this.region = 'US'
      }
    },

        onSubmit: function () {
        axios.get(this.$cookies.get('api_url')+'indicator/?region='+this.region+'&stock='+this.symbol+'&indicator='+this.indicatorInput+'&days='+this.days)
                .then(response => {
                this.posts = response.data;
                this.data = this.posts.data;
                this.dataLength = this.data.length;
                var i = 0;
                this.ohlc = [];
                this.volume = [];
                this.return = [];
                this.indicatorValue = [];

                for (i; i < this.dataLength; i += 1) {
                    this.ohlc.push([
                        this.data[i]['Timestamp'],
                        this.data[i]['open'],
                        this.data[i]['high'],
                        this.data[i]['low'],
                        this.data[i]['adjclose']
                    ]);

                    this.volume.push([
                        this.data[i]['Timestamp'],
                        this.data[i]['volume']
                    ]);

                    this.return.push([
                        this.data[i]['Timestamp'],
                        this.data[i]['others_dr']
                    ]);

                    this.indicatorValue.push([
                        this.data[i]['Timestamp'],
                        this.data[i]['indicatorValue']
                    ]);
                }
                this.stockTech.series[0].data = this.ohlc;
                this.stockTech.series[1].data = this.indicatorValue;
                this.stockTech.series[1].name = this.indicatorInput;
                this.stockTech.yAxis[1].title.text = this.indicatorInput;
                this.stockTech.series[2].data = this.return;
                this.stockTech.series[3].data = this.volume;
                    
                    })
                .catch(e => {
                // alert("ff");

                })
    }
    },
     created() {
        axios.get(this.$cookies.get('api_url')+'indicator/?region=in&stock=tcs&indicator=trend_macd&days=180') 
                .then(response => {
                this.posts = response.data;
                this.data = this.posts.data;
                this.dataLength = this.data.length;
                var i = 0;

                for (i; i < this.dataLength; i += 1) {
                    this.ohlc.push([
                        this.data[i]['Timestamp'], 
                        this.data[i]['open'], 
                        this.data[i]['high'], 
                        this.data[i]['low'], 
                        this.data[i]['adjclose'] 
                    ]);

                    this.volume.push([
                        this.data[i]['Timestamp'], 
                        this.data[i]['volume'] 
                    ]);

                    this.return.push([
                        this.data[i]['Timestamp'], 
                        this.data[i]['others_dr'] 
                    ]);

                    this.indicatorValue.push([
                        this.data[i]['Timestamp'], 
                        this.data[i]['indicatorValue'] 
                    ]);
                }
                this.stockTech.series[0].data = this.ohlc;
                this.stockTech.series[1].data = this.indicatorValue;
                this.stockTech.series[2].data = this.return;
                this.stockTech.series[3].data = this.volume;
                    
                    })
                .catch(e => {
                // alert("ff");

                })
     }
}
</script>
