
<template>
  <div class="animated fadeIn my-4">

    <b-card style="border: none;">
          <div slot="header">
            <strong> Technical Indicator </strong> <small>Form</small>
          </div>
          <b-form>
          <b-row>

          <b-col sm="3">
          <b-form-group
            label="Market :"
            label-for="market"
            :label-cols="4"
            :horizontal="true">
                <b-form-select id="market" v-model="marketInput"
                  :plain="true"
                  :options="['Indian','American']"
                  v-on:input="market_function()"
                  >
                </b-form-select>
          </b-form-group>
          </b-col>


          <b-col sm="3">
          <b-form-group
            label="Stock Symbol :"
            label-for="basicText2"
            :label-cols="4"
            :horizontal="true">
            <b-form-input  v-model="symbol" class="mr-sm-2" type="text" placeholder="Symbol"/>
          </b-form-group>
          </b-col>
            

            <!-- <b-col sm="1">
            &nbsp;
            </b-col> -->

          <b-col sm="3">
          <b-form-group
            label="Indicator Name :"
            label-for="basicText1"
            :label-cols="4"
            :horizontal="true">
                <b-form-select id="basicText1" v-model="indicatorInput"
                  :plain="true"
                  :options="['trend_macd','volatility_atr','momentum_rsi','volume_adi', 'others_dr']"
                  >
                </b-form-select>
          </b-form-group>
          </b-col>

            <b-col sm="3">
          <b-form-group
            label="Time Period :"
            label-for="basicText2"
            :label-cols="4"
            :horizontal="true">
                <b-form-select id="basicText2" v-model="timeInput"
                  :plain="true"
                  :options="['1 month','3 months','6 months']"
                  v-on:input="days_function()"
                  >
                </b-form-select>
          </b-form-group>
            </b-col>
            
            <!-- <b-col sm="1">
            &nbsp;
            </b-col> -->

          </b-row>
          </b-form>
            <div slot="footer" class="float-right">
            <b-button type="submit"  @click="onSubmit" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
            &nbsp;
            <b-button type="reset" v-on:click="reset" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
          </div>


        </b-card>

  <highcharts class="chart-wrapper" :constructor-type="'stockChart'" style="height: 700px;" :options="stockTech"></highcharts>

  <b-card style="border:none;">
      <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage">
      <template slot="MACD" slot-scope="data">
        <b-badge :variant="getBadge(data.item.MACD)">{{data.item.MACD}}</b-badge>
      </template>
      <template slot="EMA" slot-scope="data">
        <b-badge :variant="getBadge(data.item.EMA)">{{data.item.EMA}}</b-badge>
      </template>
      <template slot="EMAS" slot-scope="data">
        <b-badge :variant="getBadge(data.item.EMAS)">{{data.item.EMAS}}</b-badge>
      </template>
      <template slot="EMAS" slot-scope="data">
        <b-badge :variant="getBadge(data.item.EMAS)">{{data.item.EMAS}}</b-badge>
      </template>
      <template slot="ADX" slot-scope="data">
        <b-badge :variant="getBadge(data.item.ADX)">{{data.item.ADX}}</b-badge>
      </template>
      <template slot="Vortex" slot-scope="data">
        <b-badge :variant="getBadge(data.item.Vortex)">{{data.item.Vortex}}</b-badge>
      </template>
      <template slot="Trix" slot-scope="data">
        <b-badge :variant="getBadge(data.item.Trix)">{{data.item.Trix}}</b-badge>
      </template>
      <template slot="Mass" slot-scope="data">
        <b-badge :variant="getBadge(data.item.Mass)">{{data.item.Mass}}</b-badge>
      </template>
      <template slot="CCI" slot-scope="data">
        <b-badge :variant="getBadge(data.item.CCI)">{{data.item.CCI}}</b-badge>
      </template>
      <template slot="DPO" slot-scope="data">
        <b-badge :variant="getBadge(data.item.DPO)">{{data.item.DPO}}</b-badge>
      </template>
      <template slot="KST" slot-scope="data">
        <b-badge :variant="getBadge(data.item.KST)">{{data.item.KST}}</b-badge>
      </template>
      <template slot="ICHIMOKU" slot-scope="data">
        <b-badge :variant="getBadge(data.item.ICHIMOKU)">{{data.item.ICHIMOKU}}</b-badge>
      </template>
      <template slot="RSI" slot-scope="data">
        <b-badge :variant="getBadge(data.item.RSI)">{{data.item.RSI}}</b-badge>
      </template>
      <template slot="MFI" slot-scope="data">
        <b-badge :variant="getBadge(data.item.MFI)">{{data.item.MFI}}</b-badge>
      </template>
      <template slot="TSI" slot-scope="data">
        <b-badge :variant="getBadge(data.item.TSI)">{{data.item.TSI}}</b-badge>
      </template>
      <template slot="UO" slot-scope="data">
        <b-badge :variant="getBadge(data.item.UO)">{{data.item.UO}}</b-badge>
      </template>
      <template slot="Stoch" slot-scope="data">
        <b-badge :variant="getBadge(data.item.Stoch)">{{data.item.Stoch}}</b-badge>
      </template>
      <template slot="WR" slot-scope="data">
        <b-badge :variant="getBadge(data.item.WR)">{{data.item.WR}}</b-badge>
      </template>
      <template slot="AO" slot-scope="data">
        <b-badge :variant="getBadge(data.item.AO)">{{data.item.AO}}</b-badge>
      </template>
    </b-table>
    </b-card>

  <b-card style="border:none;">
        <div class="mb-3 ml-0">  <span class="h4" > Technicals : </span> <span class="h5"> Volume Indicators </span> <i class="icon-arrow-right icons font-1xl "></i></div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Accumulation/Distribution Index (ADI) : </span> <span class="h6" >{{Math.round(this.technicals.volume_adi * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">On-balance volume (OBV) : </span> <span class="h6" >{{this.technicals.volume_obv}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">On-balance volume mean (OBV mean) : </span> <span class="h6" >{{this.technicals.volume_obvm}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Chaikin Money Flow (CMF) : </span> <span class="h6" >{{Math.round(this.technicals.volume_cmf * 100) / 100}}</span> </div>
                    </div>    
                </div>
                
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Force Index (FI) : </span> <span class="h6" >{{this.technicals.volume_fi}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Ease of movement (EoM, EMV) : </span> <span class="h6" >{{this.technicals.volume_em}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Volume-price trend (VPT) : </span> <span class="h6" >{{Math.round(this.technicals.volume_vpt * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Negative Volume Index (NVI) : </span> <span class="h6" >{{Math.round(this.technicals.volume_nvi * 100) / 100}}</span> </div>
                    </div>    
                </div>

                <hr>

        <div class="mb-3 mt-4 ml-0">  <span class="h4" > Technicals : </span> <span class="h5"> Volatility Indicators </span> <i class="icon-arrow-right icons font-1xl "></i></div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Average True Range (ATR) : </span> <span class="h6" >{{Math.round(this.technicals.volatility_atr * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Bollinger Bands (BB) High : </span> <span class="h6" >{{Math.round(this.technicals.volatility_bbh * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Bollinger Bands (BB) Low : </span> <span class="h6" >{{Math.round(this.technicals.volatility_bbl * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Bollinger Bands (BB) Moving Avg : </span> <span class="h6" >{{Math.round(this.technicals.volatility_bbm * 100) / 100}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Bollinger High Band Indicator : </span> <span class="h6" >{{this.technicals.volatility_bbhi}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Bollinger Low Band Indicator : </span> <span class="h6" >{{this.technicals.volatility_bbli}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Keltner channel (KC) : </span> <span class="h6" >{{Math.round(this.technicals.volatility_kcc * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Keltner channel (KC) High : </span> <span class="h6" >{{Math.round(this.technicals.volatility_kch * 100) / 100}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Keltner channel (KC) Low : </span> <span class="h6" >{{Math.round(this.technicals.volatility_kcl * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Keltner Channel High Band Indicator (KC) : </span> <span class="h6" >{{this.technicals.volatility_kchi}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Keltner Channel Low Band Indicator (KC) : </span> <span class="h6" >{{this.technicals.volatility_kcli}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Donchian channel (DC) High : </span> <span class="h6" >{{this.technicals.volatility_dch}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Donchian channel (DC) Low : </span> <span class="h6" >{{this.technicals.volatility_dcl}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Donchian High Band Indicator : </span> <span class="h6" >{{this.technicals.volatility_dchi}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Donchian Low Band Indicator : </span> <span class="h6" >{{this.technicals.volatility_dcli}}</span> </div>
                    </div>  
                    <div style="border: none;">
                        <!-- <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Donchian Low Band Indicator : </span> <span class="h6" >{{this.technicals.volatility_dcli}}</span> </div> -->
                    </div> 
                </div>

                <hr>

            <div class="mb-3 mt-4 ">  <span class="h4" > Technicals : </span> <span class="h5"> Trend Indicators </span> <i class="icon-arrow-right icons font-1xl "></i></div>
                <div class="brand-card-body p-2 ml-0" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Moving Average Convergence Divergence (MACD) : </span> <span class="h6" >{{Math.round(this.technicals.trend_macd * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Moving Average Convergence Divergence (MACD Signal) : </span> <span class="h6" >{{Math.round(this.technicals.trend_macd_signal * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Moving Average Convergence Divergence (MACD Diff) : </span> <span class="h6" >{{Math.round(this.technicals.trend_macd_diff * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Exponential Moving Average (Fast) : </span> <span class="h6" >{{Math.round(this.technicals.trend_ema_fast * 100) / 100}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Exponential Moving Average (Slow) : </span> <span class="h6" >{{Math.round(this.technicals.trend_ema_slow * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Average Directional Movement Index (ADX) : </span> <span class="h6" >{{Math.round(this.technicals.trend_adx * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Average Directional Movement Index Positive (ADX) : </span> <span class="h6" >{{Math.round(this.technicals.trend_adx_pos * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Average Directional Movement Index Negative (ADX) : </span> <span class="h6" >{{Math.round(this.technicals.trend_adx_neg * 100) / 100}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Vortex Indicator (VI Positive) : </span> <span class="h6" >{{Math.round(this.technicals.trend_vortex_ind_pos * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Vortex Indicator (VI Negetive) : </span> <span class="h6" >{{Math.round(this.technicals.trend_vortex_ind_neg * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Trix (TRIX) : </span> <span class="h6" >{{Math.round(this.technicals.trend_trix * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Mass Index (MI) : </span> <span class="h6" >{{Math.round(this.technicals.trend_mass_index * 100) / 100}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Commodity Channel Index (CCI) : </span> <span class="h6" >{{Math.round(this.technicals.trend_cci * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Detrended Price Oscillator (DPO) : </span> <span class="h6" >{{Math.round(this.technicals.trend_dpo * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">KST Oscillator (KST) : </span> <span class="h6" >{{Math.round(this.technicals.trend_kst * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">KST Oscillator (KST Signal) : </span> <span class="h6" >{{Math.round(this.technicals.trend_kst_sig * 100) / 100}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">KST Oscillator (KST Diff) : </span> <span class="h6" >{{Math.round(this.technicals.trend_kst_diff * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Ichimoku Kinkō Hyō (Ichimoku Low) : </span> <span class="h6" >{{Math.round(this.technicals.trend_ichimoku_a * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Ichimoku Kinkō Hyō (Ichimoku High) : </span> <span class="h6" >{{Math.round(this.technicals.trend_ichimoku_b * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Ichimoku Kinkō Hyō (Ichimoku Low Visual) : </span> <span class="h6" >{{Math.round(this.technicals.trend_visual_ichimoku_a * 100) / 100}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Ichimoku Kinkō Hyō (Ichimoku High Visual) : </span> <span class="h6" >{{Math.round(this.technicals.trend_visual_ichimoku_b * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Aroon Indicator (AI) Up : </span> <span class="h6" >{{Math.round(this.technicals.trend_aroon_up * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Aroon Indicator (AI) Down : </span> <span class="h6" >{{Math.round(this.technicals.trend_aroon_down * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Aroon Indicator (AI) : </span> <span class="h6" >{{Math.round(this.technicals.trend_aroon_ind * 100) / 100}}</span> </div>
                    </div>    
                </div>

                <hr>

            <div class="mb-3 mt-4 ">  <span class="h4" > Technicals : </span> <span class="h5"> Momentum Indicators </span> <i class="icon-arrow-right icons font-1xl "></i></div>
                <div class="brand-card-body p-2 ml-0" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Relative Strength Index (RSI) : </span> <span class="h6" >{{Math.round(this.technicals.momentum_rsi * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Money Flow Index (MFI) : </span> <span class="h6" >{{Math.round(this.technicals.momentum_mfi * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">True strength index (TSI) : </span> <span class="h6" >{{Math.round(this.technicals.momentum_tsi * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Ultimate Oscillator : </span> <span class="h6" >{{Math.round(this.technicals.momentum_uo * 100) / 100}}</span> </div>
                    </div>    
                </div>
                <div class="brand-card-body p-2" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Stochastic Oscillator : </span> <span class="h6" >{{Math.round(this.technicals.momentum_stoch * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Stochastic Oscillator Signal : </span> <span class="h6" >{{Math.round(this.technicals.momentum_stoch_signal * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Williams %R : </span> <span class="h6" >{{Math.round(this.technicals.momentum_wr * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Awesome Oscillator : </span> <span class="h6" >{{Math.round(this.technicals.momentum_ao * 100) / 100}}</span> </div>
                    </div>    
                </div>

                <hr>

            <div class="mb-3 mt-4 ">  <span class="h4" > Technicals : </span> <span class="h5"> Other Indicators </span> <i class="icon-arrow-right icons font-1xl "></i></div>
                <div class="brand-card-body p-2 ml-0" style="text-align: left;">
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Daily Return (DR) : </span> <span class="h6" >{{Math.round(this.technicals.others_dr * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Daily Log Return (DLR) : </span> <span class="h6" >{{Math.round(this.technicals.others_dlr * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Cumulative Return (CR) : </span> <span class="h6" >{{Math.round(this.technicals.others_cr * 100) / 100}}</span> </div>
                    </div>
                    <div style="border: none;">
                        <!-- <div> <span style="font-family: Trebuchet MS,Arial,sans-serif;" class="text-muted">Ultimate Oscillator : </span> <span class="h6" >{{Math.round(this.technicals.momentum_uo * 100) / 100}}</span> </div> -->
                    </div>    
                </div>
                
    </b-card>

  </div>
</template>

<script>
import axios from 'axios';

export default {

  data () {
    return {
      marketInput: 'Indian' ,
      region: 'IN',
      symbol: 'TCS',
      indicatorInput: 'trend_macd',
      timeInput : '6 months',
      days : 180,
      ohlc: [],
      volume: [],
      data: [],
      return: [],
      indicatorValue: [],
      indicatorData: [],
      dataLength: null,
      technicals : null,
      d: null,

      items: [],
      fields: [
    
        // { key: 'Symbol', label: 'Symbol', sortable: false },
        { key: 'Timestamp', label: 'Date' },
        { key: 'MACD', label: 'MACD' },
        { key: 'EMA', label: 'EMA'},
        { key: 'EMAS', label: 'EMAS'},
        { key: 'ADX', label: 'ADX'},
        { key: 'Vortex', label: 'Vortex' },
        { key: 'Trix', label: 'Trix' },
        { key: 'Mass', label: 'Mass'},
        { key: 'CCI', label: 'CCI'},
        { key: 'DPO', label: 'DPO' },
        { key: 'KST', label: 'KST' },
        { key: 'ICHIMOKU', label: 'ICHIMOKU' },
        { key: 'RSI', label: 'RSI' },
        { key: 'MFI', label: 'MFI' },
        { key: 'TSI', label: 'TSI' },
        { key: 'UO', label: 'UO' },
        { key: 'Stoch', label: 'Stoch' },
        { key: 'WR', label: 'WR' },
        { key: 'AO', label: 'AO' },
                
      ],


            stockTech: {
                yAxis: [{
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'Price'
                    },
                    height: '34%',
                    lineWidth: 2,
                    resize: {
                        enabled: true
                    }
                }, 
                {
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'trend_macd'
                    },
                    top: '36%',
                    height: '18%',
                    offset: 0,
                    lineWidth: 2
                }
                ,{
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'Return'
                    },
                    top: '56%',
                    height: '24%',
                    offset: 0,
                    lineWidth: 2
                }
                , {
                    labels: {
                        align: 'right',
                        x: -3
                    },
                    title: {
                        text: 'Volume'
                    },
                    top: '82%',
                    height: '18%',
                    offset: 0,
                    lineWidth: 2
                }],
                title: {
                    text: 'TCS Technical Chart',
                    // style: {
                    // color: 'white'
                    // }
                },
              tooltip: {
                  shape: 'square',
                  headerShape: 'callout',
                  borderWidth: 0,
                  valueDecimals: 2,
                  shadow: false,
                  positioner: function (width, height, point) {
                      var chart = this.chart,
                          position;

                      if (point.isHeader) {
                          position = {
                              x: Math.max(
                                  // Left side limit
                                  chart.plotLeft,
                                  Math.min(
                                      point.plotX + chart.plotLeft - width / 2,
                                      // Right side limit
                                      chart.chartWidth - width - chart.marginRight
                                  )
                              ),
                              y: point.plotY
                          };
                      } else {
                          position = {
                              x: point.series.chart.plotLeft,
                              y: point.series.yAxis.top - chart.plotTop
                          };
                      }

                      return position;
                  }
              },
            //   chart: {
            //     backgroundColor: '#f0f3f5'
            // },
            scrollbar: {
            barBackgroundColor: 'gray',
            barBorderRadius: 7,
            barBorderWidth: 0,
            buttonBackgroundColor: 'gray',
            buttonBorderWidth: 0,
            buttonBorderRadius: 7,
            trackBackgroundColor: 'none',
            trackBorderWidth: 1,
            trackBorderRadius: 8,
            trackBorderColor: '#CCC'
        },
        navigator: {
            maskFill: 'rgba(255, 255, 255, 0.45)',
            series: {
                type: 'areaspline',
                color: 'rgba(255, 255, 255, 0.00)',
                fillOpacity: 0.4,
                dataGrouping: {
                    smoothed: false
                },
                lineWidth: 2,
                lineColor: '#008dff',
                fillColor : {
                    linearGradient : {  
                        x1 : 0, 
                        y1 : 0, 
                        x2 : 0, 
                        y2 : 1 
                    }, 
                    stops : [[0, '#4394e0'], [1, '#ffffff']] 
                },
                marker: {
                    enabled: false
                },
                shadow: true
            },
            yAxis: {
                reversed: true
            }
        },

              series: [{
                  type: 'ohlc',
                  color: 'red',
                  id: 'ohlc',
                  name: 'Stock Price',
                  data: null
              }, {
                  // type: 'ohlc',
                  // color: 'red',
                  id: 'indicator',
                  name: 'trend_macd',
                  data: null,
                  yAxis: 1
              },{
                  type: 'column',
                  color: 'orange',
                  id: 'return',
                  name: 'Return',
                  data: null,
                  yAxis: 2
              }
              , {
                  type: 'column',
                  color: 'black',
                  id: 'volume',
                  name: 'Volume',
                  data: null,
                  yAxis: 3
              }],
              responsive: {
                  rules: [{
                      condition: {
                          maxWidth: 800
                      },
                      chartOptions: {
                          rangeSelector: {
                              inputEnabled: false
                          }
                      }
                  }]
              }
                  },

    }
  },
  methods: {
    getBadge (status) {
      return status === 'Buy' ? 'success'
          : status === 'Sell' ? 'danger' : 'primary'
    },
    reset: function () {
        this.symbol= null,
        this.indicatorInput = null,
        this.timeInput = null
    },
    days_function: function () {
      if(this.timeInput == '1 month') {
        this.days = 30
      }
      else if(this.timeInput == '3 months') {
        this.days = 90
      }
      else {
        this.days = 180
      }
    },
    market_function: function () {
      if(this.marketInput == 'Indian') {
        this.region = 'IN'
      }
      else {
        this.region = 'US'
      }
    },
    onSubmit: function () {
        axios.get(this.$cookies.get('api_url')+'indicator/?region='+this.region+'&stock='+this.symbol+'&indicator='+this.indicatorInput+'&days='+this.days)
                .then(response => {
                this.posts = response.data;
                this.data = this.posts.data;
                this.dataLength = this.data.length;
                var i = 0;
                this.ohlc = [];
                this.volume = [];
                this.return = [];
                this.indicatorValue = [];

                for (i; i < this.dataLength; i += 1) {
                    this.ohlc.push([
                        this.data[i]['Timestamp'],
                        this.data[i]['open'],
                        this.data[i]['high'],
                        this.data[i]['low'],
                        this.data[i]['adjclose']
                    ]);

                    this.volume.push([
                        this.data[i]['Timestamp'],
                        this.data[i]['volume']
                    ]);

                    this.return.push([
                        this.data[i]['Timestamp'],
                        this.data[i]['others_dr']
                    ]);

                    this.indicatorValue.push([
                        this.data[i]['Timestamp'],
                        this.data[i]['indicatorValue']
                    ]);
                }
                this.stockTech.title.text = this.symbol + ' Technical Chart';
                this.stockTech.series[0].data = this.ohlc;
                this.stockTech.series[1].data = this.indicatorValue;
                this.stockTech.series[1].name = this.indicatorInput;
                this.stockTech.yAxis[1].title.text = this.indicatorInput;
                this.stockTech.series[2].data = this.return;
                this.stockTech.series[3].data = this.volume;
                    
                    })
                .catch(e => {
                // alert("ff");

                }),

                axios.get(this.$cookies.get('api_url')+'indicatorSignals/?region='+this.region+'&stock='+this.symbol+'&days='+this.days)
                .then(response => {
                  this.posts = response.data,
                  this.items = this.posts
                          
                    })
                .catch(e => {
                  this.errors.push(e)

                }),

                axios.get(this.$cookies.get('api_url')+'technicalInput/?region='+this.region+'&stock='+this.symbol+'&days='+this.days)
                .then(response => {
                this.posts = response.data,
                this.technicals = this.posts.indicators,
                this.technicals = this.technicals[this.technicals.length - 1]                    
                  })
                .catch(e => {
                alert("error");

                })
    }
  },
  created() {
    axios.get(this.$cookies.get('api_url')+'indicatorSignals/?region=in&stock=TCS&days=180')
    .then(response => {
      this.posts = response.data;
      this.items = this.posts;
      this.d = new Date(this.items[0].Timestamp);
      this.d = this.d.getDate() + '/' + (this.d.getMonth()+1) + '/' + this.d.getFullYear();
      this.items[0].Timestamp = this.d;
              
        })
    .catch(e => {
      this.errors.push(e)

    }),

    axios.get(this.$cookies.get('api_url')+'indicator/?region=in&stock=tcs&indicator=trend_macd&days=180') 
                .then(response => {
                this.posts = response.data;
                this.data = this.posts.data;
                this.dataLength = this.data.length;
                var i = 0;

                for (i; i < this.dataLength; i += 1) {
                    this.ohlc.push([
                        this.data[i]['Timestamp'], 
                        this.data[i]['open'], 
                        this.data[i]['high'], 
                        this.data[i]['low'], 
                        this.data[i]['adjclose'] 
                    ]);

                    this.volume.push([
                        this.data[i]['Timestamp'], 
                        this.data[i]['volume'] 
                    ]);

                    this.return.push([
                        this.data[i]['Timestamp'], 
                        this.data[i]['others_dr'] 
                    ]);

                    this.indicatorValue.push([
                        this.data[i]['Timestamp'], 
                        this.data[i]['indicatorValue'] 
                    ]);
                }
                this.stockTech.series[0].data = this.ohlc;
                this.stockTech.series[1].data = this.indicatorValue;
                this.stockTech.series[2].data = this.return;
                this.stockTech.series[3].data = this.volume;
                    
                    })
                .catch(e => {
                // alert("ff");

                }),

                axios.get(this.$cookies.get('api_url')+'technicalInput/?region=in&stock=tcs&days=180')
                .then(response => {
                this.posts = response.data,
                this.technicals = this.posts.indicators,
                this.technicals = this.technicals[this.technicals.length - 1]                    
                  })
                .catch(e => {
                alert("error");

                })
  }
}
</script>







