<template>
    <div class="animated fadeIn">     

        <b-card>
          <div slot="header">
            <strong>Single Stock Backtester </strong> <small>Form</small>
          </div>
          <b-form>
          <b-row>
              <b-col sm="5">
          <b-form-group
            label="Stock Symbol :"
            label-for="basicText2"
            :label-cols="3"
            :horizontal="true">
            <b-form-input size="sm" v-model="symbol" class="mr-sm-2" type="text" placeholder="Symbol"/>
          </b-form-group>
            </b-col>
            

            <b-col sm="1">
            &nbsp;
            </b-col>

          <b-col sm="5">
          <b-form-group
            label="Strategy Name :"
            label-for="basicText1"
            :label-cols="3"
            :horizontal="true">
                <b-form-select id="basicText1" v-model="stratInput"
                  :plain="true"
                  :options="['ddm','fcfe']"
                  >
                </b-form-select>
          </b-form-group>
            </b-col>
            
            <b-col sm="1">
            &nbsp;
            </b-col>

          </b-row>
          </b-form>
            <div slot="footer" class="float-right">
            <b-button type="submit"  @click="submit" size="sm" variant="primary"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
            &nbsp;
            <b-button type="reset" v-on:click="reset" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button>
          </div>


        </b-card>

        <b-row >
            <b-col sm="6">
                <highcharts class="p-1 stock bg-light" :constructor-type="'stockChart'" style="height:360px;"  :options="stockEquity"></highcharts>
            </b-col>
            <b-col sm="6">
                <highcharts class="p-1 stock bg-light" :constructor-type="'stockChart'" style="height:360px;"  :options="stockPlot3"></highcharts>
            </b-col>
            </b-row>
            <b-row class="mt-4">
            <b-col sm="12">
                <!-- <highcharts class="stock" :constructor-type="'stockChart'" style="height:333px;"  :options="stockPlot3"></highcharts> -->
            </b-col>
            <b-col sm="6">
                <!-- <highcharts class="stock" :constructor-type="'stockChart'" style="height:333px;" :options="stockEquity"></highcharts> -->
            </b-col>
        </b-row>
        {{this.t["dcf_strat.equity"][this.t["dcf_strat.equity"].length-1][1]}}
        {{this.t["buy_hold.equity"][this.t["dcf_strat.equity"].length-1][1]}}  
        {{this.t["dcf_strat.drawdown_plot3"][this.t["dcf_strat.drawdown_plot3"].length-1][1]}}

        <b-card >
            <div class="mb-2">  <span class="h5" >  Backtesting  Result  </span> <i class="icon-arrow-right icons font-1xl "></i></div>
            <b-table :hover="hover" :striped="striped" :bordered="bordered" :small="small" :fixed="fixed" responsive="sm" :items="items" :fields="fields" :current-page="currentPage" :per-page="perPage">
            </b-table>
        </b-card>
    </div>
</template>

<script>
import axios from 'axios';

export default {
    props: {
    caption: {
      type: String,
      default: 'Table'
    },
    hover: {
      type: Boolean,
      default: false
    },
    striped: {
      type: Boolean,
      default: false
    },
    bordered: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    fixed: {
      type: Boolean,
      default: false
    }
  },
    data: () => {
        return {
            t : null,
            symbol: 'AAPL',
            stratInput: 'ddm',
            items: [],
            fields: [
                {key: 'System'},
                {key: 'Dcf_Strategy'},
                {key: 'Buy_Hold'}
            ],
            currentPage: 1,
            perPage: 10,
            totalRows: 0,

            stockEquity: {
                navigator: {
                    enabled: true
                },
                scrollbar: {
                    enabled: true
                },
                rangeSelector: {
                    selected: 4
                },
                // chart: {
                //     backgroundColor: '#f0f3f5'
                // },
                scrollbar: {
                    barBackgroundColor: 'gray',
                    barBorderRadius: 7,
                    barBorderWidth: 0,
                    buttonBackgroundColor: 'gray',
                    buttonBorderWidth: 0,
                    buttonBorderRadius: 7,
                    trackBackgroundColor: 'none',
                    trackBorderWidth: 1,
                    trackBorderRadius: 8,
                    trackBorderColor: '#CCC'
                },
                title: {
                    // text: 'Cumulative Performance : <span> buy.hold- </span><span style="color:#63c2de;"> 2.86 </span> <span>  | </span> <span style="color:red;"> sma.cross- </span><span style="color:#63c2de;"> 2.36 </span>'
                    // text: 'Cumulative Performance : <span style="color:#63c2de;"> buy.hold- </span><span> 82.10 </span> <span>  | </span> <span style="color:red;"> dcf.strat- </span><span> 118.24 </span>'
                    text: 'Cumulative Performance'
                    // style: {
                    // color: 'black'
                    // }
                },

                plotOptions: {
                series: {
                    shadow: {
                    width: 15,
                    offsetY: 10,
                    opacity: 0.01
                    }
                    }
                },
                tooltip: {
            
                    valueDecimals: 2,
                },

                series: [
                {
                    // type: 'areaspline',
                    name: null,
                    data: []
                }
                ]

            },


            stockPlot3: {
                navigator: {
                    enabled: true
                },
                scrollbar: {
                    enabled: true
                },
                rangeSelector: {
                    selected: 4
                },
                // chart: {
                //     backgroundColor: '#e4e5e6'
                // },
                scrollbar: {
                    barBackgroundColor: 'gray',
                    barBorderRadius: 7,
                    barBorderWidth: 0,
                    buttonBackgroundColor: 'gray',
                    buttonBorderWidth: 0,
                    buttonBorderRadius: 7,
                    trackBackgroundColor: 'none',
                    trackBorderWidth: 1,
                    trackBorderRadius: 8,
                    trackBorderColor: '#CCC'
                },
                title: {
                    // text: 'Cumulative Performance : <span> buy.hold- </span><span style="color:#63c2de;"> 2.86 </span> <span>  | </span> <span style="color:red;"> sma.cross- </span><span style="color:#63c2de;"> 2.36 </span>'
                    text: 'Drawdown'
                    // style: {
                    // color: 'black'
                    // }
                },

                plotOptions: {
                series: {
                    shadow: {
                    width: 15,
                    offsetY: 10,
                    opacity: 0.01
                    }
                    }
                },
                tooltip: {
            
                    valueDecimals: 2,
                },

                series: [
                {
                    // type: 'areaspline',
                    name: null,
                    data: []
                }
                ]

            }


        }
    },
    methods: {
        submit() {
            axios.get('https://www.finflock.com/dcf?symbol='+this.symbol+'&strategy='+this.stratInput)
            .then(response => {
            this.posts = response.data;
            this.t = this.posts;
            var data = this.posts["buy_hold.equity"];
            var dcf = this.posts["dcf_strat.equity"];
            var drawdown = this.posts["dcf_strat.drawdown_plot3"];

            this.stockEquity.series = [{
                    name: "Buy-Hold Return",
                    // color: "black",
                    data: (function(){
                        var newData = [];
                        var elem;
                        for (var i=0; i < data.length; i++) {
                        elem = data[i];
                newData.push([Date.parse(elem[0]), parseFloat(elem[1])]);
                // newData.push([Date.parse(elem[0]), elem[1]]);
                        }
                        return newData;
                    }())
            },
            {
                    name: "DCF-Strat Return",
                    color: "red",
                    data: (function(){
                        var newData = [];
                        var elem;
                        for (var i=0; i < dcf.length; i++) {
                        elem = dcf[i];
                newData.push([Date.parse(elem[0]), parseFloat(elem[1])]);
                // newData.push([Date.parse(elem[0]), elem[1]]);
                        }
                        return newData;
                    }())
            }] ;

            this.stockPlot3.series = [{
                    name: "Drawdown",
                    // color: "black",
                    data: (function(){
                        var newData = [];
                        var elem;
                        for (var i=0; i < drawdown.length; i++) {
                        elem = drawdown[i];
                newData.push([Date.parse(elem[0]), parseFloat(elem[1])]);
                // newData.push([Date.parse(elem[0]), elem[1]]);
                        }
                        return newData;
                    }())
            }] ;
            this.items = [
                {System: 'Period', Dcf_Strategy: 'Jan 2012 - Dec 2018', Buy_Hold: 'Jan 2012 - Dec 2018'},
                {System: 'CAGR', Dcf_Strategy: this.t["dcf_strat.cagr"][0][1] * 100, Buy_Hold: this.t["buy_hold.cagr"][0][1] * 100},
                {System: 'Sharpe', Dcf_Strategy: this.t["dcf_strat.sharpe"][0][1], Buy_Hold: this.t["buy_hold.sharpe"][0][1]},
                {System: 'DVR', Dcf_Strategy: this.t["dcf_strat.DVR"][0][1], Buy_Hold: this.t["buy_hold.DVR"][0][1]},
                {System: 'Volatility', Dcf_Strategy: this.t["dcf_strat.volatility"][0][1] * 100, Buy_Hold: this.t["buy_hold.volatility"][0][1] * 100},
                {System: 'Max Drawdown', Dcf_Strategy: this.t["dcf_strat.maxdrawdown"][0][1] * 100, Buy_Hold: this.t["buy_hold.maxdrawdown"][0][1] * 100},
                {System: 'Average Drawdown', Dcf_Strategy: this.t["dcf_strat.avgdrawdown"][0][1] * 100, Buy_Hold: this.t["buy_hold.avgdrawdown"][0][1] * 100},
                {System: 'VaR', Dcf_Strategy: this.t["dcf_strat.var"][0][1] * 100, Buy_Hold: this.t["buy_hold.var"][0][1] * 100},
                {System: 'CVaR', Dcf_Strategy: this.t["dcf_strat.cvar"][0][1] * 100, Buy_Hold: this.t["buy_hold.cvar"][0][1] * 100},
                {System: 'Exposure', Dcf_Strategy: this.t["dcf_strat.exposure"][0][1] * 100, Buy_Hold: this.t["buy_hold.exposure"][0][1] * 100},
            ]
                
                })
            .catch(e => {
            alert("ff");

            })
        },
        reset() {
            this.symbol = null,
            this.stratInput = null
        }
    },
     created() {
         axios.get('https://www.finflock.com/dcf?symbol=AAPL&strategy=ddm')
        .then(response => {
        this.posts = response.data;
        this.t = this.posts;
        var data = this.posts["buy_hold.equity"];
        var dcf = this.posts["dcf_strat.equity"];
        var drawdown = this.posts["dcf_strat.drawdown_plot3"];

        this.stockEquity.series = [{
                name: "Buy-Hold Return",
                // color: "black",
				data: (function(){
					var newData = [];
					var elem;
					for (var i=0; i < data.length; i++) {
					elem = data[i];
            newData.push([Date.parse(elem[0]), parseFloat(elem[1])]);
            // newData.push([Date.parse(elem[0]), elem[1]]);
					}
					return newData;
				}())
        },
        {
                name: "DCF-Strat Return",
                color: "red",
				data: (function(){
					var newData = [];
					var elem;
					for (var i=0; i < dcf.length; i++) {
					elem = dcf[i];
            newData.push([Date.parse(elem[0]), parseFloat(elem[1])]);
            // newData.push([Date.parse(elem[0]), elem[1]]);
					}
					return newData;
				}())
        }] ;

        this.stockPlot3.series = [{
                name: "Drawdown",
                // color: "black",
				data: (function(){
					var newData = [];
					var elem;
					for (var i=0; i < drawdown.length; i++) {
					elem = drawdown[i];
            newData.push([Date.parse(elem[0]), parseFloat(elem[1])]);
            // newData.push([Date.parse(elem[0]), elem[1]]);
					}
					return newData;
				}())
        }] ;
        this.items = [
                {System: 'Period', Dcf_Strategy: 'Jan 2012 - Dec 2018', Buy_Hold: 'Jan 2012 - Dec 2018'},
                {System: 'CAGR', Dcf_Strategy: this.t["dcf_strat.cagr"][0][1] * 100, Buy_Hold: this.t["buy_hold.cagr"][0][1] * 100},
                {System: 'Sharpe', Dcf_Strategy: this.t["dcf_strat.sharpe"][0][1], Buy_Hold: this.t["buy_hold.sharpe"][0][1]},
                {System: 'DVR', Dcf_Strategy: this.t["dcf_strat.DVR"][0][1], Buy_Hold: this.t["buy_hold.DVR"][0][1]},
                {System: 'Volatility', Dcf_Strategy: this.t["dcf_strat.volatility"][0][1] * 100, Buy_Hold: this.t["buy_hold.volatility"][0][1] * 100},
                {System: 'Max Drawdown', Dcf_Strategy: this.t["dcf_strat.maxdrawdown"][0][1] * 100, Buy_Hold: this.t["buy_hold.maxdrawdown"][0][1] * 100},
                {System: 'Average Drawdown', Dcf_Strategy: this.t["dcf_strat.avgdrawdown"][0][1] * 100, Buy_Hold: this.t["buy_hold.avgdrawdown"][0][1] * 100},
                {System: 'VaR', Dcf_Strategy: this.t["dcf_strat.var"][0][1] * 100, Buy_Hold: this.t["buy_hold.var"][0][1] * 100},
                {System: 'CVaR', Dcf_Strategy: this.t["dcf_strat.cvar"][0][1] * 100, Buy_Hold: this.t["buy_hold.cvar"][0][1] * 100},
                {System: 'Exposure', Dcf_Strategy: this.t["dcf_strat.exposure"][0][1] * 100, Buy_Hold: this.t["buy_hold.exposure"][0][1] * 100},
            ]
            
            })
        .catch(e => {
        alert("ff");

        })
     }
}
</script>

<style>

</style>
