<template>
  <AppHeaderDropdown right no-caret>
    <template slot="header">
      <i class="icon-envelope-letter"></i>
      <b-badge pill variant="info">{{itemsCount}}</b-badge>
    </template>
    <template slot="dropdown">
      <div v-if="all_notif == null" class="dropdown-menu-lg" >
        <b-dropdown-header tag="div" class="text-center"><strong>No notifications</strong></b-dropdown-header>
      </div>
      <div v-else class="dropdown-menu-lg" >
        <b-dropdown-header tag="div" class="text-center"><strong>You have {{itemsCount}} notifications</strong></b-dropdown-header>
        <b-dropdown-item>
          <div class="message">
            <div>
              <small class="font-weight-bold"> {{this.all_notif[0].category}} </small>
              <small class="text-muted float-right mt-1"> {{this.all_notif[0].date}} </small>
            </div>
            <div class="small text-truncate"> {{this.all_notif[0].message}} </div>
          </div>
        </b-dropdown-item>
        <b-dropdown-item href="#">
          <div class="message">
            <div>
              <small class="font-weight-bold"> {{this.all_notif[1].category}} </small>
              <small class="text-muted float-right mt-1"> {{this.all_notif[1].date}} </small>
            </div>
            <div class="small text-truncate">  {{this.all_notif[1].message}}  </div>
          </div>
        </b-dropdown-item>
        <!-- <b-dropdown-item href="#">
          <div class="message">
            <div class="pt-3 mr-3 float-left">
              <div class="avatar">
                <img src="img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
                <span class="avatar-status bg-danger"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">Janet Doe</small>
              <small class="text-muted float-right mt-1">1:52 PM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>
          </div>
        </b-dropdown-item>
        <b-dropdown-item href="#">
          <div class="message">
            <div class="pt-3 mr-3 float-left">
              <div class="avatar">
                <img src="img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com"/>
                <span class="avatar-status bg-info"></span>
              </div>
            </div>
            <div>
              <small class="text-muted">Joe Doe</small>
              <small class="text-muted float-right mt-1">4:03 AM</small>
            </div>
            <div class="text-truncate font-weight-bold">Lorem ipsum dolor sit amet</div>
            <div class="small text-muted text-truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt...</div>
          </div>
        </b-dropdown-item> -->
        <b-dropdown-item href="#" class="text-center"><strong>View all messages</strong></b-dropdown-item>
      </div>
    </template>
  </AppHeaderDropdown>
</template>
<script>
import { HeaderDropdown as AppHeaderDropdown } from '@coreui/vue'
import axios from 'axios';
export default {
  name: 'DefaultHeaderDropdownMssgs',
  components: {
    AppHeaderDropdown
  },
  data: () => {
    return { 
        itemsCount: 2 ,
        all_notif: []
      }
  },
  created() {
      axios.get(this.$cookies.get('api_url')+'Get_notification/?username='+this.$cookies.get('username'))
      .then(response => {
        this.posts = response.data,
        this.posts = this.posts[1].all_notif,
        this.all_notif = JSON.parse(this.posts);
              
          })
      .catch(e => {
        this.all_notif = null,
        this.itemsCount = 0
      })
  }
}
</script>
