<template>
    <b-button title="Portfolio" variant="secondary" to="/home/portfolio_list" class="custom">
      <i class="fa fa-folder-open-o fa-lg mt-2"></i><b-badge pill variant="danger">{{itemsCount}}</b-badge>
    </b-button>
</template>

<script>
import axios from 'axios';
export default {
  name: 'PortfolioCart',
  data: () => {
    return { 
        itemsCount: null,
        items: []
     }
  },
  created() {
    axios.get(this.$cookies.get('api_url')+'Get_Portfolio/?username='+this.$cookies.get('username'))
    .then(response => {
      this.posts = response.data,
      this.posts = this.posts[2].Portfolio,
      this.items = JSON.parse(this.posts),
      this.itemsCount = Object.keys(this.items).length
        })
    .catch(e => {
      this.itemsCount = null

    })  
  }
}
</script>
<style>
    .custom {
        margin-left: -7px;
        margin-right: -9px;
        border: none;
        /* background-color: #f0f3f5; */
    }
</style>


