<template>
<div class="bg-image app flex-row align-items-center animated fadeIn">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="8">
    <b-card>
          <div slot="header">
            <strong>Change Password</strong> 
          </div>
          <b-form>
            <b-form-group
              label="Username :"
              label-for="horizUser"
              description="Please enter your username."
              :label-cols="3"
              :horizontal="true">
              <b-form-input id="horizUser" type="text" v-model="username" :disabled="true" autocomplete="username"></b-form-input>
            </b-form-group>
            <b-form-group
              label="New Password :"
              label-for="horizPass"
              description="Please enter your password."
              :label-cols="3"
              :horizontal="true">
              <b-form-input id="horizPass" type="password" v-model="password" placeholder="Enter Password.." autocomplete="new-password"></b-form-input>
            </b-form-group>
            <b-form-group
              label="Verification Code :"
              label-for="horizCode"
              description="Please enter the 6 digit one time verification code sent to your e-mail."
              :label-cols="3"
              :horizontal="true">
              <b-form-input id="horizCode" type="text" v-model="code" placeholder="Enter verification code.." autocomplete="code"></b-form-input>
            </b-form-group>
            <!-- <b-form-group
              label="Confirm Password :"
              label-for="horizPass1"
              description="Re-enter your password."
              :label-cols="3"
              :horizontal="true">
              <b-form-input id="horizPass1" type="password" placeholder="Confirm Password.." autocomplete="current-password"></b-form-input>
            </b-form-group> -->
            <div slot="footer">
              <b-button type="submit" size="sm" style="background-color: rgb(189, 55, 99); color:white; border:none;" @click="forget"><i class="fa fa-dot-circle-o"></i> Submit</b-button>
              <!-- <b-button type="reset" class="float-right" size="sm" variant="danger"><i class="fa fa-ban"></i> Reset</b-button> -->
              <b-button variant="link" style="color: #286090;" class="float-right" to="/login" >Back to Login!</b-button>
            </div>
          </b-form>
        </b-card>
        </b-col>
      </b-row>
    </div>
</div>
</template>

<script>
import Vue from 'vue'
import VueNotifications from 'vue-notifications'
import miniToastr from 'mini-toastr'// https://github.com/se-panfilov/mini-toastr
import axios from 'axios';

const toastTypes = {
  success: 'success',
  error: 'error',
  info: 'info',
  warn: 'warn'
}

miniToastr.setIcon('error', 'i', {'class': 'fa fa-warning'})
miniToastr.setIcon('warn', 'i', {'class': 'fa fa-warning'})
miniToastr.setIcon('info', 'i', {'class': 'fa fa-info-circle'})
miniToastr.setIcon('success', 'i', {'class': 'fa fa-check-circle-o'})

miniToastr.init({types: toastTypes})

function toast ({title, message, type, timeout, cb}) {
  return miniToastr[type](message, title, timeout, cb)
}

const options = {
  success: toast,
  error: toast,
  info: toast,
  warn: toast
}
//  VueNotifications.setPluginOptions(options)

Vue.use(VueNotifications, options)

export default {
    name: 'ForgetPassword',
    data() {
        return{
            username: null,
            password: null,
            code: null,
            receiver : null,
            otp: null,
            subject: 'Finflock Systems - Reset Password',
            body: null
        }
    },
    notifications: {
          showSuccessMsg: {
            type: VueNotifications.types.success,
            title: 'Password Change successfully!',
            message: 'Login now.'
          },
          emptyErrorMsg: {
            type: VueNotifications.types.error,
            title: 'Password Change failed!',
            message: 'Please enter the required fields.'
          },
          otpErrorMsg: {
            type: VueNotifications.types.error,
            title: 'Password Change failed!',
            message: 'Enter the correct verification code.'
          },
            errorForget: {
            type: VueNotifications.types.warn,
            title: 'Try again!',
            message: 'Please don\'t reload Forget Password page.'
            }
        },
    methods: {
        forget() {
            if(this.code == this.otp) {
            var myString   = this.password;
            var myPassword = this.password;
            var AES = require("crypto-js/aes");
            var CryptoJS = require("crypto-js");
            var encrypted = CryptoJS.AES.encrypt(myString, myPassword);
            var encrypted = encrypted.toString();
            var res = encrypted.replace(" ", "+");

            axios.get('https://www.finflock.com/api/ForgetPassword/?username='+this.username+'&password='+res)
                  .then(response => {
                    this.posts = response.data;
                    this.showSuccessMsg();
                    this.$router.replace({ name: "Login" });
                                                
                      })
                  .catch(e => {
                    this.errors.push(e)

                  })
            } else {
                        this.otpErrorMsg();
                        // alert("wrong otp");
                    }
        }
    },
    created() {
        axios.get('https://www.finflock.com/api/Login/?username='+this.$parent.input.username)
                .then(response => {
                this.posts = response.data;
                this.username = this.posts[2].Username;
                this.receiver = this.posts[3].Email;
                const params = new URLSearchParams();
                this.otp = Math.floor(Math.random() * 899999 + 100000);
                this.body = "This is your one time verification code - "+ this.otp;
                params.append('receiver', this.receiver);
                params.append('subject', this.subject);
                params.append('body', this.body);
              
                axios({
                  method: 'post',
                  url: 'https://www.finflock.com/api/emailapi/',
                  data: params
                })
                .then(function (response) {
                  console.log(response);
                })
                .catch(function (error) {
                  console.log(error);
                });        
                       
                    })
                    .catch(error => {
                      this.$router.replace({ name: "Login" }); 
                      this.errorForget();
                    })
    }

}
</script>

<style>
  .bg-image {
    background-color: #222328;
    position: relative;
    background-image: url("../../public/img/umbrella-bg.jpg");
    background-repeat: repeat;
    
}
.card-header {
  color: white;
  background-color: #286090;
}
</style>
