<template>
  <div class="bg-image app flex-row align-items-center animated fadeIn">
    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="6">
          <div class="clearfix">
            <!-- <h1 class="text-light float-left display-3 mr-4">404</h1> -->
            <h1 class="text-light pt-3 text-center">Coming soon!</h1>
            <p class="text-muted mt-4 text-center">Work in progress.</p>
          </div>
          <!-- <b-input-group>
            <b-input-group-prepend>
              <b-input-group-text>
                <i class="fa fa-search"></i>
              </b-input-group-text>
            </b-input-group-prepend>
            <input id="prependedInput" class="form-control" size="16" type="text" placeholder="What are you looking for?">
            <b-input-group-append>
              <b-button variant="info">Search</b-button>
            </b-input-group-append>
          </b-input-group> -->
          <!-- <hr class="bg-teal mt-5 mb-4"> -->
        </b-col>
      </b-row>
    <b-row class="text-light justify-content-center mt-3 h5">
        <!-- Go to &nbsp;<router-link to="/home" >Dashboard</router-link> -->
        <b-button variant="primary" class="p-2" to="/home"> <i class="fa fa-arrow-left mr-2"></i> Go to Dashboard </b-button>
    </b-row>
      
    </div>
  </div>
</template>

<script>
export default {
  name: 'Page404'
}
</script>

<style>
.bg-image {
    background-color: #222328;
    position: relative;
    background-image: url("../../public/img/umbrella-bg.jpg");
    background-repeat: repeat;
    
}
</style>

