<template>
  <div class="bg-image app flex-row align-items-center animated fadeIn">

<!-- DESKTOP NAVBAR -->
  <b-navbar toggleable="md" type="dark" variant="faded" style="background-color: #286090;" class="mt-0 d-md-down-none" fixed="top">
    <div class="container">
    <b-navbar-brand class="display-1" href="#"> <strong class="mr-1"> <i class="fa fa-bar-chart fa-lg mr-2"></i> finRASS  </strong> - <small class="text-secondary ml-1">Finflock Systems Pvt. Ltd. </small> </b-navbar-brand>
    <b-navbar-nav class="ml-auto">
      <b-nav-item class="font-lg" href="http://www.finflock.com">Home</b-nav-item>
      <b-nav-item class="font-lg" to="/info">Services</b-nav-item>
      <b-nav-item class="font-lg" to="/info">Products</b-nav-item>
      <b-nav-item class="font-lg" to="/info">Pricing</b-nav-item>
      <b-nav-item class="font-lg" to="/info">Blog</b-nav-item>
      <b-nav-item class="font-lg" to="/info">Team</b-nav-item>
      <b-nav-item class="font-lg" to="/info">Contact</b-nav-item>
      <b-nav-item class="font-lg" to="/info">More</b-nav-item>
    </b-navbar-nav>
    </div>
</b-navbar>

<!-- MOBILE NAVBAR -->
<b-navbar toggleable="md" type="dark" variant="primary" class="d-lg-none" fixed="top">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand class="display-1" href="#"> <strong> <i class="fa fa-bar-chart fa-lg mr-2"></i> Finflock Systems Pvt. Ltd. </strong> </b-navbar-brand>
    <b-collapse is-nav id="nav_collapse">
    <b-navbar-nav class="ml-auto">
      <b-nav-item class="font-lg" href="http://www.finflock.com">Home</b-nav-item>
      <b-nav-item class="font-lg" to="/info">Services</b-nav-item>
      <b-nav-item class="font-lg" to="/info">Products</b-nav-item>
      <b-nav-item class="font-lg" to="/info">Pricing</b-nav-item>
      <b-nav-item class="font-lg" to="/info">Blog</b-nav-item>
      <b-nav-item class="font-lg" to="/info">Team</b-nav-item>
      <b-nav-item class="font-lg" to="/info">Contact</b-nav-item>
      <b-nav-item class="font-lg" to="/info">More</b-nav-item>
    </b-navbar-nav>
    </b-collapse>
</b-navbar>




    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="8">
          <b-card-group>

            <!-- DESKTOP LOGIN FORM -->
            <b-card no-body class="p-4 d-md-down-none">
              <b-card-body>
                <b-form>
                  <h1>Login </h1> 
                  <p class="text-muted">Sign In to your account</p>
                  <b-input-group class="mb-3">
                    <b-input-group-prepend><b-input-group-text><i class="icon-user"></i></b-input-group-text></b-input-group-prepend>
                    <b-form-input type="text" class="form-control" name="username" v-model="$parent.input.username" placeholder="Username" autocomplete="username email" />
                  </b-input-group>
                  <b-input-group class="mb-4">
                    <b-input-group-prepend><b-input-group-text><i class="icon-lock"></i></b-input-group-text></b-input-group-prepend>
                    <b-form-input type="password" class="form-control" name="password" v-model="$parent.input.password" placeholder="Password" autocomplete="current-password" />
                  </b-input-group>
                  <b-row>
                    <b-col cols="6">
                      <b-button style="background-color: rgb(189, 55, 99); color:white; border:none;" v-on:click="login()"> <i class="icon-login icons font-1xl mr-1"></i> Login</b-button>
                    </b-col>
                    <b-col cols="6" class="text-right">
                      <b-button variant="link" style="color: #286090;" class="px-0" v-on:click="forget()" >Forgot password?</b-button>
                    </b-col>
                  </b-row>
                </b-form>
              </b-card-body>
            </b-card>

            <!-- MOBILE LOGIN FORM -->
            <b-card no-body class="p-2 d-lg-none">
              <b-card-body>
                <b-form>
                  <h1>Login </h1> 
                  <p class="text-muted">Sign In to your account</p>
                  <b-input-group class="mb-3">
                    <b-input-group-prepend><b-input-group-text><i class="icon-user"></i></b-input-group-text></b-input-group-prepend>
                    <b-form-input type="text" class="form-control" name="username" v-model="$parent.input.username" placeholder="Username" autocomplete="username email" />
                  </b-input-group>
                  <b-input-group class="mb-4">
                    <b-input-group-prepend><b-input-group-text><i class="icon-lock"></i></b-input-group-text></b-input-group-prepend>
                    <b-form-input type="password" class="form-control" name="password" v-model="$parent.input.password" placeholder="Password" autocomplete="current-password" />
                  </b-input-group>
                  <b-row>
                    <b-col cols="6">
                      <b-button style="background-color: rgb(189, 55, 99); color:white; border:none;" v-on:click="login()"> <i class="icon-login icons font-1xl mr-1"></i> Sign in</b-button>
                    </b-col>
                    <b-col cols="6" class="text-right">
                      <b-button style="background-color: rgb(189, 55, 99); color:white; border:none;" to="/register"> <i class="icon-user-follow icons font-1xl mr-1"></i> Sign up</b-button>
                    </b-col>
                  </b-row>
                  <b-button variant="link" style="color: #286090;" class="px-0 mt-2" v-on:click="forget()" >Forgot password?</b-button>
                </b-form>
              </b-card-body>
            </b-card>


            <b-card no-body class="text-white py-5 d-md-down-none" style="width:44%; border: 1px solid #286090; background-color: #286090;">
              <b-card-body class="text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Not a registered user?</p>
                  <b-button style="background-color: rgb(189, 55, 99); color:white; border:none;" class="active mt-3" to="/register"> <i class="icon-user-follow icons font-2xl mr-2"></i>Register Now!</b-button>
                </div>
              </b-card-body>
            </b-card>
          </b-card-group>
        </b-col>
      </b-row>
    </div>
    <div>
     
     <!-- DESKTOP FOOTER -->
    <b-navbar toggleable="md" type="dark" variant="" fixed="bottom" class="d-md-down-none">
    <b-navbar-brand class="font-sm" href="#"> 
        © Copyright 2019 Finflock.com,   All Rights Reserved. 
        <i id="tooltipButton-2" class="fa fa-info-circle fa-lg ml-4"></i>
        <b-tooltip target="tooltipButton-2">
            <p>This site uses cookies to give you the best, most relevant experience. By continuing to browse you are agreeing to our use of cookies.</p>
        </b-tooltip>
    </b-navbar-brand>
    <b-navbar-nav class="ml-auto">
      <b-nav-item> <b-button to="/info" size="sm" variant="facebook" class="btn-brand"><i class="fa fa-facebook"></i><span>Facebook</span></b-button> </b-nav-item>
      <b-nav-item> <b-button to="/info" size="sm" variant="twitter" class="btn-brand"><i class="fa fa-twitter"></i><span>Twitter</span></b-button> </b-nav-item>
      <b-nav-item> <b-button to="/info" size="sm" variant="linkedin" class="btn-brand"><i class="fa fa-linkedin"></i><span>LinkedIn</span></b-button> </b-nav-item>
      <b-nav-item> <b-button to="/info" size="sm" variant="google-plus" class="btn-brand"><i class="fa fa-google-plus"></i><span>Google+</span></b-button> </b-nav-item>
    </b-navbar-nav>
    </b-navbar>

    <!-- MOBILE FOOTER -->
  <TheFooter fixed class="d-lg-none" style="background-color: #73818f;">  
      <div>
        <span class="ml-1">&copy; 2019 Finflock.com </span>
      </div>
      <div class="ml-auto">
        <span class="mr-1">Follow us: </span>
        <b-button to="/info" size="sm" variant="facebook icon" class="btn-brand mr-1"><i class="fa fa-facebook"></i></b-button>
        <b-button to="/info" size="sm" variant="twitter icon" class="btn-brand mr-1"><i class="fa fa-twitter"></i></b-button>
        <b-button to="/info" size="sm" variant="google-plus icon" class="btn-brand mr-1"><i class="fa fa-google-plus"></i></b-button>
        <b-button to="/info" size="sm" variant="linkedin icon" class="btn-brand"><i class="fa fa-linkedin"></i></b-button>
      </div>
    </TheFooter>

    </div>
  </div>
</template>

<script>
import { Footer as TheFooter } from '@coreui/vue'
import Vue from 'vue'
import VueNotifications from 'vue-notifications'
import miniToastr from 'mini-toastr'// https://github.com/se-panfilov/mini-toastr
import axios from 'axios';
import VueSession from 'vue-session'
var options = {
  persist: true
}

Vue.use(VueSession, options)


const toastTypes = {
  success: 'success',
  error: 'error',
  info: 'info',
  warn: 'warn'
}

miniToastr.setIcon('error', 'i', {'class': 'fa fa-warning'})
miniToastr.setIcon('warn', 'i', {'class': 'fa fa-warning'})
miniToastr.setIcon('info', 'i', {'class': 'fa fa-info-circle'})
miniToastr.setIcon('success', 'i', {'class': 'fa fa-check-circle-o'})

miniToastr.init({types: toastTypes})

function toast ({title, message, type, timeout, cb}) {
  return miniToastr[type](message, title, timeout, cb)
}

const options = {
  success: toast,
  error: toast,
  info: toast,
  warn: toast
}
//  VueNotifications.setPluginOptions(options)

Vue.use(VueNotifications, options)

    export default {
        name: 'Login',
        components: { TheFooter },
        data() {
            return {
                
                epass: null,
                dpass: null,
                receiver : null,
                subject: 'Finflock Systems - Reset Password',
                body: 'Click this link and change your password - https://www.finflock.com/dashboard/#/forget'
            }
        },
        notifications: {
            emptyErrorMsg: {
            type: VueNotifications.types.error,
            title: 'Login Failed !',
            message: 'Username and Password required.'
            },
            wrongUsername: {
            type: VueNotifications.types.error,
            title: 'Login Failed !',
            message: 'Wrong username entered.'
            },
            wrongPassword: {
            type: VueNotifications.types.error,
            title: 'Login Failed !',
            message: 'Wrong password entered.'
            },
            loginSuccessMsg: {
            type: VueNotifications.types.success,
            title: 'Successful login',
            message: 'Welcome to finflock.com!'
            },
            errorForget: {
            type: VueNotifications.types.error,
            title: 'Username not found!',
            message: 'Please enter correct username.'
            }
        },
        methods: {
            login() {
                // if(this.input.username != "" && this.input.password != "") {
                //     if(this.input.username == this.mockAccount.username && this.input.password == this.mockAccount.password) {
                //         this.$emit("authenticated", true);
                //         this.$router.replace({ name: "Home" });
                //     } else {
                //         alert("The username and / or password is incorrect");
                //     }
                // } else {
                //     alert("A username and password must be present");
                // }


                // axios.get('https://www.finflock.com/api/Login/?username='+this.input.username+'&password='+this.input.password)
                // .then(response => {
                // this.posts = response.data;
                // if(this.input.username != "" && this.input.password != "") {
                //         if(this.posts == "True") {
                //             this.$emit("authenticated", true);
                //             this.$router.replace({ name: "Home" });
                //         } else {
                //             alert("The username and / or password is incorrect");
                //         }
                //     } else {
                //         alert("A username and password must be present");
                //     }
                        
                //     })
                // .catch(e => {
                // this.errors.push(e)

                // })

                if(this.$parent.input.username != "" && this.$parent.input.password != "") {
                axios.get('https://www.finflock.com/api/Login/?username='+this.$parent.input.username)
                .then(response => {
                this.posts = response.data;
                var encrypted = this.posts[1].Password;
                // var encrypted = encrypted.replace(" ", "+");
                var encrypted = encrypted.split(' ').join('+');
                // alert(encrypted);
                this.epass = encrypted;
                var AES = require("crypto-js/aes");
                var CryptoJS = require("crypto-js"); 
                var myPassword = this.$parent.input.password;
                var decrypted = CryptoJS.AES.decrypt(encrypted, myPassword);
                var decrypted = decrypted.toString(CryptoJS.enc.Utf8);
                
                // this.dpass = decrypted;

                
                        if(this.$parent.input.username == this.posts[2].Username && this.$parent.input.password == decrypted) {
                          this.$session.start();
                          this.$session.set('username', this.posts[2].Username);
                          this.$session.set('api_url', 'https://www.finflock.com/api/');
                          // this.$session.set('api_url', 'http://127.0.0.1:8000/api/');
                          // this.$cookies.set('api_url','http://127.0.0.1:8000/api/');
                          this.$cookies.set('api_url','https://www.finflock.com/api/');
                          this.$cookies.set('nse_api_url','https://www.travelolot.com/api/');
                          this.$cookies.set('username', this.posts[2].Username);
                            // this.$emit("authenticated", true);
                            this.$router.replace({ name: "Home" });
                            this.loginSuccessMsg();
                        } else {
                            this.wrongPassword(); 
                            this.$parent.input.password = null
                        }
                    
                        
                    })
                    .catch(error => {
                    this.wrongUsername(); 
                    })
                } else {
                       this.emptyErrorMsg();
                    }
                
            },
            forget () {
              axios.get('https://www.finflock.com/api/Login/?username='+this.$parent.input.username)
                .then(response => {
                this.posts = response.data;      
                this.$router.replace({ name: "Forget Password" });     
                    })
                    .catch(error => {
                      this.errorForget();
                    })
            }
            // forgot() {
            //   axios.get('https://www.finflock.com/api/Login/?username='+this.$parent.input.username)
            //     .then(response => {
            //     this.posts = response.data;
            //     this.receiver = this.posts[3].Email;
            //     const params = new URLSearchParams();
            //     params.append('receiver', this.receiver);
            //     params.append('subject', this.subject);
            //     params.append('body', this.body);
              
            //     axios({
            //       method: 'post',
            //       url: 'https://www.finflock.com/api/emailapi/',
            //       data: params
            //     })
            //     .then(function (response) {
            //       console.log(response);
            //     })
            //     .catch(function (error) {
            //       console.log(error);
            //     });        
                       
            //         })
            //         .catch(error => {
            //         this.errors.push(e)
            //         })
                    
            // }
        }
        // beforeCreate: function () {
        //   if (this.$session.exists()) {
        //     this.$router.replace({ name: "Home" });
        //   }
        // }
          }
</script>

<style>
.bg-image {
    background-color: #222328; 
    position: relative;
    background-image: url("../../public/img/umbrella-bg.jpg");
    background-repeat: repeat;
    
}
</style>

