<template>
  <div class="bg-image app flex-row align-items-center animated fadeIn">

    <!-- DESKTOP NAVBAR -->
  <b-navbar toggleable="md" type="dark" variant="faded" Style="background-color: #286090;" class="mt-0 d-md-down-none" fixed="top">
    <div class="container">
    <b-navbar-brand class="display-1" href="#"> <strong class="mr-1"> <i class="fa fa-bar-chart fa-lg mr-2"></i> finRASS  </strong> - <small class="text-secondary ml-1">Finflock Systems Pvt. Ltd. </small> </b-navbar-brand>
    <b-navbar-nav class="ml-auto">
      <b-nav-item class="font-lg" href="#">Home</b-nav-item>
      <b-nav-item class="font-lg" href="#">Services</b-nav-item>
      <b-nav-item class="font-lg" href="#">Products</b-nav-item>
      <b-nav-item class="font-lg" href="#">Pricing</b-nav-item>
      <b-nav-item class="font-lg" href="#">Blog</b-nav-item>
      <b-nav-item class="font-lg" href="#">Team</b-nav-item>
      <b-nav-item class="font-lg" href="#">Contact</b-nav-item>
      <b-nav-item class="font-lg" href="#">More</b-nav-item>
    </b-navbar-nav>
    </div>
</b-navbar>

<!-- MOBILE NAVBAR -->
<b-navbar toggleable="md" type="dark" variant="primary" class="container d-lg-none" fixed="top">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <b-navbar-brand class="display-1" href="#"> <strong> <i class="fa fa-bar-chart fa-lg mr-2"></i> Finflock Systems Pvt. Ltd. </strong> </b-navbar-brand>
    <b-collapse is-nav id="nav_collapse">
    <b-navbar-nav class="ml-auto">
      <b-nav-item class="font-lg" href="#">Home</b-nav-item>
      <b-nav-item class="font-lg" href="#">Services</b-nav-item>
      <b-nav-item class="font-lg" href="#">Products</b-nav-item>
      <b-nav-item class="font-lg" href="#">Pricing</b-nav-item>
      <b-nav-item class="font-lg" href="#">Blog</b-nav-item>
      <b-nav-item class="font-lg" href="#">Team</b-nav-item>
      <b-nav-item class="font-lg" href="#">Contact</b-nav-item>
      <b-nav-item class="font-lg" href="#">More</b-nav-item>
    </b-navbar-nav>
    </b-collapse>
</b-navbar>


    <div class="container">
      <b-row class="justify-content-center">
        <b-col md="6" sm="8">
          <b-card no-body class="mx-2">
            <b-card-body class="p-3">
              <b-form>
                <h1>Register</h1> 
                <p class="text-muted">Create your account</p>
                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text><i class="icon-user"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="text" class="form-control" v-model="input.username" placeholder="Username" autocomplete="username" />
                </b-input-group>

                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text><i class="icon-user"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="text" class="form-control" v-model="input.name" placeholder="Name" autocomplete="name" />
                </b-input-group>

                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text><i class="icon-user"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="text" class="form-control" v-model="input.IB_user" placeholder="Interactive Brokers Username  (optional)" autocomplete="Interactive Brokers" />
                </b-input-group>

                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text>@</b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="text" class="form-control" v-model="input.email" placeholder="Email" autocomplete="email" />
                </b-input-group>

                <b-input-group class="mb-3">
                  <b-input-group-prepend>
                    <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="password" class="form-control" v-model="input.password" placeholder="Password" autocomplete="password" />
                </b-input-group>

                <b-input-group class="mb-3" v-if="otp_check != 0" description="Let us know your full name.">
                  <b-input-group-prepend>
                    <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="text" class="form-control" v-model="input.code" placeholder="Verification Code" autocomplete="otp" />
                </b-input-group>

                <!-- <b-input-group class="mb-4">
                  <b-input-group-prepend>
                    <b-input-group-text><i class="icon-lock"></i></b-input-group-text>
                  </b-input-group-prepend>
                  <b-form-input type="password" class="form-control" placeholder="Repeat password" autocomplete="new-password" />
                </b-input-group> -->

                <b-row class="mt-4 mb-2">
                    <b-col cols="4">
                      <b-button v-if="otp_check == 0" style="background-color: rgb(189, 55, 99); color:white; border:none;" v-on:click="verification()"> <i class="icon-login icons font-1xl mr-1"></i> Create Account</b-button>
                      <b-button v-else style="background-color: rgb(189, 55, 99); color:white; border:none;" v-on:click="register()"> <i class="icon-login icons font-1xl mr-1"></i>Verify Account</b-button>
                    </b-col>
                    <b-col cols="8" class="text-right">
                      <b-button variant="link" style="color: #286090;" class="px-0" to="/login" >Sign In!</b-button>
                    </b-col>
                </b-row>

                <!-- <b-button v-if="otp_check == 0" variant="success" block  v-on:click="verification()">Create Account</b-button>
                <b-button v-else variant="success" block  v-on:click="register()">Verify Account</b-button>
                 -->
              </b-form>
            </b-card-body>
            <!-- <b-card-footer class="p-4">
 
                <b-button variant="youtube" block to="/login">Already a registered User? &nbsp; Sign In here</b-button>
        
            
            </b-card-footer> -->
          </b-card>
        </b-col>
      </b-row>
    </div>

    <div>
       <!-- DESKTOP FOOTER -->
    <b-navbar toggleable="md" type="dark" variant="" fixed="bottom" class="mb-1 d-md-down-none">
    <b-navbar-brand class="font-sm" href="#">  © Copyright 2019 Finflock.com,   All Rights Reserved.  </b-navbar-brand>
    <b-navbar-nav class="ml-auto">
      <b-nav-item> <b-button size="sm" variant="facebook" class="btn-brand"><i class="fa fa-facebook"></i><span>Facebook</span></b-button> </b-nav-item>
      <b-nav-item> <b-button size="sm" variant="twitter" class="btn-brand"><i class="fa fa-twitter"></i><span>Twitter</span></b-button> </b-nav-item>
      <b-nav-item> <b-button size="sm" variant="linkedin" class="btn-brand"><i class="fa fa-linkedin"></i><span>LinkedIn</span></b-button> </b-nav-item>
      <b-nav-item> <b-button size="sm" variant="google-plus" class="btn-brand"><i class="fa fa-google-plus"></i><span>Google+</span></b-button> </b-nav-item>
    </b-navbar-nav>
    </b-navbar>

    <!-- MOBILE FOOTER -->
  <TheFooter fixed class="d-lg-none" style="background-color: #73818f;">  
      <div>
        <span class="ml-1">&copy; 2019 Finflock.com </span>
      </div>
      <div class="ml-auto">
        <span class="mr-1">Follow us: </span>
        <b-button size="sm" variant="facebook icon" class="btn-brand mr-1"><i class="fa fa-facebook"></i></b-button>
        <b-button size="sm" variant="twitter icon" class="btn-brand mr-1"><i class="fa fa-twitter"></i></b-button>
        <b-button size="sm" variant="google-plus icon" class="btn-brand mr-1"><i class="fa fa-google-plus"></i></b-button>
        <b-button size="sm" variant="linkedin icon" class="btn-brand"><i class="fa fa-linkedin"></i></b-button>
      </div>
    </TheFooter>
    </div>

  </div>
</template>

<script>
import { Footer as TheFooter } from '@coreui/vue'
import Vue from 'vue'
import VueNotifications from 'vue-notifications'
import miniToastr from 'mini-toastr'// https://github.com/se-panfilov/mini-toastr
import axios from 'axios';

const toastTypes = {
  success: 'success',
  error: 'error',
  info: 'info',
  warn: 'warn'
}

miniToastr.init({types: toastTypes})

function toast ({title, message, type, timeout, cb}) {
  return miniToastr[type](message, title, timeout, cb)
}

const options = {
  success: toast,
  error: toast,
  info: toast,
  warn: toast
}
//  VueNotifications.setPluginOptions(options)

Vue.use(VueNotifications, options)

export default {
  name: 'Register',
  components : { TheFooter },
  data() {
    
            return {
                input: {
                    username: "",
                    name: "",
                    IB_user: "",
                    email: "",
                    password: "",
                    code: ""
                },
                temp : "",
                otp: null,
                otp_check: 0,
                receiver : null,
                subject: null,
                body: null
                
            }
        },
        notifications: {
          showSuccessMsg: {
            type: VueNotifications.types.success,
            title: 'Registeration successful!',
            message: 'Redirecting to login page.'
          },
          emptyErrorMsg: {
            type: VueNotifications.types.error,
            title: 'Registeration failed!',
            message: 'Please enter the required fields.'
          },
          userErrorMsg: {
            type: VueNotifications.types.error,
            title: 'Registeration failed!',
            message: 'Username not available. Try another.'
          },
          emailErrorMsg: {
            type: VueNotifications.types.error,
            title: 'Registeration failed!',
            message: 'Email already registered. Try another.'
          },
          otpErrorMsg: {
            type: VueNotifications.types.error,
            title: 'Registeration failed!',
            message: 'Enter the correct verification code.'
          },
          enterCodeMsg: {
            type: VueNotifications.types.info,
            title: 'Check your email!',
            message: 'Enter the verification code.'
          }
        },
        methods: {
          verification() {
            if(this.input.username != "" && this.input.name != "" && this.input.email != "" && this.input.password != "") {
                


                axios.get('https://www.finflock.com/api/Register/?username='+this.input.username+'&password=&name=&email='+this.input.email+'&IB=&flag=F')
                  .then(response => {
                    this.posts = response.data;

                    if(this.posts == "Success") {
                      this.enterCodeMsg();


                      this.otp_check = 1;
                      this.receiver = this.input.email;
                      this.subject = "Finflock Systems - Verify your account.";
                      this.otp = Math.floor(Math.random() * 899999 + 100000);
                      this.body = "This is your one time verification code - "+ this.otp;

                      const params = new URLSearchParams();
                      params.append('receiver', this.receiver);
                      params.append('subject', this.subject);
                      params.append('body', this.body);

                      axios({
                        method: 'post',
                        url: 'https://www.finflock.com/api/emailapi/',
                        data: params
                      })
                      .then(function (response) {
                        console.log(response);
                      })
                      .catch(function (error) {
                        console.log(error);
                      });
                      
                    }
                    else if(this.posts == "UsernameE") {
                      this.userErrorMsg();
                    }
                    else if(this.posts == "EmailE") {
                      this.emailErrorMsg();
                    }
                            
                      })
                  .catch(e => {
                    this.errors.push(e)

                  })

                
                } else {
                        this.emptyErrorMsg();
                    }
            },
            register() {

                if(this.input.code == this.otp) {
                  var myString   = this.input.password;
                  var myPassword = this.input.password;
                  var AES = require("crypto-js/aes");
                  var CryptoJS = require("crypto-js");
                  var encrypted = CryptoJS.AES.encrypt(myString, myPassword);
                  var encrypted = encrypted.toString();
                  var res = encrypted.replace(" ", "+");
                  // this.temp = encrypted;

                  // https://www.finflock.com/api/Register/?username=&password=&name=&email=&IB=

                  axios.get('https://www.finflock.com/api/Register/?username='+this.input.username+'&password='+res+'&name='+this.input.name+'&email='+this.input.email+'&IB='+this.input.IB_user+'&flag=T')
                  .then(response => {
                    this.posts = response.data;

                    if(this.posts == "Success") {
                      this.showSuccessMsg();
                      this.$router.replace({ name: "Login" });
                    }
                    else if(this.posts == "UsernameE") {
                      this.userErrorMsg();
                    }
                    else if(this.posts == "EmailE") {
                      this.emailErrorMsg();
                    }
                            
                      })
                  .catch(e => {
                    alert("1234");

                  })
                 
                } else {
                        this.otpErrorMsg();
                    }
                
            }
        }
}
</script>

<style>
.bg-image {
    background-color: #222328;
    position: relative;
    background-image: url("../../public/img/umbrella-bg.jpg");
    background-repeat: repeat;
    
}
</style>
