<template>
<!-- <div > -->
  <!-- <router-view @authenticated="setAuthenticated"></router-view> -->
  <router-view ></router-view>
<!-- </div> -->
</template>

<script>

export default {
  name: 'app',
        data() {
            return {
                api_urll: 'https://www.finflock.com/',
                input: {
                    username: "",
                    password: ""
                }
            }
        },
  // methods: {
  //   setAuthenticated(status) {
  //               this.authenticated = status;
  //           }
  // }
}
</script>

<style lang="scss">
  // CoreUI Icons Set
  @import '~@coreui/icons/css/coreui-icons.min.css';
  /* Import Font Awesome Icons Set */
  $fa-font-path: '~font-awesome/fonts/';
  @import '~font-awesome/scss/font-awesome.scss';
  /* Import Simple Line Icons Set */
  $simple-line-font-path: '~simple-line-icons/fonts/';
  @import '~simple-line-icons/scss/simple-line-icons.scss';
  /* Import Flag Icons Set */
  @import '~flag-icon-css/css/flag-icon.min.css';
  /* Import Bootstrap Vue Styles */
  @import '~bootstrap-vue/dist/bootstrap-vue.css';
  // Import Main styles for this application
  @import 'assets/scss/style';
  // .qwerty{
  // @import 'assets/scss/style_dark';
// }
</style>





